#### Задание 1
1. Импортируйте библиотеку Numpy и дайте ей псевдоним np. Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй — числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец — это признак, а строка — наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [11]:
import numpy as np

In [58]:
a = np.array([[1, 6], 
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])

In [59]:
mean_a = a.mean(axis=0)

In [60]:
print(f"Средние значения по каждому признаку: {mean_a}")

Средние значения по каждому признаку: [2.  8.4]

#### Задание 2
2. Вычислите массив a_centered, отняв от значений массива а средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [36]:
a_centered = a - mean_a.reshape(1,2)
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

#### Задание 3
3. Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N — число наблюдений.

In [50]:
a_centered_sp = a_centered[:,0] @ a_centered[:,1] 
print(a_centered_sp)

8.0

In [55]:
N = a_centered.shape[0]
print(a_centered_sp/(N-1))

2.0

#### Задание 4
4. Число, которое мы получили в конце задания 3, является ковариацией двух признаков, содержащихся в массиве а. В задании 3 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь: https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом — с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив a. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [56]:
a_cov = np.cov(a.T)
print(a_cov)

[[1.  2. ]
 [2.  4.3]]

In [57]:
print(a_cov[0][1])

2.0

#### Задание 5
5. Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский']. Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: [1, 1, 1, 2, 2, 3, 3], ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], [450, 300, 350, 500, 450, 370, 290].

In [61]:
import pandas as pd

In [62]:
a = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

authors = pd.DataFrame(a)
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [65]:
b = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо',
                   'Толстый и тонкий', 'Дама с собачкой', 'Гроза',
                   'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}

books = pd.DataFrame(b)
print(books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

#### Задание 6
6. Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [75]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

#### Задание 7
7. Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [78]:
top5 = authors_price.copy()
top5.sort_values(by="price", ascending=False, inplace=True)
top5.reset_index(drop=True, inplace=True)
top5.drop(5, axis=0, inplace=True)
top5.drop(6, axis=0, inplace=True)
print(top5)

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350

#### Задание 8
8. Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца: author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [104]:
authors_stat = authors_price.copy()
authors_stat.drop("author_id", axis=1, inplace=True)
authors_stat.drop("book_title", axis=1, inplace=True)
groupby = authors_stat.groupby("author_name")
print(authors_stat)
a = groupby.mean()
print(a)

  author_name  price
0    Тургенев    450
1    Тургенев    300
2    Тургенев    350
3       Чехов    500
4       Чехов    450
5  Островский    370
6  Островский    290
                  price
author_name
Островский   330.000000
Тургенев     366.666667
Чехов        475.000000

In [93]:
groupby.max()

             price
author_name
Островский     370
Тургенев       450
Чехов          500

In [94]:
groupby.min()

             price
author_name
Островский     290
Тургенев       300
Чехов          450