### Импорт необходимых библиотек:

In [110]:
import numpy as np
import pandas as pd

### Загрузка данных:

In [111]:
TRAIN_PATH = 'train.csv'
TEST_PATH = 'test.csv'

In [112]:
df = pd.read_csv(TRAIN_PATH)
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [113]:
df.shape

(10000, 20)

### Приведение типов данных:

In [114]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

#### Количество комнат не может быть дробным:

In [115]:
df['Rooms'] = df['Rooms'].astype(int)

#### Номер этажа не может быть дробным:

In [116]:
df['Floor'] = df['Floor'].astype(int)

#### Количество этажей в доме не может быть дробным:

In [117]:
df['HouseFloor'] = df['HouseFloor'].astype(int)

In [118]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms              int32
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int32
HouseFloor         int32
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

### Обзор количественных переменных:

In [119]:
df_num_features = df.select_dtypes(include=['float64', 'int64','int32'])
df_num_features.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
0,14038,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,33,7976,5,NaN,0,11,184966.930730
1,15053,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,46,10309,1,240.0,1,16,300009.450063
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,34,7759,0,229.0,1,3,220925.908524
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,23,5735,3,1084.0,0,5,175616.227217
4,10783,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,35,5776,1,2078.0,2,4,150226.531644

In [120]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

### Обзор номинативных переменных:

In [121]:
df_obj_features = df.select_dtypes(include='object')
df_obj_features.head()

  Ecology_2 Ecology_3 Shops_2
0         B         B       B
1         B         B       B
2         B         B       B
3         B         B       B
4         B         B       B

In [122]:
df['Ecology_2'].value_counts()

B    9903
A      97
Name: Ecology_2, dtype: int64

In [123]:
df['Ecology_3'].value_counts()

B    9725
A     275
Name: Ecology_3, dtype: int64

In [124]:
df['Shops_2'].value_counts()

B    9175
A     825
Name: Shops_2, dtype: int64

### Обработка пропусков:

In [125]:
len(df) - df.count()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

#### LifeSquare

Замена всех null значений LifeSquare медианными значениями LifeSquare с учетом количества комнат.

In [126]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 1), 'LifeSquare'] = df.loc[df['Rooms'] == 1,'LifeSquare'].median()
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 2), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 3), 'LifeSquare'] = df.loc[df['Rooms'] == 3,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 4), 'LifeSquare'] = df.loc[df['Rooms'] == 4,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 5), 'LifeSquare'] = df.loc[df['Rooms'] == 5,'LifeSquare'].median()

In [127]:
df[df['LifeSquare'].isnull()]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2269,7317,27,0,41.790881,NaN,0.0,13,0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0,49.483501,NaN,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,NaN,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112

Остаются значения с нулевыми значениями количества комнат. Ставим в них значения медианы LifeSquare для 2 комнат т.к. это значение выше 75 процентиля.

In [128]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 0), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median()

Убеждаемся в отсутствии null значений LifeSquare

In [129]:
df[df['LifeSquare'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Healthcare_1

Замена null значений Healthcare_1 на медианные значения

In [130]:
df.loc[df['Healthcare_1'].isnull(), 'Healthcare_1'] = df['Healthcare_1'].median()

Убеждаемся в отсутствии null значений Healthcare_1

In [131]:
df[df['Healthcare_1'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

### Обработка выбросов:

In [132]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,35.866626,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.758444,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,21.906744,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.552134,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,44.407075,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

#### Rooms:

In [133]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0,138.427694,136.215499,0.0,4,3,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
2269,7317,27,0,41.790881,32.552134,0.0,13,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,98129.976788
3911,770,28,0,49.483501,32.552134,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,32.552134,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6149,3159,88,0,38.697117,19.345131,9.0,9,16,1982,0.127376,B,B,43,8429,3,900.0,3,9,B,158998.110646
8834,9443,27,0,87.762616,85.125471,0.0,5,15,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,219281.918007

In [134]:
df.loc[(df['Rooms'] == 0) & (df['Square'] < 70), 'Rooms'] = 2
df.loc[(df['Rooms'] == 0) & (df['Square'] > 69) & (df['Square'] < 120), 'Rooms'] = 3
df.loc[(df['Rooms'] == 0) & (df['Square'] > 119), 'Rooms'] = 4

In [135]:
df[df['Rooms'] < 1]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Square:

In [136]:
df[(df['Square'] < 15) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1316,11526,27,1,4.633498,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1608,10202,6,1,2.596351,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1,4.380726,40.805837,1.0,10,17,2013,0.211401,B,B,9,1892,0,900.0,0,1,B,97560.720383
3413,9487,5,1,5.129222,5.549458,1.0,1,1,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
6392,14786,1,1,1.136859,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
8283,15744,34,1,1.988943,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
9294,6782,45,1,2.954309,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9613,7657,38,1,4.502784,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

Замена значений Square менее 15 квадратов в однокомнатной квартире на медианные значения в однокомнатной квартире

In [137]:
df.loc[(df['Square'] < 15) & (df['Rooms'] == 1), 'Square'] = df.loc[df['Rooms'] == 1,'Square'].median()

Смотрим есть ли еще квартиры с площадью менее 15 квадратов

In [138]:
df[df['Square'] < 15]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
4739,12676,81,3,13.784865,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4853,3224,27,2,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
4900,4504,27,3,4.390331,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
8030,13265,1,3,4.823679,79.767964,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,237716.681261

In [139]:
df[(df['Square'] < 25) & (df['Rooms'] == 2)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
4853,3224,27,2,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6945,12927,62,2,17.414181,32.552134,1.0,4,20,1977,0.072158,B,B,2,629,1,900.0,0,0,A,180750.471749

Замена значений Square менее 25 квадратов в двухкомнатной квартире на медианные значения в двухкомнатной квартире

In [140]:
df.loc[(df['Square'] < 25) & (df['Rooms'] == 2), 'Square'] = df.loc[df['Rooms'] == 2,'Square'].median()

In [141]:
df[(df['Square'] < 30) & (df['Rooms'] == 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4739,12676,81,3,13.784865,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4900,4504,27,3,4.390331,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
5617,15877,57,3,16.547242,16.698571,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
8030,13265,1,3,4.823679,79.767964,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,237716.681261

In [142]:
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3), 'Square'] = df.loc[df['Rooms'] == 3,'Square'].median()

In [143]:
df[(df['Square'] < 15) & (df['Rooms'] == 1)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [144]:
df[(df['Square'] < 25) & (df['Rooms'] == 2)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [145]:
df[(df['Square'] < 30) & (df['Rooms'] == 3)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### LifeSquare:

Смотрим есть ли однокомнатные квартиры с LifeSquare менее 10

In [147]:
df[(df['LifeSquare'] < 10) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
160,3522,6,1,66.419841,3.987101,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,193361.229815
270,15215,17,1,46.692974,5.941401,1.0,7,1,2015,0.000000,B,B,18,3374,5,620.0,1,2,B,212290.684086
363,15751,9,1,44.171793,1.251846,1.0,11,18,2017,0.161532,B,B,25,5648,1,30.0,2,4,B,134910.715588
477,8849,45,1,63.419553,2.286357,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,325600.765809
527,2141,56,1,53.733677,4.323046,1.0,24,1,2015,0.000000,B,B,23,5067,4,900.0,2,6,B,208773.977243
674,10631,88,1,42.571618,1.941521,1.0,6,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,130374.241595
695,1867,30,1,54.626206,4.651397,1.0,4,3,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,87456.520038
707,4345,62,1,49.275155,1.377284,1.0,5,1,2020,0.072158,B,B,2,629,1,900.0,0,0,A,135353.885620
734,4319,62,1,51.815214,4.203073,1.0,6,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,137880.620962
765,7060,27,1,38.651043,5.822657,1.0,7,17,1977,0.011654,B,B,4,915,0,900.0,0,0,B,103210.010325
850,2470,6,1,43.312025,1.404493,1.0,11,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,128588.741321
1169,14866,6,1,38.818170,5.927865,1.0,18,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,131405.866884
1175,3527,9,1,72.035396,2.358992,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,191744.615408
1214,6366,6,1,47.804946,2.553024,1.0,6,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,133552.372112
1316,11526,27,1,40.406590,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1410,1843,74,1,49.635712,3.411048,1.0,4,1,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,146838.036852
1504,2967,1,1,62.494611,3.489694,0.0,1,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,193568.854208
1608,10202,6,1,40.406590,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
1673,12335,9,1,60.022123,2.858369,1.0,9,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,176731.431750
1800,13113,27,1,37.805231,2.228592,11.0,6,0,2015,0.017647,B,B,2,469,0,900.0,0,0,B,137402.092529
1918,13603,63,1,127.651237,2.609712,1.0,8,17,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,594565.299770
2224,3746,62,1,46.722042,1.944446,1.0,11,12,2018,0.072158,B,B,2,629,1,900.0,0,0,A,133721.121715
2309,10285,30,1,32.271741,3.386009,1.0,4,19,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,105921.018210
2418,5989,6,1,39.251773,2.981582,1.0,17,25,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,136206.666782
2430,1317,6,1,51.460538,4.763693,1.0,25,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,142065.034795
2665,8997,74,1,43.227719,1.726270,1.0,9,17,2016,0.075779,B,B,6,1437,3,900.0,0,2,B,154565.271940
2842,3142,6,1,39.145322,4.083905,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,116981.443099
2860,12542,1,1,44.204418,1.789086,1.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,160181.048031
2898,5497,58,1,37.686426,4.977769,1.0,2,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,72950.870871
2906,10404,6,1,43.613432,3.668460,1.0,3,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,128710.472293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968,11328,74,1,40.302458,4.736100,1.0,18,17,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,162016.371387
6047,10229,1,1,45.642858,2.072088,1.0,16,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,157681.026389
6392,14786,1,1,40.406590,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
6517,2398,62,1,50.022583,1.538058,1.0,14,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,130720.196859
6609,13491,0,1,38.178277,0.370619,0.0,19,17,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,105134.286994
7028,13440,6,1,78.432890,4.044174,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,222826.758816
7045,15209,83,1,41.527079,2.077811,1.0,17,1,1977,0.007720,B,B,38,4788,2,900.0,0,4,B,214393.174037
7056,5575,27,1,41.941912,4.437475,0.0,10,0,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,113350.022423
7068,15346,30,1,37.387578,4.699898,1.0,14,22,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,109553.129485
7221,5306,96,1,49.462997,1.417155,1.0,8,15,2016,0.041116,B,B,53,14892,4,900.0,1,4,B,119791.098164
7452,8626,1,1,47.195748,1.168791,1.0,19,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,170718.296542
7719,10079,59,1,48.232741,3.288779,1.0,15,17,2017,0.019509,B,B,37,7687,11,176.0,5,5,B,207086.637307
7756,1680,58,1,47.889736,3.605019,1.0,3,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,122731.005950
7767,6927,21,1,16.117154,8.822988,0.0,2,5,1965,0.194489,B,B,47,8004,3,125.0,3,5,B,79913.267856
8065,7669,34,1,43.873302,1.973848,1.0,13,17,2015,0.069753,B,B,53,13670,4,900.0,1,11,B,204863.503174
8220,8194,30,1,42.065862,5.624248,1.0,13,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,126976.982021
8283,15744,34,1,40.406590,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
8452,14380,58,1,40.525820,4.174627,1.0,16,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,116642.983817
8715,1936,74,1,53.835574,1.185864,0.0,7,7,2018,0.075779,B,B,6,1437,3,900.0,0,2,B,185976.351147
8886,2056,9,1,47.301790,5.125908,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,138880.254465
8908,10684,22,1,41.872590,2.347250,1.0,3,1,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,136609.809831
9177,13951,45,1,39.225914,2.372105,1.0,24,24,2017,0.195781,B,B,23,5212,6,900.0,3,2,B,271893.118572
9192,1754,6,1,61.978423,3.943299,1.0,1,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,177116.339701
9294,6782,45,1,40.406590,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9299,8687,48,1,42.840915,2.608669,1.0,19,17,1977,0.041125,B,B,46,9515,5,900.0,1,10,B,236378.466217
9396,3745,30,1,42.457169,3.259832,1.0,10,25,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B,155348.833619
9576,7389,23,1,52.028804,4.295819,0.0,8,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,98638.755928
9613,7657,38,1,40.406590,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083
9813,2040,62,1,122.438148,5.751401,1.0,2,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,224900.897679
9888,6053,6,1,41.314775,5.005477,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,159149.515475

Заменяем LifeSquare медианным значением для однокомнатных квартир

In [148]:
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1), 'LifeSquare'] = df.loc[df['Rooms'] == 1,'LifeSquare'].median()

Проделываем тоже самое для 2 и 3 комнатных квартир

In [149]:
df[(df['LifeSquare'] < 20) & (df['Rooms'] == 2)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
95,4280,34,2,61.334968,4.091945,1.0,26,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,286564.441972
134,12613,6,2,65.496674,5.589324,1.0,5,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,180727.643541
279,8727,1,2,79.521221,4.634049,1.0,5,1,2017,0.007122,B,B,1,264,0,900.0,0,1,B,232726.628137
475,6333,27,2,64.049695,4.008230,1.0,5,5,2017,0.017647,B,B,2,469,0,900.0,0,0,B,189477.560210
560,8149,6,2,71.904226,4.171094,1.0,9,25,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,184050.456761
683,15091,27,2,66.535842,1.638083,1.0,6,1,1977,0.017647,B,B,2,469,0,900.0,0,0,B,175067.233991
882,1250,53,2,56.290825,5.142822,1.0,2,19,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,294282.721375
1215,6189,53,2,58.896686,5.735331,1.0,18,19,2014,0.049637,B,B,34,7759,0,229.0,1,3,B,286784.105825
1526,16559,75,2,60.610730,17.225296,5.0,5,5,1964,0.122090,B,B,29,6566,7,1894.0,4,0,B,118900.634813
1580,363,27,2,59.715762,1.595943,0.0,2,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,189331.645263
1593,9418,9,2,66.942469,5.948864,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,183976.840021
1827,16176,6,2,64.998310,1.974968,1.0,13,17,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,175065.504600
2313,5718,9,2,60.231529,2.730297,1.0,16,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,189988.834380
2350,3799,123,2,47.234446,19.363580,6.0,2,12,1980,0.000000,B,B,47,11319,0,1145.0,3,5,B,153924.162352
2403,15075,54,2,81.220434,3.289115,1.0,12,1,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,437452.971467
2455,12347,1,2,62.591303,4.775790,1.0,8,6,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,171878.679677
2713,5830,23,2,56.809859,4.037187,1.0,3,4,2015,0.034656,B,B,0,168,0,900.0,0,0,B,124695.921792
2828,6982,25,2,57.803236,5.061446,1.0,24,1,2017,0.069753,B,B,53,13670,4,900.0,1,11,B,318660.439621
2887,15402,27,2,58.521098,1.049867,1.0,4,17,2014,0.072158,B,B,2,629,1,900.0,0,0,A,142393.084641
3072,1388,54,2,74.747303,1.411101,1.0,7,22,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,431137.951634
3158,2309,6,2,61.547028,4.660610,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,173732.138747
3298,9955,6,2,64.083268,1.894269,1.0,2,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,187599.924231
3299,15760,34,2,65.235395,4.362005,1.0,8,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,336951.628930
3487,1057,27,2,54.755388,5.662233,1.0,12,17,2018,0.011654,B,B,4,915,0,900.0,0,0,B,150281.357110
3601,2108,48,2,61.136113,4.289714,1.0,23,1,2016,0.041125,B,B,46,9515,5,900.0,1,10,B,326425.621924
3730,12049,1,2,61.541353,1.242250,1.0,20,22,2014,0.007122,B,B,1,264,0,900.0,0,1,B,206168.319222
4037,5762,27,2,67.983723,1.471491,1.0,8,1,2019,0.211401,B,B,9,1892,0,900.0,0,1,B,152932.624905
4223,6196,1,2,55.828425,5.066533,1.0,9,1,2019,0.007122,B,B,1,264,0,900.0,0,1,B,183136.340415
4357,9634,27,2,60.844243,2.523987,1.0,17,17,2016,0.072158,B,B,2,629,1,900.0,0,0,A,212589.707437
4387,6318,6,2,75.994434,3.512299,1.0,22,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,190746.651322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6149,3159,88,2,38.697117,19.345131,9.0,9,16,1982,0.127376,B,B,43,8429,3,900.0,3,9,B,158998.110646
6178,740,9,2,66.542124,3.435682,1.0,2,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,181423.633875
6206,1444,30,2,66.217931,2.281565,1.0,17,17,2015,0.000078,B,B,22,6398,141,1046.0,3,23,B,153639.846840
6354,10930,9,2,65.568381,1.150046,1.0,6,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187858.706484
6514,6237,6,2,68.495636,3.064164,1.0,6,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,178486.385759
6542,15883,23,2,64.473190,2.452816,1.0,6,17,2016,0.075779,B,B,6,1437,3,900.0,0,2,B,181679.665945
6612,8199,9,2,67.981161,5.164391,1.0,9,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,205998.194897
7059,464,25,2,66.012592,3.529646,1.0,15,25,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,252748.663126
7139,8044,45,2,62.777104,1.141118,1.0,10,17,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,332118.521912
7159,6970,27,2,65.845103,2.014454,1.0,9,17,2015,0.072158,B,B,2,629,1,900.0,0,0,A,229921.804972
7370,12066,27,2,64.982383,4.479819,1.0,2,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194049.949036
7384,12245,23,2,67.032994,1.139667,1.0,3,17,1977,0.034656,B,B,0,168,0,900.0,0,0,B,185006.418232
7404,4773,75,2,68.088569,3.533997,1.0,8,1,2015,0.122090,B,B,29,6566,7,1894.0,4,0,B,311242.425922
8012,5561,27,2,58.161484,5.815532,1.0,12,12,1977,0.011654,B,B,4,915,0,900.0,0,0,B,138905.568311
8129,16501,22,2,64.186016,2.484378,1.0,10,10,2017,0.118537,B,B,30,6207,1,1183.0,1,0,B,187799.877054
8475,5803,6,2,64.682905,4.164726,1.0,12,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,186246.253542
8561,12503,6,2,74.273400,5.615401,1.0,12,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,188118.364308
8601,467,9,2,45.924840,2.907493,1.0,10,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,124016.667294
8615,6814,52,2,66.544692,2.179808,1.0,2,17,2018,0.371149,B,B,34,7065,1,750.0,2,5,B,183784.694445
8855,4512,9,2,64.977910,5.768457,1.0,11,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,194036.364634
8882,14112,23,2,53.043172,4.855507,1.0,4,1,1977,0.034656,B,B,0,168,0,900.0,0,0,B,89801.732879
8906,4682,7,2,43.860149,11.321071,7.0,6,12,1969,0.035145,B,B,42,9292,3,2620.0,0,3,B,235924.134145
8971,6749,23,2,65.204976,2.467002,0.0,9,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,167560.543204
8973,14254,27,2,73.275697,2.861966,1.0,2,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,171980.001444
9264,5458,9,2,62.920673,1.591420,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,180234.142008
9291,15165,74,2,83.259565,5.387263,1.0,12,1,2017,0.309479,B,B,35,7715,4,990.0,0,6,B,260852.230977
9316,15449,6,2,62.548496,3.645893,1.0,16,25,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,191217.348124
9602,5112,6,2,63.591740,0.795539,10.0,17,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,174741.998061
9748,14053,27,2,56.564445,2.616535,1.0,7,12,2015,0.011654,B,B,4,915,0,900.0,0,0,B,141086.005616
9756,13583,27,2,58.943039,3.319486,1.0,11,17,2017,0.011654,B,B,4,915,0,900.0,0,0,B,142789.948977

In [150]:
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median()

In [151]:
df[(df['LifeSquare'] < 25) & (df['Rooms'] == 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3,106.958871,0.641822,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
158,16779,27,3,51.991064,4.896202,1.0,22,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,174687.566186
655,34,6,3,78.380053,4.003157,1.0,23,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,206647.245666
751,11989,62,3,104.446306,1.451067,1.0,12,15,2015,0.072158,B,B,2,629,1,900.0,0,0,A,223692.672480
1609,14969,9,3,86.802396,5.419928,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,238084.208302
1731,2239,6,3,82.882978,3.977650,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,219945.304640
1738,2186,27,3,81.380553,4.337395,1.0,13,25,2015,0.072158,B,B,2,629,1,900.0,0,0,A,196743.389597
2142,15261,22,3,83.162217,1.318250,1.0,8,1,2018,0.118537,B,B,30,6207,1,1183.0,1,0,B,391390.261824
2848,7838,48,3,86.059789,3.434851,1.0,27,1,2015,0.041125,B,B,46,9515,5,900.0,1,10,B,467773.389759
2870,16150,34,3,83.590446,4.030483,1.0,16,1,2015,0.069753,B,B,53,13670,4,900.0,1,11,B,315641.205620
2957,11956,62,3,86.221496,3.032334,1.0,3,15,2017,0.072158,B,B,2,629,1,900.0,0,0,A,167544.244106
3428,8553,88,3,83.262530,4.769174,1.0,13,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,410883.892020
3547,14398,54,3,113.329819,5.949812,1.0,10,1,2014,0.006076,B,B,30,5285,0,645.0,6,6,B,585031.267181
4514,4680,54,3,107.558419,4.110708,1.0,13,1,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,577122.841727
4661,7305,30,3,70.193071,4.090415,1.0,4,1,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,108658.694240
4739,12676,81,3,77.421742,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4900,4504,27,3,77.421742,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
5540,11412,27,3,88.934210,1.819834,0.0,8,12,1977,0.072158,B,B,2,629,1,900.0,0,0,A,219463.505244
5617,15877,57,3,77.421742,16.698571,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
5624,7558,9,3,80.288136,1.297030,1.0,14,18,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,254966.798112
6765,14511,59,3,91.948656,4.575279,1.0,15,20,2014,0.019509,B,B,37,7687,11,176.0,5,5,B,451714.464410
6797,521,23,3,73.456283,4.933256,1.0,3,1,2019,0.005767,B,B,1,388,0,900.0,0,0,B,109087.023700
6932,16539,9,3,73.639918,5.565903,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,220109.387427
7048,10423,6,3,83.184700,5.226210,1.0,7,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,212195.019570
7314,5882,6,3,78.105126,2.361873,1.0,2,1,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,221807.112568
7647,7627,58,3,82.535096,1.626501,1.0,16,17,2016,0.437885,B,B,23,5735,3,1084.0,0,5,B,218975.318679
7926,12133,6,3,79.056088,5.144151,1.0,10,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,209843.057259
8061,4941,6,3,83.190541,3.666085,1.0,15,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,221683.641204
8148,3052,1,3,31.113950,19.799743,6.0,6,5,1975,0.014581,B,B,3,760,1,900.0,0,0,B,114756.610121
8332,9244,6,3,79.967167,2.299716,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,203302.643146
8543,16090,6,3,77.847057,2.941437,1.0,12,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,221644.916098
8711,8601,6,3,80.968060,1.239622,1.0,6,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,217669.112875
9001,5913,90,3,44.418467,21.107737,8.0,10,15,1973,0.265089,B,B,37,5288,0,1937.0,3,2,B,214431.006851
9828,13630,24,3,127.141143,4.811405,1.0,3,1,2017,0.111627,B,B,50,12238,8,1970.0,2,3,B,611250.912034
9954,583,27,3,84.250710,4.187885,1.0,15,1,2016,0.072158,B,B,2,629,1,900.0,0,0,A,236647.781363

In [152]:
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3), 'LifeSquare'] = df.loc[df['Rooms'] == 3,'LifeSquare'].median()

Убеждаемся в том что все значения заменены

In [153]:
df[(df['LifeSquare'] < 10) & (df['Rooms'] == 1)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [154]:
df[(df['LifeSquare'] < 20) & (df['Rooms'] == 2)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [155]:
df[(df['LifeSquare'] < 25) & (df['Rooms'] == 3)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### KitchenSquare:

Смотрим есть ли нулевые значения KitchenSquare

In [156]:
df[df['KitchenSquare'] == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
7,11993,74,2,80.312926,32.552134,0.0,14,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,221244.156664
23,6641,54,3,118.907612,46.960480,0.0,2,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,571069.052600
26,4378,27,3,106.958871,46.960480,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
39,9371,23,2,60.503248,32.552134,0.0,16,0,1977,0.034656,B,B,0,168,0,900.0,0,0,B,229778.057902
42,9833,1,2,56.494318,54.723569,0.0,9,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,196078.907289
44,10521,38,3,104.211396,106.340403,0.0,20,0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
52,2301,1,2,61.400054,65.224603,0.0,17,22,2016,0.007122,B,B,1,264,0,900.0,0,1,B,199215.452229
65,11398,62,1,41.194188,21.663929,0.0,6,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,114063.092041
70,10362,27,2,79.227049,32.552134,0.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,167023.973143
71,2136,74,2,84.687732,81.905552,0.0,12,17,2017,0.075779,B,B,6,1437,3,900.0,0,2,B,243479.876105
72,14675,74,1,52.457589,52.423345,0.0,18,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,160292.163702
161,4263,27,1,54.255191,51.135219,0.0,5,3,2017,0.072158,B,B,2,629,1,900.0,0,0,A,147040.226120
167,7023,1,2,71.005575,32.552134,0.0,11,9,1977,0.007122,B,B,1,264,0,900.0,0,1,B,245130.106637
195,4645,54,2,76.312851,32.552134,0.0,14,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,466730.805333
223,4622,27,2,62.153994,36.094352,0.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194091.992560
231,2540,6,3,82.353023,46.960480,0.0,13,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216199.817761
234,12633,27,3,81.867166,81.884548,0.0,12,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,182228.520030
244,13137,23,1,43.790432,21.663929,0.0,10,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,121517.604121
246,790,23,1,41.074417,21.663929,0.0,9,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,117742.435249
252,8139,27,2,58.553809,32.552134,0.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,177511.314827
296,513,27,2,57.134181,32.552134,0.0,16,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,145814.838433
300,2395,1,2,64.699994,61.287766,0.0,4,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,164312.216193
320,11173,6,2,62.648779,32.552134,0.0,6,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,182625.548872
333,11210,27,2,68.453814,66.918934,0.0,15,17,1977,0.017647,B,B,2,469,0,900.0,0,0,B,199508.379820
339,11563,8,1,50.390862,41.642898,0.0,32,32,2008,0.092291,B,B,21,4346,2,165.0,1,2,B,97480.845791
341,13457,6,1,40.326128,21.663929,0.0,16,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,123044.213699
397,6781,58,1,53.161505,21.663929,0.0,9,9,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,113898.478111
400,2453,52,2,68.111212,64.181422,0.0,4,17,2019,0.371149,B,B,34,7065,1,750.0,2,5,B,176037.781296
444,6224,59,3,106.349245,46.960480,0.0,7,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,504820.057913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9534,15563,27,2,78.553375,32.552134,0.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,181955.274013
9535,4880,27,2,66.740267,32.552134,0.0,8,22,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,144361.253296
9562,2819,52,2,68.935850,32.552134,0.0,16,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,168600.632600
9573,805,27,3,80.701454,46.960480,0.0,12,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,174758.681454
9576,7389,23,1,52.028804,21.663929,0.0,8,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,98638.755928
9578,11382,27,2,54.861381,32.552134,0.0,2,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,171999.571369
9593,2553,62,2,56.560809,32.552134,0.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,153997.912192
9604,7979,6,1,47.671275,21.663929,0.0,20,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,143413.341742
9606,12136,1,1,51.953707,21.663929,0.0,2,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,148682.719427
9616,12557,6,2,66.501773,32.552134,0.0,14,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,184303.152266
9626,3742,1,1,53.258610,56.655126,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,161799.240623
9628,14936,27,3,103.587261,46.960480,0.0,8,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,225901.938089
9660,11320,27,1,41.299844,21.663929,0.0,7,17,1977,0.011654,B,B,4,915,0,900.0,0,0,B,112163.693968
9695,12400,23,3,80.789885,46.960480,0.0,2,3,1977,0.034656,B,B,0,168,0,900.0,0,0,B,195153.874862
9696,14403,6,1,39.772905,21.663929,0.0,13,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,127276.643909
9707,12302,30,1,46.072913,48.307844,0.0,4,0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9730,8644,58,3,80.957312,46.960480,0.0,6,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,194401.074453
9740,3241,6,1,42.706178,21.663929,0.0,7,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,123219.343537
9769,9384,59,3,98.607328,46.960480,0.0,14,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,492700.257473
9793,5766,1,3,80.006748,83.793062,0.0,17,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,235519.716480
9830,8556,58,1,42.488774,21.663929,0.0,15,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,133135.515468
9878,11441,62,2,71.985335,72.453232,0.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,158841.624543
9908,3171,62,1,35.873961,21.663929,0.0,25,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,134379.130962
9944,16160,27,2,60.396765,32.552134,0.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,211810.600728
9946,4470,62,3,89.915337,46.960480,0.0,13,15,1977,0.072158,B,B,2,629,1,900.0,0,0,A,191229.098911
9948,8438,1,2,66.736039,32.552134,0.0,16,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,199237.847364
9953,5365,1,2,61.049491,32.552134,0.0,11,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,190085.168584
9960,9307,1,2,57.376642,32.552134,0.0,8,25,2016,0.007122,B,B,1,264,0,900.0,0,1,B,104450.496477
9965,6612,27,2,59.460685,32.552134,0.0,15,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,135784.320930
9987,15623,23,2,55.620092,32.552134,0.0,2,4,1977,0.034656,B,B,0,168,0,900.0,0,0,B,115797.553006

Аналогично примерам выше заменяем нулевые значения KitchenSquare на их медианные значения для квартиры с таким же количеством комнат

In [158]:
df.loc[(df['KitchenSquare'] == 0) & (df['Rooms'] == 1), 'KitchenSquare'] = df.loc[df['Rooms'] == 1,'KitchenSquare'].median()

In [159]:
df.loc[(df['KitchenSquare'] == 0) & (df['Rooms'] == 2), 'KitchenSquare'] = df.loc[df['Rooms'] == 2,'KitchenSquare'].median()

In [160]:
df.loc[(df['KitchenSquare'] == 0) & (df['Rooms'] == 3), 'KitchenSquare'] = df.loc[df['Rooms'] == 3,'KitchenSquare'].median()

In [162]:
df.loc[(df['KitchenSquare'] == 0) & (df['Rooms'] == 4), 'KitchenSquare'] = df.loc[df['Rooms'] == 4,'KitchenSquare'].median()

In [163]:
df.loc[(df['KitchenSquare'] == 0) & (df['Rooms'] == 5), 'KitchenSquare'] = df.loc[df['Rooms'] == 5,'KitchenSquare'].median()

Убеждаемся в отсутствии нулевых значений KitchenSquare

In [164]:
df[df['KitchenSquare'] == 0]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Square = LifeSquare + KitchenSquare + 10

Смотрим значения KitchenSquare > 20 такие, что Square - LifeSquare - 10 < KitchenSquare. Число 10 берем как минимальное количество квадратных метров на коридоры, санузел и подсобные помещения

In [178]:
df[(df['KitchenSquare'] > 20) & (df['KitchenSquare'] + 10 > df['Square'] - df['LifeSquare'])]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
227,16395,2,3,79.722243,44.731219,72.0,12,16,1987,0.130618,B,B,39,10418,9,900.0,1,9,B,370148.625285
551,1315,6,1,48.128114,45.023531,48.0,21,1,2013,0.243205,B,B,5,1564,0,540.0,0,0,B,146950.912410
1064,14656,62,1,47.100719,46.447960,2014.0,4,1,2014,0.072158,B,B,2,629,1,900.0,0,0,A,108337.484207
1077,9690,27,1,40.081042,37.834964,37.0,18,19,2019,0.211401,B,B,9,1892,0,900.0,0,1,B,93218.650461
1369,2371,27,2,68.841073,64.234956,66.0,4,2,2014,0.017647,B,B,2,469,0,900.0,0,0,B,189244.249909
1455,12507,54,2,79.810535,79.578961,78.0,10,15,2014,0.006076,B,B,30,5285,0,645.0,6,6,B,438708.707579
1860,4265,161,2,53.216778,32.644859,53.0,7,17,1994,0.000699,B,B,14,3369,24,4129.0,0,3,B,261125.669724
1867,3267,58,3,138.980817,138.004600,43.0,2,2,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,169528.896664
2916,12390,72,3,97.490674,99.323558,96.0,22,25,2019,0.210473,B,B,11,2398,2,1994.0,3,0,B,445074.956552
2969,7441,62,3,114.734473,112.589083,112.0,3,3,2015,0.072158,B,B,2,629,1,900.0,0,0,A,315245.521059
3379,16781,27,1,36.138409,36.710539,36.0,19,19,2017,0.072158,B,B,2,629,1,900.0,0,0,A,131742.536281
3431,7111,27,2,139.070296,89.787666,42.0,5,3,2016,0.014073,B,B,2,475,0,900.0,0,0,B,153946.777452
4079,6508,23,2,67.146049,33.959154,63.0,5,17,2019,0.034656,B,B,0,168,0,900.0,0,0,B,193130.585871
4110,299,27,2,66.787523,64.616662,60.0,14,20,2015,0.017647,B,B,2,469,0,900.0,0,0,B,179466.094235
4142,15466,88,1,42.357487,44.779714,41.0,10,19,2016,0.127376,B,B,43,8429,3,900.0,3,9,B,194525.103119
4588,448,48,1,41.186904,21.663929,41.0,2,1,1977,0.041125,B,B,46,9515,5,900.0,1,10,B,216882.265408
4651,12552,58,3,116.405693,113.109653,112.0,3,3,2016,0.437885,B,B,23,5735,3,1084.0,0,5,B,296165.936689
5149,13703,42,1,38.071692,19.723548,73.0,9,10,2006,0.158249,B,B,21,5731,0,900.0,1,0,B,160488.033165
5162,11739,27,2,61.070298,59.845092,58.0,8,17,2016,0.072158,B,B,2,629,1,900.0,0,0,A,212188.959537
5480,15781,10,1,35.813564,19.953992,35.0,6,14,1971,0.282798,B,B,33,8667,2,900.0,0,6,B,164306.314182
5816,2271,27,1,43.292516,42.835643,40.0,12,11,2015,0.211401,B,B,9,1892,0,900.0,0,1,B,117296.173704
5849,11624,46,1,42.983283,24.224435,37.0,15,16,1983,0.188784,B,B,31,6137,4,900.0,0,1,B,198450.736353
5888,16593,52,2,64.859242,32.552134,62.0,15,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,185993.474671
5904,673,27,1,54.418214,51.498581,51.0,10,17,2017,0.072158,B,B,2,629,1,900.0,0,0,A,133273.635012
6036,12666,34,2,60.603363,32.552134,58.0,14,22,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,261733.472106
6240,4966,96,3,78.445675,47.146757,75.0,9,12,1977,0.041116,B,B,53,14892,4,900.0,1,4,B,290354.484070
7088,6569,27,1,38.220258,18.716856,84.0,4,17,2018,0.011654,B,B,4,915,0,900.0,0,0,B,99079.960518
7249,3431,62,2,60.715426,40.720961,25.0,5,12,2012,0.386772,B,B,5,1135,0,900.0,0,0,A,172366.012197
7480,10546,62,1,46.013187,43.417043,43.0,4,17,2019,0.072158,B,B,2,629,1,900.0,0,0,A,113909.099428
8232,7162,34,2,56.738764,57.510395,54.0,26,25,2016,0.069753,B,B,53,13670,4,900.0,1,11,B,244220.621495
8584,14679,81,1,32.276663,19.278394,1970.0,6,1,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,105539.556275
9111,6708,48,1,42.069359,22.487739,39.0,1,10,2010,0.041125,B,B,46,9515,5,900.0,1,10,B,200021.835127
9889,12918,23,2,51.440463,53.134243,51.0,3,17,2017,0.005767,B,B,1,388,0,900.0,0,0,B,88150.012510
9895,2737,27,3,123.430072,125.806981,123.0,5,10,2015,0.017647,B,B,2,469,0,900.0,0,0,B,234194.837047
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,B,B,53,14892,4,900.0,1,4,B,528560.506016

Аналогично примерам выше заменяем слишком большие значения KitchenSquare медианными с таким же количеством комнат

In [179]:
df.loc[(df['KitchenSquare'] > 20) & (df['KitchenSquare'] + 10 > df['Square'] - df['LifeSquare']) & (df['Rooms'] == 1), 'KitchenSquare'] = df.loc[df['Rooms'] == 1,'KitchenSquare'].median()

In [180]:
df.loc[(df['KitchenSquare'] > 20) & (df['KitchenSquare'] + 10 > df['Square'] - df['LifeSquare']) & (df['Rooms'] == 2), 'KitchenSquare'] = df.loc[df['Rooms'] == 2,'KitchenSquare'].median()

In [181]:
df.loc[(df['KitchenSquare'] > 20) & (df['KitchenSquare'] + 10 > df['Square'] - df['LifeSquare']) & (df['Rooms'] == 3), 'KitchenSquare'] = df.loc[df['Rooms'] == 3,'KitchenSquare'].median()

Видим что осталась только одна 4х комнатная квартира не удовлетворяющая нашим условиям

In [182]:
df[(df['KitchenSquare'] > 20) & (df['KitchenSquare'] + 10 > df['Square'] - df['LifeSquare'])]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,B,B,53,14892,4,900.0,1,4,B,528560.506016

В данном случае скорее вброс по параметру LifeSquare, поэтому уменьшим его по нашей формуле Square = LifeSquare + KitchenSquare + 10

In [184]:
df.loc[df['Id'] == 16568, 'LifeSquare'] = df.loc[df['Id'] == 16568, 'Square'] - df.loc[df['Id'] == 16568, 'KitchenSquare'] - 10

Убедимся, что весь датасет удовлетворяет этой формуле

In [185]:
df[(df['KitchenSquare'] > 20) & (df['KitchenSquare'] + 10 > df['Square'] - df['LifeSquare'])]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

Смотрим есть ли в датасете значения Square в которых меньше чем LifeSquare + KitchenSquare

In [189]:
df[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
28,8054,23,1,42.530043,43.967759,1.0,3,9,2014,0.034656,B,B,0,168,0,900.0,0,0,B,95338.198549
42,9833,1,2,56.494318,54.723569,6.0,9,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,196078.907289
44,10521,38,3,104.211396,106.340403,7.0,20,0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
48,7596,23,1,47.080100,46.807989,12.0,3,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,96029.167877
52,2301,1,2,61.400054,65.224603,6.0,17,22,2016,0.007122,B,B,1,264,0,900.0,0,1,B,199215.452229
69,6925,27,2,64.929103,63.304605,10.0,15,17,2016,0.072158,B,B,2,629,1,900.0,0,0,A,228584.001072
71,2136,74,2,84.687732,81.905552,6.0,12,17,2017,0.075779,B,B,6,1437,3,900.0,0,2,B,243479.876105
72,14675,74,1,52.457589,52.423345,6.0,18,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,160292.163702
123,8753,25,3,85.952306,89.803753,1.0,4,3,2017,0.069753,B,B,53,13670,4,900.0,1,11,B,309688.592681
129,6072,6,1,65.102017,64.622603,1.0,10,9,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,175899.978284
136,6172,27,2,92.400007,92.069236,10.0,2,5,1977,0.075424,B,B,11,3097,0,900.0,0,0,B,116942.671045
145,14787,34,2,60.366626,57.709149,10.0,20,19,2017,0.069753,B,B,53,13670,4,900.0,1,11,B,241737.808497
147,3287,27,3,92.885544,91.642249,13.0,7,17,2015,0.072158,B,B,2,629,1,900.0,0,0,A,206780.548877
153,9870,62,1,51.831473,53.491301,1.0,5,1,2015,0.072158,B,B,2,629,1,900.0,0,0,A,131797.472284
161,4263,27,1,54.255191,51.135219,6.0,5,3,2017,0.072158,B,B,2,629,1,900.0,0,0,A,147040.226120
170,4747,7,3,81.467909,76.646182,10.0,19,17,2010,0.035145,B,B,42,9292,3,2620.0,0,3,B,477665.582915
178,2416,57,1,29.298168,29.770784,5.0,7,5,1964,0.133215,B,B,49,11395,3,1406.0,3,4,A,148991.265200
184,3398,74,1,48.743665,51.011232,1.0,12,20,2017,0.075779,B,B,6,1437,3,900.0,0,2,B,165071.825722
212,1748,88,2,55.830587,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
217,5540,27,3,57.643613,59.425078,9.0,16,10,1977,0.072158,B,B,2,629,1,900.0,0,0,A,198351.892455
218,9511,63,1,51.456042,51.385262,1.0,12,10,2017,0.238617,B,B,26,3889,6,705.0,3,6,B,260824.216465
234,12633,27,3,81.867166,81.884548,7.0,12,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,182228.520030
236,3916,1,1,43.084413,47.071617,1.0,9,7,2017,0.007122,B,B,1,264,0,900.0,0,1,B,169749.173815
237,3851,52,2,65.388475,66.591815,1.0,13,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,180706.641204
243,13320,66,2,72.736379,69.643495,9.0,15,19,2002,0.111627,B,B,50,12238,8,1970.0,2,3,B,507621.564282
271,7674,30,2,51.283020,51.575295,1.0,5,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,174735.177184
300,2395,1,2,64.699994,61.287766,6.0,4,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,164312.216193
304,5176,1,1,40.427365,39.682348,1.0,2,17,2018,0.007122,B,B,1,264,0,900.0,0,1,B,144040.472335
315,14899,27,1,37.370830,39.184607,1.0,25,1,2015,0.072158,B,B,2,629,1,900.0,0,0,A,126997.374189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9630,10021,27,1,41.755282,41.857484,1.0,13,20,2014,0.211401,B,B,9,1892,0,900.0,0,1,B,94667.059626
9637,8959,27,1,44.602693,44.108220,1.0,2,2,2014,0.014058,B,B,1,290,0,900.0,0,0,B,86829.404676
9646,6996,23,2,53.054415,54.677693,1.0,3,12,2017,0.034656,B,B,0,168,0,900.0,0,0,B,113758.662147
9681,47,2,2,45.053898,47.329346,5.0,2,5,1967,0.000000,B,B,33,7425,1,900.0,2,5,B,196512.596034
9698,13616,27,1,37.340508,37.024631,10.0,8,17,2017,0.211401,B,B,9,1892,0,900.0,0,1,B,108540.772970
9707,12302,30,1,46.072913,48.307844,6.0,4,0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9719,8645,34,3,89.118209,85.724112,10.0,17,25,2018,0.069753,B,B,53,13670,4,900.0,1,11,B,326553.576819
9721,396,54,3,110.119100,110.333763,1.0,8,1,2015,0.006076,B,B,30,5285,0,645.0,6,6,B,491296.245173
9742,9941,46,3,64.642890,66.400030,6.0,6,17,1981,0.188784,B,B,31,6137,4,900.0,0,1,B,283398.090350
9753,9082,107,1,40.136259,38.714877,9.0,16,16,1973,0.050272,B,B,21,4231,14,1020.0,0,3,B,189438.397568
9772,6968,6,3,74.505045,75.735479,1.0,15,22,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,210702.868554
9793,5766,1,3,80.006748,83.793062,7.0,17,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,235519.716480
9798,8051,6,2,65.779137,64.797240,1.0,16,17,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,187072.563233
9799,7483,27,1,37.590772,41.074410,1.0,5,19,2017,0.211401,B,B,9,1892,0,900.0,0,1,B,95145.924046
9807,10088,30,1,37.191204,37.837798,1.0,17,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,147568.713397
9812,3619,74,1,35.371149,33.306415,10.0,7,17,2019,0.075779,B,B,6,1437,3,900.0,0,2,B,127264.210053
9826,5270,6,1,39.485203,39.525667,1.0,16,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,124034.514085
9834,3588,6,3,84.650329,81.268497,15.0,6,17,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,226810.692649
9860,15304,124,1,45.220099,44.240841,13.0,12,12,1974,0.122090,B,B,29,6566,7,1894.0,4,0,B,180351.773573
9864,8807,38,1,46.905050,49.715060,10.0,8,17,2019,0.060753,B,B,15,2787,2,520.0,0,7,B,256650.658085
9871,6121,48,1,41.783808,41.944790,1.0,17,1,2014,0.041125,B,B,46,9515,5,900.0,1,10,B,200879.624324
9874,10318,6,1,40.631541,38.750052,7.0,5,17,2013,0.243205,B,B,5,1564,0,540.0,0,0,B,131271.924425
9878,11441,62,2,71.985335,72.453232,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,158841.624543
9884,41,30,2,59.015896,59.439082,12.0,5,5,2016,0.000078,B,B,22,6398,141,1046.0,3,23,B,126281.142781
9889,12918,23,2,51.440463,53.134243,6.0,3,17,2017,0.005767,B,B,1,388,0,900.0,0,0,B,88150.012510
9895,2737,27,3,123.430072,125.806981,7.0,5,10,2015,0.017647,B,B,2,469,0,900.0,0,0,B,234194.837047
9897,4497,1,1,38.330353,38.010046,8.0,7,17,1991,0.025609,B,B,33,5261,0,240.0,3,1,B,97464.327338
9902,14001,73,1,44.098768,44.267551,1.0,7,24,2014,0.042032,B,B,37,6856,84,1940.0,2,5,B,381937.404161
9918,14904,34,4,104.049130,99.788387,10.0,8,25,2018,0.069753,B,B,53,13670,4,900.0,1,11,B,411971.106869
9974,2159,30,1,33.227093,32.639166,1.0,4,4,2016,0.000078,B,B,22,6398,141,1046.0,3,23,B,65949.315881

Таких значений достаточно много. Можно заметить, что в многих подобных случаях LifeSquare почти равняется или больше Square, чего быть естественно не может. Поэтому сделаем предположение, что вброс был по параметру LifeSquare и его нужно уменьшить по нашей формуле Square = LifeSquare + KitchenSquare + 10

In [190]:
df.loc[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0), 'LifeSquare'] = df.loc[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0), 'Square'] - df.loc[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0), 'KitchenSquare'] - 10

Убедимся в замене значений

In [191]:
df[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

Убедимся в том, что нет таких квартир, где LifeSquare > Square

In [192]:
df[df['LifeSquare'] > df['Square']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### HouseYear

Посмотрим есть ли в датасете дома построенные в HouseYear > 2019

In [196]:
df[df['HouseYear'] > 2019]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
585,15051,53,2,59.597891,44.869530,10.0,3,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,243114.222804
707,4345,62,1,49.275155,21.663929,1.0,5,1,2020,0.072158,B,B,2,629,1,900.0,0,0,A,135353.885620
790,6845,169,3,87.371123,64.905206,12.0,4,24,2020,0.178917,B,B,18,3594,4,192.0,1,5,B,295304.011974
918,2530,53,2,64.233072,47.405440,13.0,13,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,283334.496716
1497,10814,109,1,37.265070,20.239714,9.0,9,12,20052011,0.136330,B,B,30,6141,10,262.0,3,6,B,254084.534396
1499,6731,120,2,85.087643,65.087643,10.0,7,10,2020,0.341072,B,B,27,5664,48,2300.0,3,11,B,536020.260344
2493,3445,53,1,35.672788,21.391266,8.0,4,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,170847.416766
2877,8832,1,3,83.260743,79.438325,1.0,15,21,2020,0.007122,B,B,1,264,0,900.0,0,1,B,242243.090839
3357,9600,62,1,55.911215,43.821379,10.0,6,17,2020,0.072158,B,B,2,629,1,900.0,0,0,A,138770.715048
3485,7026,62,1,44.019287,33.019287,1.0,7,12,2020,0.072158,B,B,2,629,1,900.0,0,0,A,135588.215289
3859,3511,59,1,48.327498,37.327498,1.0,3,10,2020,0.019509,B,B,37,7687,11,176.0,5,5,B,227402.467599
4053,8433,45,2,82.880909,71.880909,1.0,19,22,2020,0.195781,B,B,23,5212,6,900.0,3,2,B,441850.464440
4189,11607,147,2,44.791836,28.360393,5.0,4,9,4968,0.319809,B,B,25,4756,16,2857.0,5,8,B,243028.603096
4376,6915,53,3,77.214218,56.678434,12.0,6,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,338025.692848
4493,14664,53,2,60.363889,43.142077,12.0,14,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,266202.142371
5701,8892,62,1,49.298503,30.298503,9.0,9,12,2020,0.072158,B,B,2,629,1,900.0,0,0,A,151779.182589
6735,12191,74,1,42.799882,19.819576,13.0,3,1,2020,0.075779,B,B,6,1437,3,900.0,0,2,B,162260.682278
7076,14318,53,2,57.815313,37.287063,8.0,6,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,251249.365740
7459,2731,53,1,38.004250,24.259307,8.0,4,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,167829.123917
8253,13914,23,3,74.222388,44.992259,13.0,5,3,2020,0.005767,B,B,1,388,0,900.0,0,0,B,106209.372321
9674,9303,53,2,57.126663,40.265100,10.0,11,24,2020,0.049637,B,B,34,7759,0,229.0,1,3,B,263206.223152

Таких значений не очень много, заменим их на 2019 год

In [197]:
df.loc[df['HouseYear'] > 2019, 'HouseYear'] = 2019

Посмотрим есть ли в датасете значения с нулевыми значениями HouseFloor

#### HouseFloor

In [199]:
df[df['HouseFloor'] == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2,80.312926,32.552134,6.0,14,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,221244.156664
23,6641,54,3,118.907612,46.960480,7.0,2,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,571069.052600
26,4378,27,3,106.958871,46.960480,7.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
39,9371,23,2,60.503248,32.552134,6.0,16,0,1977,0.034656,B,B,0,168,0,900.0,0,0,B,229778.057902
44,10521,38,3,104.211396,87.211396,7.0,20,0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
65,11398,62,1,41.194188,21.663929,6.0,6,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,114063.092041
70,10362,27,2,79.227049,32.552134,6.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,167023.973143
195,4645,54,2,76.312851,32.552134,6.0,14,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,466730.805333
223,4622,27,2,62.153994,36.094352,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194091.992560
252,8139,27,2,58.553809,32.552134,6.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,177511.314827
444,6224,59,3,106.349245,46.960480,7.0,7,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,504820.057913
501,15923,27,1,26.553188,10.553188,6.0,25,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,114256.236153
556,8610,35,1,47.410775,21.663929,6.0,4,0,1977,0.089040,B,B,33,7976,5,900.0,0,11,B,218138.095955
562,6916,27,1,43.011789,22.158763,6.0,17,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,179806.820951
594,8093,45,2,62.933064,32.552134,6.0,18,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,339455.271154
667,9684,88,3,86.431890,46.960480,7.0,11,0,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,341533.892142
700,11548,27,2,41.610104,32.552134,6.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,120724.056008
730,12947,53,2,56.023342,32.552134,6.0,14,0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,247074.564832
805,15931,1,2,77.330279,32.552134,6.0,1,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,182657.618386
823,1498,45,3,83.515103,46.960480,7.0,11,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,429445.711752
839,9925,62,1,42.805164,21.663929,6.0,14,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,128889.593406
847,11828,27,1,52.539365,21.663929,6.0,11,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,140577.204332
861,15131,27,2,60.299356,32.552134,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,192309.274140
889,3429,27,1,47.020680,21.663929,6.0,8,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,163649.474447
896,6036,95,1,46.248238,21.663929,6.0,5,0,1977,0.000699,B,B,14,3369,24,4129.0,0,3,B,516315.770611
900,8940,34,1,26.811587,10.811587,6.0,18,0,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,175399.643453
924,11875,6,2,65.070052,32.552134,6.0,11,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,179219.981625
929,1827,27,1,38.037790,21.663929,6.0,7,0,1977,0.011654,B,B,4,915,0,900.0,0,0,B,101365.588283
932,9383,24,2,88.407297,32.552134,6.0,2,0,1977,0.111627,B,B,50,12238,8,1970.0,2,3,B,427473.921933
942,4711,6,1,41.224118,21.663929,6.0,8,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,125612.639104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8888,184,23,1,56.786709,21.663929,6.0,3,0,1977,0.014073,B,B,2,475,0,900.0,0,0,B,107003.351865
8893,11090,1,1,41.197082,25.197082,6.0,12,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,127436.921010
8930,11532,23,2,55.550541,39.550541,6.0,7,0,1977,0.034656,B,B,0,168,0,900.0,0,0,B,116068.875171
8954,6581,62,2,65.131558,32.552134,6.0,11,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,156791.155868
8979,13670,22,1,87.485627,21.663929,6.0,16,0,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,361744.269547
8996,15661,45,3,81.094922,46.960480,7.0,15,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,442472.456032
9014,4405,74,2,71.207458,32.552134,6.0,5,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,244700.814865
9030,8329,62,3,86.443771,46.960480,7.0,3,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,197124.921010
9057,14564,34,4,97.524848,86.524848,1.0,20,0,2016,0.069753,B,B,53,13670,4,900.0,1,11,B,401035.038716
9087,7767,1,2,90.856881,32.552134,6.0,11,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,287460.543713
9092,13884,45,2,62.460577,32.552134,6.0,5,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,349101.623151
9122,9150,6,1,43.067590,21.663929,6.0,18,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,126401.276372
9199,8755,62,2,79.329878,32.552134,6.0,17,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,202549.009085
9219,1737,23,1,59.963701,21.663929,6.0,9,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,171461.857684
9268,13665,62,2,57.717659,32.552134,6.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,176072.619971
9312,12761,27,1,37.667044,15.894112,8.0,9,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,115037.087485
9359,842,74,1,52.133425,21.663929,6.0,18,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,189274.011249
9395,16371,62,3,88.961872,46.960480,7.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,214155.478531
9432,338,46,5,147.709302,80.458910,9.0,6,0,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,352168.955975
9458,3974,23,3,70.740638,46.960480,13.0,4,0,1977,0.005767,B,B,1,388,0,900.0,0,0,B,101223.446298
9534,15563,27,2,78.553375,32.552134,6.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,181955.274013
9573,805,27,3,80.701454,46.960480,7.0,12,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,174758.681454
9593,2553,62,2,56.560809,32.552134,6.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,153997.912192
9606,12136,1,1,51.953707,21.663929,6.0,2,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,148682.719427
9628,14936,27,3,103.587261,46.960480,7.0,8,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,225901.938089
9707,12302,30,1,46.072913,30.072913,6.0,4,0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9769,9384,59,3,98.607328,46.960480,7.0,14,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,492700.257473
9878,11441,62,2,71.985335,55.985335,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,158841.624543
9908,3171,62,1,35.873961,21.663929,6.0,25,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,134379.130962
9944,16160,27,2,60.396765,32.552134,6.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,211810.600728

Заменим эти значения на значения Floor + (Floor % 5)

In [200]:
df.loc[df['HouseFloor'] == 0,'HouseFloor'] = df['Floor'] + df['Floor']%5

In [201]:
df[df['HouseFloor'] == 0]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

Посмотрим есть ли в датасете значения где Floor > HouseFloor

In [202]:
df[df['Floor'] > df['HouseFloor']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
14,10953,27,1,53.769097,52.408027,1.0,5,4,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,140647.565937
16,2119,27,2,49.360648,31.993964,5.0,6,5,1983,5.181543e-02,B,B,5,1227,0,900.0,0,0,B,117000.381287
21,11935,27,2,64.711835,32.552134,1.0,15,1,1977,2.114012e-01,B,B,9,1892,0,900.0,0,1,B,127200.026511
35,6486,200,3,85.280389,58.447967,9.0,6,5,1960,0.000000e+00,B,B,33,7425,1,900.0,2,5,B,402871.916317
51,10103,94,1,35.280894,23.354176,6.0,11,9,1971,2.827977e-01,B,B,33,8667,2,900.0,0,6,B,148862.210174
67,8443,57,2,45.964890,29.141212,5.0,7,5,1963,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,180538.898922
68,1063,77,1,42.678844,23.918634,8.0,14,12,1983,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,179784.473334
72,14675,74,1,52.457589,36.457589,6.0,18,17,1977,7.577876e-02,B,B,6,1437,3,900.0,0,2,B,160292.163702
76,14020,34,1,47.909327,42.782385,1.0,2,1,2016,6.975336e-02,B,B,53,13670,4,900.0,1,11,B,181167.642404
86,9613,148,3,127.481583,46.960480,1.0,16,1,2012,3.139246e-01,B,B,22,4625,11,3855.0,2,10,B,510700.444735
87,16674,94,2,47.145626,30.738284,5.0,11,9,1976,1.273759e-01,B,B,43,8429,3,900.0,3,9,B,210364.314719
95,4280,34,2,61.334968,32.552134,1.0,26,1,2014,6.975336e-02,B,B,53,13670,4,900.0,1,11,B,286564.441972
104,2930,9,2,62.347154,32.552134,1.0,6,1,1977,1.615317e-01,B,B,25,5648,1,30.0,2,4,B,184172.975639
115,12377,27,2,60.445855,32.552134,1.0,13,1,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,213798.185151
119,367,45,1,42.367289,40.012529,1.0,16,14,2015,1.957811e-01,B,B,23,5212,6,900.0,3,2,B,250466.980777
122,5267,49,1,43.444266,20.702409,8.0,18,17,2010,2.074133e-02,B,B,24,5613,5,1340.0,2,5,B,168601.974805
123,8753,25,3,85.952306,74.952306,1.0,4,3,2017,6.975336e-02,B,B,53,13670,4,900.0,1,11,B,309688.592681
129,6072,6,1,65.102017,54.102017,1.0,10,9,2015,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,175899.978284
131,10726,27,3,89.692964,87.623814,1.0,13,1,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,265978.837780
141,3839,31,3,78.471987,52.706824,8.0,6,5,1957,1.513462e-01,B,A,32,5889,10,830.0,4,1,B,419692.978034
145,14787,34,2,60.366626,40.366626,10.0,20,19,2017,6.975336e-02,B,B,53,13670,4,900.0,1,11,B,241737.808497
152,14141,23,2,57.699619,32.552134,10.0,2,1,1977,3.465608e-02,B,B,0,168,0,900.0,0,0,B,114168.532703
153,9870,62,1,51.831473,40.831473,1.0,5,1,2015,7.215758e-02,B,B,2,629,1,900.0,0,0,A,131797.472284
155,14109,62,1,47.577280,43.123508,1.0,6,1,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,128813.570224
156,14258,44,2,44.511407,29.847462,5.0,6,5,1960,1.221905e-01,B,B,25,4724,2,1308.0,1,3,B,189407.276041
157,15848,23,3,70.214575,49.364085,9.0,3,1,2017,5.767451e-03,B,B,1,388,0,900.0,0,0,B,111389.481059
160,3522,6,1,66.419841,21.663929,1.0,2,1,1977,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,193361.229815
161,4263,27,1,54.255191,38.255191,6.0,5,3,2017,7.215758e-02,B,B,2,629,1,900.0,0,0,A,147040.226120
167,7023,1,2,71.005575,32.552134,6.0,11,9,1977,7.122317e-03,B,B,1,264,0,900.0,0,1,B,245130.106637
170,4747,7,3,81.467909,61.467909,10.0,19,17,2010,3.514527e-02,B,B,42,9292,3,2620.0,0,3,B,477665.582915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9821,3469,27,3,103.654338,46.960480,1.0,5,1,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,289731.184520
9822,12992,75,2,47.917740,29.839365,5.0,7,5,1968,3.074667e-01,B,A,30,5048,9,325.0,2,5,B,184252.980508
9828,13630,24,3,127.141143,46.960480,1.0,3,1,2017,1.116274e-01,B,B,50,12238,8,1970.0,2,3,B,611250.912034
9837,5482,157,2,48.185943,33.156377,7.0,9,8,1963,0.000000e+00,B,B,30,7538,87,4702.0,5,5,B,425837.404955
9847,759,29,1,36.298652,20.959605,6.0,7,5,1963,6.966034e-02,B,B,31,6119,4,900.0,1,2,B,80888.409559
9852,16641,111,4,117.201937,69.898092,14.0,4,2,2017,9.344256e-02,B,B,23,4635,5,3300.0,2,4,B,197593.112769
9853,12913,8,2,48.406418,30.717760,5.0,13,12,1968,4.581745e-01,B,A,26,4439,1,1130.0,1,5,B,212792.292586
9869,16299,107,2,57.284603,34.599765,7.0,6,5,1961,5.027201e-02,B,B,21,4231,14,1020.0,0,3,B,336305.978986
9870,309,27,1,37.551366,21.663929,1.0,11,1,1977,2.114012e-01,B,B,9,1892,0,900.0,0,1,B,112877.827651
9871,6121,48,1,41.783808,30.783808,1.0,17,1,2014,4.112463e-02,B,B,46,9515,5,900.0,1,10,B,200879.624324
9872,14136,12,1,43.711302,20.130061,8.0,18,17,1989,9.079910e-02,B,B,74,19083,2,900.0,5,15,B,171513.507717
9917,1901,94,1,45.822669,21.663929,1.0,7,1,1977,2.827977e-01,B,B,33,8667,2,900.0,0,6,B,229936.748542
9924,3327,145,1,41.093702,20.643619,8.0,18,17,1998,2.460315e-01,B,A,22,3151,4,2715.0,3,3,B,174921.829928
9931,13355,27,2,64.261856,32.552134,1.0,10,1,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,223719.779293
9938,15868,9,2,64.412326,61.337938,1.0,13,1,1977,1.615317e-01,B,B,25,5648,1,30.0,2,4,B,183118.396487
9942,9369,1,2,56.323990,32.552134,1.0,18,17,1977,7.122317e-03,B,B,1,264,0,900.0,0,1,B,183882.806975
9949,3355,53,1,39.211416,36.159431,1.0,19,18,2019,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,180600.181118
9951,9237,25,1,33.516313,31.086243,1.0,13,11,2015,6.975336e-02,B,B,53,13670,4,900.0,1,11,B,148066.435795
9954,583,27,3,84.250710,46.960480,1.0,15,1,2016,7.215758e-02,B,B,2,629,1,900.0,0,0,A,236647.781363
9958,12878,46,1,39.143939,22.650690,8.0,14,12,1981,0.000000e+00,B,B,47,11319,0,1145.0,3,5,B,182459.513851
9959,10361,0,1,32.416925,19.257869,6.0,6,5,1963,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,125579.315184
9962,4660,158,2,63.131655,41.867913,8.0,9,8,1939,4.203159e-02,B,B,37,6856,84,1940.0,2,5,B,87268.098968
9971,16050,67,2,58.629682,36.330029,9.0,19,17,1989,1.004557e-01,B,B,43,7227,0,900.0,1,6,A,228845.682509
9973,12590,115,2,48.201451,33.396431,8.0,15,14,1972,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,197405.312185
9975,5071,27,2,60.055527,32.552134,12.0,16,15,1977,7.215758e-02,B,B,2,629,1,900.0,0,0,A,190325.071232
9984,2237,52,3,64.074977,47.633428,6.0,11,9,1983,3.711490e-01,B,B,34,7065,1,750.0,2,5,B,226434.880156
9985,16159,27,1,38.968338,21.663929,1.0,10,1,1977,2.114012e-01,B,B,9,1892,0,900.0,0,1,B,95529.569405
9989,4145,96,3,90.055233,47.860231,11.0,26,24,2005,4.111635e-02,B,B,53,14892,4,900.0,1,4,B,441108.911237
9991,11553,3,3,101.622794,51.628780,12.0,18,17,2000,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,212883.501504
9995,77,32,2,50.401785,30.476203,5.0,6,5,1968,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,196684.316040

Заменим значения HouseFloor на значения Floor + (Floor % 5)

In [204]:
df.loc[df['Floor'] > df['HouseFloor'],'HouseFloor'] = df['Floor'] + df['Floor']%5

Убедимся в отсутствии значений Floor > HouseFloor

In [205]:
df[df['Floor'] > df['HouseFloor']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

Еще раз посмотрим описание датасета

In [206]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.892700,56.386603,34.161461,6.138950,8.526700,13.79380,1984.870300,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.838485,20.976916,15.921519,3.636322,5.241148,6.03403,18.412397,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,16.117154,-0.953812,1.000000,1.000000,1.00000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.784623,21.928663,4.000000,4.000000,9.00000,1974.000000,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.541997,32.552134,6.000000,7.000000,14.00000,1977.000000,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.927434,42.830209,9.000000,12.000000,17.00000,2001.000000,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,621.065193,32.000000,42.000000,117.00000,2019.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570