## 1.Предобработка данных

#### Импорт необходимых библиотек:

In [704]:
import numpy as np
import pandas as pd

### Загрузка данных:

In [705]:
TRAIN_PATH = 'train.csv'
TEST_PATH = 'test.csv'

In [706]:
df = pd.read_csv(TRAIN_PATH)
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [707]:
df.shape

(10000, 20)

### Приведение типов данных:

In [708]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

#### Для красоты первичного анализа сделаем признаки Rooms, Floor, HouseFloor целыми

In [709]:
df['Rooms'] = df['Rooms'].astype('int64')

In [710]:
df['Floor'] = df['Floor'].astype('int64')

In [711]:
df['HouseFloor'] = df['HouseFloor'].astype('int64')

### Обзор количественных переменных:

In [712]:
df_num_features = df.select_dtypes(include=['float64', 'int64'])
df_num_features.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
0,14038,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,33,7976,5,NaN,0,11,184966.930730
1,15053,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,46,10309,1,240.0,1,16,300009.450063
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,34,7759,0,229.0,1,3,220925.908524
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,23,5735,3,1084.0,0,5,175616.227217
4,10783,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,35,5776,1,2078.0,2,4,150226.531644

In [713]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

### Обзор номинативных переменных:

In [714]:
df_obj_features = df.select_dtypes(include='object')
df_obj_features.head()

  Ecology_2 Ecology_3 Shops_2
0         B         B       B
1         B         B       B
2         B         B       B
3         B         B       B
4         B         B       B

In [715]:
df.describe(include=['object'])

       Ecology_2 Ecology_3 Shops_2
count      10000     10000   10000
unique         2         2       2
top            B         B       B
freq        9903      9725    9175

#### Посмотрим соотношения категорий

In [716]:
df['Ecology_2'].value_counts()

B    9903
A      97
Name: Ecology_2, dtype: int64

In [717]:
df['Ecology_3'].value_counts()

B    9725
A     275
Name: Ecology_3, dtype: int64

In [718]:
df['Shops_2'].value_counts()

B    9175
A     825
Name: Shops_2, dtype: int64

#### Районы данных по которым больше всего и их распределения в датасете

In [719]:
df['DistrictId'].value_counts(normalize=True).head()

27    0.0851
1     0.0652
23    0.0565
6     0.0511
9     0.0294
Name: DistrictId, dtype: float64

#### Средние значения Price по Ecology_2

In [720]:
df[df['Ecology_2'] == 'A']['Price'].mean()

193139.71700581786

In [721]:
df[df['Ecology_2'] == 'B']['Price'].mean()

214344.5442227426

#### Средние значения Price по Ecology_3

In [722]:
df[df['Ecology_3'] == 'A']['Price'].mean()

243179.56070442655

In [723]:
df[df['Ecology_3'] == 'B']['Price'].mean()

213317.654991637

#### Средние значения Price по Shops_2

In [724]:
df[df['Shops_2'] == 'A']['Price'].mean()

192339.700512921

In [725]:
df[df['Shops_2'] == 'B']['Price'].mean()

216098.9995710331

### Обработка пропусков:

In [726]:
len(df) - df.count()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

#### LifeSquare

Замена всех null значений LifeSquare медианными значениями LifeSquare с учетом количества комнат.

In [727]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 1), 'LifeSquare'] = df.loc[df['Rooms'] == 1,'LifeSquare'].median()
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 2), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 3), 'LifeSquare'] = df.loc[df['Rooms'] == 3,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 4), 'LifeSquare'] = df.loc[df['Rooms'] == 4,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 5), 'LifeSquare'] = df.loc[df['Rooms'] == 5,'LifeSquare'].median()

In [728]:
df[df['LifeSquare'].isnull()]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2269,7317,27,0,41.790881,NaN,0.0,13,0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0,49.483501,NaN,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,NaN,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112

Остаются значения с нулевыми значениями количества комнат. Ставим в них значения медианы LifeSquare для 2 комнат т.к. это значение выше 75 процентиля.

In [729]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 0), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median()

Убеждаемся в отсутствии null значений LifeSquare

In [730]:
df[df['LifeSquare'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Healthcare_1

Замена null значений Healthcare_1 на медианные значения

In [731]:
df.loc[df['Healthcare_1'].isnull(), 'Healthcare_1'] = df['Healthcare_1'].median()

Убеждаемся в отсутствии null значений Healthcare_1

In [732]:
df[df['Healthcare_1'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

### Обработка выбросов:

In [733]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,35.866626,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.758444,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,21.906744,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.552134,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,44.407075,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

#### Rooms:

In [734]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0,138.427694,136.215499,0.0,4,3,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
2269,7317,27,0,41.790881,32.552134,0.0,13,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,98129.976788
3911,770,28,0,49.483501,32.552134,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,32.552134,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6149,3159,88,0,38.697117,19.345131,9.0,9,16,1982,0.127376,B,B,43,8429,3,900.0,3,9,B,158998.110646
8834,9443,27,0,87.762616,85.125471,0.0,5,15,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,219281.918007

#### Заполним нулевые значения комнат значениями комнат по медиане площадей

In [735]:
df.loc[(df['Rooms'] == 0) & (df['Square'] <= df.loc[df['Rooms'] == 1,'Square'].median()), 'Rooms'] = 1
df.loc[(df['Rooms'] == 0) & (df['Square'] > df.loc[df['Rooms'] == 1,'Square'].median()) & 
       (df['Square'] <= df.loc[df['Rooms'] == 2,'Square'].median()), 'Rooms'] = 2
df.loc[(df['Rooms'] == 0) & (df['Square'] > df.loc[df['Rooms'] == 2,'Square'].median()) &
       (df['Square'] <= df.loc[df['Rooms'] == 3,'Square'].median()), 'Rooms'] = 3
df.loc[(df['Rooms'] == 0) & (df['Square'] > df.loc[df['Rooms'] == 3,'Square'].median()) &
       (df['Square'] <= df.loc[df['Rooms'] == 4,'Square'].median()), 'Rooms'] = 4

In [736]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0,138.427694,136.215499,0.0,4,3,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887

#### Остались два значения с площадями больше медианных для 4 комнат. Зададим им значение Rooms = 5

In [737]:
df.loc[(df['Rooms'] == 0), 'Rooms'] = 5

Убеждаемся в отсутствии null значений Rooms

In [738]:
df[df['Rooms'] < 1]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Square:

In [739]:
df[(df['Square'] < 10) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1316,11526,27,1,4.633498,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1608,10202,6,1,2.596351,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1,4.380726,40.805837,1.0,10,17,2013,0.211401,B,B,9,1892,0,900.0,0,1,B,97560.720383
3413,9487,5,1,5.129222,5.549458,1.0,1,1,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
4853,3224,27,1,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6392,14786,1,1,1.136859,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
8283,15744,34,1,1.988943,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
9294,6782,45,1,2.954309,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9613,7657,38,1,4.502784,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

#### Замена значений Square менее 10 квадратов в однокомнатной квартире на медианные значения в однокомнатной квартире

Учитываем количество комнат и год постройки

In [740]:
df.loc[(df['Square'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1977),'Square'].median()

In [741]:
df.loc[(df['Square'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2013), 'Square'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2013),'Square'].median()

In [742]:
df.loc[(df['Square'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2014), 'Square'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2014),'Square'].median()

Смотрим есть ли еще квартиры с площадью менее 10 квадратов

In [743]:
df[df['Square'] < 10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
4900,4504,27,3,4.390331,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
8030,13265,1,3,4.823679,79.767964,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,237716.681261

Такие значения еще есть и это 2 и 3 комнатные квартиры

#### Медианные значения для 2 и 3 комнатных квартир

In [744]:
df.loc[(df['Rooms'] == 2) ,'Square'].median()

55.83354322674675

In [745]:
df.loc[(df['Rooms'] == 3) ,'Square'].median()

77.41364294803941

Возьмем значения заведомо меньшие медианных для 2 и 3 комнатных квартир и заменим их на медианные аналогично 1 комнатным квартирам (с учетом года)

In [746]:
df[(df['Square'] < 25) & (df['Rooms'] == 2)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
6945,12927,62,2,17.414181,32.552134,1.0,4,20,1977,0.072158,B,B,2,629,1,900.0,0,0,A,180750.471749

In [747]:
df.loc[(df['Square'] < 25) & (df['Rooms'] == 2) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1977),'Square'].median()

In [748]:
df[(df['Square'] < 30) & (df['Rooms'] == 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4739,12676,81,3,13.784865,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4900,4504,27,3,4.390331,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
5617,15877,57,3,16.547242,16.698571,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
8030,13265,1,3,4.823679,79.767964,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,237716.681261

In [749]:
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1960), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1960),'Square'].median()
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 2016), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2016),'Square'].median()
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1962), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1962),'Square'].median()
df.loc[(df['Square'] < 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1977),'Square'].median()

Убедимся, что таких квартир больше нет

In [750]:
df[(df['Square'] < 25) & (df['Rooms'] == 2)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [751]:
df[(df['Square'] < 30) & (df['Rooms'] == 3)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [752]:
df[df['Square'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,5,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
1982,5548,86,5,275.645284,233.949309,26.0,12,37,2011,0.161976,B,A,31,7010,5,4508.0,3,7,B,455264.882666
4262,28,9,2,604.705972,32.552134,1.0,17,18,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187717.242538
4690,2307,102,1,409.425181,410.639749,10.0,4,4,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,90470.430830
6977,11602,30,2,641.065193,638.163193,10.0,20,19,2019,0.000078,B,B,22,6398,141,1046.0,3,23,B,133529.681562
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,B,B,53,14892,4,900.0,1,4,B,528560.506016

In [753]:
df.loc[(df['Square'] > 200) & (df['Rooms'] == 2) & (df['HouseYear'] == 1977), 'Square'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1977),'Square'].median()
df.loc[(df['Square'] > 200) & (df['Rooms'] == 2) & (df['HouseYear'] == 2019), 'Square'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2019),'Square'].median()
df.loc[(df['Square'] > 200) & (df['Rooms'] == 1) & (df['HouseYear'] == 2016), 'Square'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2016),'Square'].median()

In [754]:
df[df['Square'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,5,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
1982,5548,86,5,275.645284,233.949309,26.0,12,37,2011,0.161976,B,A,31,7010,5,4508.0,3,7,B,455264.882666
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,B,B,53,14892,4,900.0,1,4,B,528560.506016

#### LifeSquare:

Смотрим есть ли однокомнатные квартиры с LifeSquare менее 10

In [755]:
df[(df['LifeSquare'] < 10) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
160,3522,6,1,66.419841,3.987101,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,193361.229815
270,15215,17,1,46.692974,5.941401,1.0,7,1,2015,0.000000,B,B,18,3374,5,620.0,1,2,B,212290.684086
363,15751,9,1,44.171793,1.251846,1.0,11,18,2017,0.161532,B,B,25,5648,1,30.0,2,4,B,134910.715588
477,8849,45,1,63.419553,2.286357,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,325600.765809
527,2141,56,1,53.733677,4.323046,1.0,24,1,2015,0.000000,B,B,23,5067,4,900.0,2,6,B,208773.977243
674,10631,88,1,42.571618,1.941521,1.0,6,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,130374.241595
695,1867,30,1,54.626206,4.651397,1.0,4,3,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,87456.520038
707,4345,62,1,49.275155,1.377284,1.0,5,1,2020,0.072158,B,B,2,629,1,900.0,0,0,A,135353.885620
734,4319,62,1,51.815214,4.203073,1.0,6,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,137880.620962
765,7060,27,1,38.651043,5.822657,1.0,7,17,1977,0.011654,B,B,4,915,0,900.0,0,0,B,103210.010325
850,2470,6,1,43.312025,1.404493,1.0,11,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,128588.741321
1169,14866,6,1,38.818170,5.927865,1.0,18,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,131405.866884
1175,3527,9,1,72.035396,2.358992,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,191744.615408
1214,6366,6,1,47.804946,2.553024,1.0,6,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,133552.372112
1316,11526,27,1,42.600398,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1410,1843,74,1,49.635712,3.411048,1.0,4,1,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,146838.036852
1504,2967,1,1,62.494611,3.489694,0.0,1,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,193568.854208
1608,10202,6,1,42.466813,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
1673,12335,9,1,60.022123,2.858369,1.0,9,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,176731.431750
1800,13113,27,1,37.805231,2.228592,11.0,6,0,2015,0.017647,B,B,2,469,0,900.0,0,0,B,137402.092529
1918,13603,63,1,127.651237,2.609712,1.0,8,17,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,594565.299770
2224,3746,62,1,46.722042,1.944446,1.0,11,12,2018,0.072158,B,B,2,629,1,900.0,0,0,A,133721.121715
2309,10285,30,1,32.271741,3.386009,1.0,4,19,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,105921.018210
2418,5989,6,1,39.251773,2.981582,1.0,17,25,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,136206.666782
2430,1317,6,1,51.460538,4.763693,1.0,25,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,142065.034795
2665,8997,74,1,43.227719,1.726270,1.0,9,17,2016,0.075779,B,B,6,1437,3,900.0,0,2,B,154565.271940
2842,3142,6,1,39.145322,4.083905,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,116981.443099
2860,12542,1,1,44.204418,1.789086,1.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,160181.048031
2898,5497,58,1,37.686426,4.977769,1.0,2,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,72950.870871
2906,10404,6,1,43.613432,3.668460,1.0,3,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,128710.472293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968,11328,74,1,40.302458,4.736100,1.0,18,17,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,162016.371387
6047,10229,1,1,45.642858,2.072088,1.0,16,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,157681.026389
6392,14786,1,1,42.600398,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
6517,2398,62,1,50.022583,1.538058,1.0,14,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,130720.196859
6609,13491,0,1,38.178277,0.370619,0.0,19,17,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,105134.286994
7028,13440,6,1,78.432890,4.044174,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,222826.758816
7045,15209,83,1,41.527079,2.077811,1.0,17,1,1977,0.007720,B,B,38,4788,2,900.0,0,4,B,214393.174037
7056,5575,27,1,41.941912,4.437475,0.0,10,0,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,113350.022423
7068,15346,30,1,37.387578,4.699898,1.0,14,22,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,109553.129485
7221,5306,96,1,49.462997,1.417155,1.0,8,15,2016,0.041116,B,B,53,14892,4,900.0,1,4,B,119791.098164
7452,8626,1,1,47.195748,1.168791,1.0,19,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,170718.296542
7719,10079,59,1,48.232741,3.288779,1.0,15,17,2017,0.019509,B,B,37,7687,11,176.0,5,5,B,207086.637307
7756,1680,58,1,47.889736,3.605019,1.0,3,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,122731.005950
7767,6927,21,1,16.117154,8.822988,0.0,2,5,1965,0.194489,B,B,47,8004,3,125.0,3,5,B,79913.267856
8065,7669,34,1,43.873302,1.973848,1.0,13,17,2015,0.069753,B,B,53,13670,4,900.0,1,11,B,204863.503174
8220,8194,30,1,42.065862,5.624248,1.0,13,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,126976.982021
8283,15744,34,1,42.600398,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
8452,14380,58,1,40.525820,4.174627,1.0,16,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,116642.983817
8715,1936,74,1,53.835574,1.185864,0.0,7,7,2018,0.075779,B,B,6,1437,3,900.0,0,2,B,185976.351147
8886,2056,9,1,47.301790,5.125908,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,138880.254465
8908,10684,22,1,41.872590,2.347250,1.0,3,1,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,136609.809831
9177,13951,45,1,39.225914,2.372105,1.0,24,24,2017,0.195781,B,B,23,5212,6,900.0,3,2,B,271893.118572
9192,1754,6,1,61.978423,3.943299,1.0,1,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,177116.339701
9294,6782,45,1,42.600398,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9299,8687,48,1,42.840915,2.608669,1.0,19,17,1977,0.041125,B,B,46,9515,5,900.0,1,10,B,236378.466217
9396,3745,30,1,42.457169,3.259832,1.0,10,25,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B,155348.833619
9576,7389,23,1,52.028804,4.295819,0.0,8,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,98638.755928
9613,7657,38,1,42.600398,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083
9813,2040,62,1,122.438148,5.751401,1.0,2,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,224900.897679
9888,6053,6,1,41.314775,5.005477,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,159149.515475

Заменяем LifeSquare медианным значением для однокомнатных квартир

In [756]:
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 1965), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1965),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 1977), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1977),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2014), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2014),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2015), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2015),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2017), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2017),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2018), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2018),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 1) & (df['HouseYear'] == 2020), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2020),'LifeSquare'].median()

In [757]:
df[(df['LifeSquare'] < 10) & (df['Rooms'] == 1)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

Проделываем тоже самое для 2 и 3 комнатных квартир

In [758]:
df[(df['LifeSquare'] < 20) & (df['Rooms'] == 2)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
95,4280,34,2,61.334968,4.091945,1.0,26,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,286564.441972
134,12613,6,2,65.496674,5.589324,1.0,5,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,180727.643541
279,8727,1,2,79.521221,4.634049,1.0,5,1,2017,0.007122,B,B,1,264,0,900.0,0,1,B,232726.628137
475,6333,27,2,64.049695,4.008230,1.0,5,5,2017,0.017647,B,B,2,469,0,900.0,0,0,B,189477.560210
560,8149,6,2,71.904226,4.171094,1.0,9,25,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,184050.456761
683,15091,27,2,66.535842,1.638083,1.0,6,1,1977,0.017647,B,B,2,469,0,900.0,0,0,B,175067.233991
882,1250,53,2,56.290825,5.142822,1.0,2,19,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,294282.721375
1215,6189,53,2,58.896686,5.735331,1.0,18,19,2014,0.049637,B,B,34,7759,0,229.0,1,3,B,286784.105825
1526,16559,75,2,60.610730,17.225296,5.0,5,5,1964,0.122090,B,B,29,6566,7,1894.0,4,0,B,118900.634813
1580,363,27,2,59.715762,1.595943,0.0,2,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,189331.645263
1593,9418,9,2,66.942469,5.948864,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,183976.840021
1827,16176,6,2,64.998310,1.974968,1.0,13,17,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,175065.504600
2313,5718,9,2,60.231529,2.730297,1.0,16,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,189988.834380
2350,3799,123,2,47.234446,19.363580,6.0,2,12,1980,0.000000,B,B,47,11319,0,1145.0,3,5,B,153924.162352
2403,15075,54,2,81.220434,3.289115,1.0,12,1,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,437452.971467
2455,12347,1,2,62.591303,4.775790,1.0,8,6,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,171878.679677
2713,5830,23,2,56.809859,4.037187,1.0,3,4,2015,0.034656,B,B,0,168,0,900.0,0,0,B,124695.921792
2828,6982,25,2,57.803236,5.061446,1.0,24,1,2017,0.069753,B,B,53,13670,4,900.0,1,11,B,318660.439621
2887,15402,27,2,58.521098,1.049867,1.0,4,17,2014,0.072158,B,B,2,629,1,900.0,0,0,A,142393.084641
3072,1388,54,2,74.747303,1.411101,1.0,7,22,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,431137.951634
3158,2309,6,2,61.547028,4.660610,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,173732.138747
3298,9955,6,2,64.083268,1.894269,1.0,2,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,187599.924231
3299,15760,34,2,65.235395,4.362005,1.0,8,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,336951.628930
3487,1057,27,2,54.755388,5.662233,1.0,12,17,2018,0.011654,B,B,4,915,0,900.0,0,0,B,150281.357110
3601,2108,48,2,61.136113,4.289714,1.0,23,1,2016,0.041125,B,B,46,9515,5,900.0,1,10,B,326425.621924
3730,12049,1,2,61.541353,1.242250,1.0,20,22,2014,0.007122,B,B,1,264,0,900.0,0,1,B,206168.319222
4037,5762,27,2,67.983723,1.471491,1.0,8,1,2019,0.211401,B,B,9,1892,0,900.0,0,1,B,152932.624905
4223,6196,1,2,55.828425,5.066533,1.0,9,1,2019,0.007122,B,B,1,264,0,900.0,0,1,B,183136.340415
4357,9634,27,2,60.844243,2.523987,1.0,17,17,2016,0.072158,B,B,2,629,1,900.0,0,0,A,212589.707437
4387,6318,6,2,75.994434,3.512299,1.0,22,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,190746.651322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6123,14658,6,2,62.000239,3.428437,1.0,12,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,185230.373774
6178,740,9,2,66.542124,3.435682,1.0,2,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,181423.633875
6206,1444,30,2,66.217931,2.281565,1.0,17,17,2015,0.000078,B,B,22,6398,141,1046.0,3,23,B,153639.846840
6354,10930,9,2,65.568381,1.150046,1.0,6,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187858.706484
6514,6237,6,2,68.495636,3.064164,1.0,6,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,178486.385759
6542,15883,23,2,64.473190,2.452816,1.0,6,17,2016,0.075779,B,B,6,1437,3,900.0,0,2,B,181679.665945
6612,8199,9,2,67.981161,5.164391,1.0,9,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,205998.194897
7059,464,25,2,66.012592,3.529646,1.0,15,25,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,252748.663126
7139,8044,45,2,62.777104,1.141118,1.0,10,17,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,332118.521912
7159,6970,27,2,65.845103,2.014454,1.0,9,17,2015,0.072158,B,B,2,629,1,900.0,0,0,A,229921.804972
7370,12066,27,2,64.982383,4.479819,1.0,2,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194049.949036
7384,12245,23,2,67.032994,1.139667,1.0,3,17,1977,0.034656,B,B,0,168,0,900.0,0,0,B,185006.418232
7404,4773,75,2,68.088569,3.533997,1.0,8,1,2015,0.122090,B,B,29,6566,7,1894.0,4,0,B,311242.425922
8012,5561,27,2,58.161484,5.815532,1.0,12,12,1977,0.011654,B,B,4,915,0,900.0,0,0,B,138905.568311
8129,16501,22,2,64.186016,2.484378,1.0,10,10,2017,0.118537,B,B,30,6207,1,1183.0,1,0,B,187799.877054
8475,5803,6,2,64.682905,4.164726,1.0,12,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,186246.253542
8561,12503,6,2,74.273400,5.615401,1.0,12,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,188118.364308
8601,467,9,2,45.924840,2.907493,1.0,10,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,124016.667294
8615,6814,52,2,66.544692,2.179808,1.0,2,17,2018,0.371149,B,B,34,7065,1,750.0,2,5,B,183784.694445
8855,4512,9,2,64.977910,5.768457,1.0,11,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,194036.364634
8882,14112,23,2,53.043172,4.855507,1.0,4,1,1977,0.034656,B,B,0,168,0,900.0,0,0,B,89801.732879
8906,4682,7,2,43.860149,11.321071,7.0,6,12,1969,0.035145,B,B,42,9292,3,2620.0,0,3,B,235924.134145
8971,6749,23,2,65.204976,2.467002,0.0,9,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,167560.543204
8973,14254,27,2,73.275697,2.861966,1.0,2,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,171980.001444
9264,5458,9,2,62.920673,1.591420,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,180234.142008
9291,15165,74,2,83.259565,5.387263,1.0,12,1,2017,0.309479,B,B,35,7715,4,990.0,0,6,B,260852.230977
9316,15449,6,2,62.548496,3.645893,1.0,16,25,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,191217.348124
9602,5112,6,2,63.591740,0.795539,10.0,17,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,174741.998061
9748,14053,27,2,56.564445,2.616535,1.0,7,12,2015,0.011654,B,B,4,915,0,900.0,0,0,B,141086.005616
9756,13583,27,2,58.943039,3.319486,1.0,11,17,2017,0.011654,B,B,4,915,0,900.0,0,0,B,142789.948977

In [759]:
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1931), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1931),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1964), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1964),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1965), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1965),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1969), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1969),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1973), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1973),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1977), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1977),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 1980), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1980),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2005), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2005),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2006), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2006),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2014), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2014),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2015), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2015),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2017), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2017),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2018), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2018),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 20) & (df['Rooms'] == 2) & (df['HouseYear'] == 2020), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2020),'LifeSquare'].median()

In [760]:
df[(df['LifeSquare'] < 20) & (df['Rooms'] == 2)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [761]:
df[(df['LifeSquare'] < 25) & (df['Rooms'] == 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3,106.958871,0.641822,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
158,16779,27,3,51.991064,4.896202,1.0,22,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,174687.566186
655,34,6,3,78.380053,4.003157,1.0,23,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,206647.245666
751,11989,62,3,104.446306,1.451067,1.0,12,15,2015,0.072158,B,B,2,629,1,900.0,0,0,A,223692.672480
1609,14969,9,3,86.802396,5.419928,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,238084.208302
1731,2239,6,3,82.882978,3.977650,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,219945.304640
1738,2186,27,3,81.380553,4.337395,1.0,13,25,2015,0.072158,B,B,2,629,1,900.0,0,0,A,196743.389597
2142,15261,22,3,83.162217,1.318250,1.0,8,1,2018,0.118537,B,B,30,6207,1,1183.0,1,0,B,391390.261824
2848,7838,48,3,86.059789,3.434851,1.0,27,1,2015,0.041125,B,B,46,9515,5,900.0,1,10,B,467773.389759
2870,16150,34,3,83.590446,4.030483,1.0,16,1,2015,0.069753,B,B,53,13670,4,900.0,1,11,B,315641.205620
2957,11956,62,3,86.221496,3.032334,1.0,3,15,2017,0.072158,B,B,2,629,1,900.0,0,0,A,167544.244106
3428,8553,88,3,83.262530,4.769174,1.0,13,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,410883.892020
3547,14398,54,3,113.329819,5.949812,1.0,10,1,2014,0.006076,B,B,30,5285,0,645.0,6,6,B,585031.267181
4514,4680,54,3,107.558419,4.110708,1.0,13,1,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,577122.841727
4661,7305,30,3,70.193071,4.090415,1.0,4,1,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,108658.694240
4739,12676,81,3,76.679370,15.988889,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4900,4504,27,3,83.246030,5.610772,1.0,8,19,2016,0.211401,B,B,9,1892,0,900.0,0,1,B,161379.067034
5540,11412,27,3,88.934210,1.819834,0.0,8,12,1977,0.072158,B,B,2,629,1,900.0,0,0,A,219463.505244
5617,15877,57,3,59.631940,16.698571,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
5624,7558,9,3,80.288136,1.297030,1.0,14,18,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,254966.798112
6765,14511,59,3,91.948656,4.575279,1.0,15,20,2014,0.019509,B,B,37,7687,11,176.0,5,5,B,451714.464410
6797,521,23,3,73.456283,4.933256,1.0,3,1,2019,0.005767,B,B,1,388,0,900.0,0,0,B,109087.023700
6932,16539,9,3,73.639918,5.565903,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,220109.387427
7048,10423,6,3,83.184700,5.226210,1.0,7,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,212195.019570
7314,5882,6,3,78.105126,2.361873,1.0,2,1,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,221807.112568
7647,7627,58,3,82.535096,1.626501,1.0,16,17,2016,0.437885,B,B,23,5735,3,1084.0,0,5,B,218975.318679
7926,12133,6,3,79.056088,5.144151,1.0,10,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,209843.057259
8061,4941,6,3,83.190541,3.666085,1.0,15,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,221683.641204
8148,3052,1,3,31.113950,19.799743,6.0,6,5,1975,0.014581,B,B,3,760,1,900.0,0,0,B,114756.610121
8332,9244,6,3,79.967167,2.299716,1.0,8,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,203302.643146
8543,16090,6,3,77.847057,2.941437,1.0,12,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,221644.916098
8711,8601,6,3,80.968060,1.239622,1.0,6,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,217669.112875
9001,5913,90,3,44.418467,21.107737,8.0,10,15,1973,0.265089,B,B,37,5288,0,1937.0,3,2,B,214431.006851
9828,13630,24,3,127.141143,4.811405,1.0,3,1,2017,0.111627,B,B,50,12238,8,1970.0,2,3,B,611250.912034
9954,583,27,3,84.250710,4.187885,1.0,15,1,2016,0.072158,B,B,2,629,1,900.0,0,0,A,236647.781363

In [762]:
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1931), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1931),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1960), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1960),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1962), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1962),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1964), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1964),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1965), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1965),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1969), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1969),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1973), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1973),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1975), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1975),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1977), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1977),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 1980), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1980),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2005), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2005),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2006), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2006),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2014), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2014),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2015), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2015),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2017), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2017),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2018), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2018),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] < 25) & (df['Rooms'] == 3) & (df['HouseYear'] == 2020), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2020),'LifeSquare'].median()

In [763]:
df[(df['LifeSquare'] < 25) & (df['Rooms'] == 3)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [764]:
df[(df['LifeSquare'] > 200) & (df['Rooms'] < 4)].sort_values(by='Rooms')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4690,2307,102,1,63.035359,410.639749,10.0,4,4,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,90470.430830
590,14990,23,2,48.449873,263.542020,5.0,6,5,1972,0.075779,B,B,6,1437,3,900.0,0,2,B,141780.231857
6977,11602,30,2,65.252547,638.163193,10.0,20,19,2019,0.000078,B,B,22,6398,141,1046.0,3,23,B,133529.681562
4328,16550,27,3,81.694417,7480.592129,1.0,9,17,2016,0.017647,B,B,2,469,0,900.0,0,0,B,217357.492366
8437,15886,85,3,78.059331,461.463614,10.0,12,16,1998,0.037178,B,B,52,11217,1,2300.0,1,7,B,394253.299978

In [765]:
df.loc[(df['LifeSquare'] > 200) & (df['Rooms'] == 1) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] > 200) & (df['Rooms'] == 2) & (df['HouseYear'] == 1972), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1972),'LifeSquare'].median()
df.loc[(df['LifeSquare'] > 200) & (df['Rooms'] == 2) & (df['HouseYear'] == 2019), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2019),'LifeSquare'].median()
df.loc[(df['LifeSquare'] > 200) & (df['Rooms'] == 3) & (df['HouseYear'] == 2016), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2016),'LifeSquare'].median()
df.loc[(df['LifeSquare'] > 200) & (df['Rooms'] == 3) & (df['HouseYear'] == 1998), 'LifeSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1998),'LifeSquare'].median()

In [766]:
df[df['LifeSquare'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,5,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
1982,5548,86,5,275.645284,233.949309,26.0,12,37,2011,0.161976,B,A,31,7010,5,4508.0,3,7,B,455264.882666
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,B,B,53,14892,4,900.0,1,4,B,528560.506016

In [767]:
df[df['LifeSquare'] < 10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
682,2913,34,4,94.888593,2.637095,1.0,4,1,2018,0.069753,B,B,53,13670,4,900.0,1,11,B,346949.506507
3468,88,34,4,93.904994,2.078688,1.0,14,1,2018,0.069753,B,B,53,13670,4,900.0,1,11,B,367368.954516
8487,11829,34,4,98.047744,1.451846,1.0,16,1,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,366655.111294

In [768]:
coef = df['LifeSquare'].median()/df['Square'].median()
coef

0.6195696684605433

In [769]:
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 4), 'LifeSquare'] = \
df.loc[(df['LifeSquare'] < 10) & (df['Rooms'] == 4),'Square']*coef

In [770]:
df[df['LifeSquare'] < 10]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### KitchenSquare:

Существуют квартиры с нулевой площадью кухни. Учитывая отсутствие полного описания данных можно предположить, что это квартиры студии, хотя распределение по годам выглядит несколько подозрительно (преобладающая часть таких квартир в домах 1977 года).

In [771]:
df.loc[df['KitchenSquare'] == 0,'HouseYear'].value_counts()

1977    593
2016     25
2017     22
2018     17
2015     14
2014      9
2019      5
2008      2
2003      1
2012      1
1975      1
1974      1
1968      1
1966      1
1965      1
1962      1
1961      1
1955      1
Name: HouseYear, dtype: int64

Можно выделить эту информацию в отдельный бинарный признак.

In [772]:
df['StudioApartment'] = (df['KitchenSquare'] == 0).astype('int64')

In [773]:
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
0,14038,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,...,B,33,7976,5,900.0,0,11,B,184966.930730,0
1,15053,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,...,B,46,10309,1,240.0,1,16,B,300009.450063,0
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,...,B,34,7759,0,229.0,1,3,B,220925.908524,1
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,175616.227217,0
4,10783,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,...,B,35,5776,1,2078.0,2,4,B,150226.531644,0

Посмотрим количество квартир с площадью кухни равной 1 квадрат

In [774]:
df[df['KitchenSquare'] == 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
8,5172,1,2,64.511437,32.552134,1.0,9,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,229102.795999,0
12,6452,13,2,54.522805,31.759753,1.0,8,12,1999,0.090799,...,B,74,19083,2,900.0,5,15,B,229220.372609,0
14,10953,27,1,53.769097,52.408027,1.0,5,4,1977,0.072158,...,B,2,629,1,900.0,0,0,A,140647.565937,0
21,11935,27,2,64.711835,32.552134,1.0,15,1,1977,0.211401,...,B,9,1892,0,900.0,0,1,B,127200.026511,0
25,5073,74,2,82.667915,32.552134,1.0,16,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,244145.827069,0
27,7550,23,2,64.556209,32.552134,1.0,8,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,173910.923723,0
28,8054,23,1,42.530043,43.967759,1.0,3,9,2014,0.034656,...,B,0,168,0,900.0,0,0,B,95338.198549,0
32,13253,27,2,63.679116,37.275775,1.0,9,15,1977,0.017647,...,B,2,469,0,900.0,0,0,B,178721.706337,0
36,11703,23,1,41.118766,21.663929,1.0,4,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,103510.223601,0
43,175,23,2,58.692133,32.552134,1.0,16,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,184501.011225,0
46,1821,23,2,49.929489,32.552134,1.0,9,12,1977,0.034656,...,B,0,168,0,900.0,0,0,B,88464.425395,0
54,16334,1,1,42.414176,21.663929,1.0,14,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,156476.614348,0
57,3203,23,2,56.218702,32.552134,1.0,3,3,1977,0.005767,...,B,1,388,0,900.0,0,0,B,90303.665683,0
61,4191,1,2,65.023899,32.552134,1.0,10,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,197343.797985,0
63,7605,6,1,42.505532,21.663929,1.0,6,12,2014,0.243205,...,B,5,1564,0,540.0,0,0,B,113617.219571,0
64,9723,52,2,64.141152,32.552134,1.0,5,17,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,158148.936484,0
74,4014,6,2,63.184422,61.142894,1.0,17,17,2016,0.243205,...,B,5,1564,0,540.0,0,0,B,190762.981550,0
76,14020,34,1,47.909327,42.782385,1.0,2,1,2016,0.069753,...,B,53,13670,4,900.0,1,11,B,181167.642404,0
86,9613,148,3,127.481583,46.960480,1.0,16,1,2012,0.313925,...,B,22,4625,11,3855.0,2,10,B,510700.444735,0
95,4280,34,2,61.334968,35.326994,1.0,26,1,2014,0.069753,...,B,53,13670,4,900.0,1,11,B,286564.441972,0
98,9753,23,1,41.845698,21.663929,1.0,14,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,110620.629320,0
100,14756,1,1,50.617768,46.505676,1.0,10,24,1977,0.007122,...,B,1,264,0,900.0,0,1,B,175188.958216,0
103,11765,23,2,48.760132,32.552134,1.0,3,3,1977,0.034656,...,B,0,168,0,900.0,0,0,B,113250.426500,0
104,2930,9,2,62.347154,32.552134,1.0,6,1,1977,0.161532,...,B,25,5648,1,30.0,2,4,B,184172.975639,0
108,3276,27,2,62.224569,58.503985,1.0,8,17,2016,0.017647,...,B,2,469,0,900.0,0,0,B,192625.049400,0
115,12377,27,2,60.445855,32.552134,1.0,13,1,1977,0.072158,...,B,2,629,1,900.0,0,0,A,213798.185151,0
117,3975,1,2,65.009279,32.552134,1.0,9,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,186403.484189,0
119,367,45,1,42.367289,40.012529,1.0,16,14,2015,0.195781,...,B,23,5212,6,900.0,3,2,B,250466.980777,0
123,8753,25,3,85.952306,89.803753,1.0,4,3,2017,0.069753,...,B,53,13670,4,900.0,1,11,B,309688.592681,0
125,8691,1,2,55.233213,32.552134,1.0,13,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,184324.900886,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9880,13740,23,1,42.856166,21.663929,1.0,13,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,131936.583518,0
9886,14495,27,2,76.370258,32.552134,1.0,10,12,1977,0.072158,...,B,2,629,1,900.0,0,0,A,181589.844931,0
9888,6053,6,1,41.314775,28.087301,1.0,9,17,2016,0.243205,...,B,5,1564,0,540.0,0,0,B,159149.515475,0
9893,1913,52,2,62.023753,32.552134,1.0,11,17,2016,0.371149,...,B,34,7065,1,750.0,2,5,B,183213.528975,0
9902,14001,73,1,44.098768,44.267551,1.0,7,24,2014,0.042032,...,B,37,6856,84,1940.0,2,5,B,381937.404161,0
9903,4153,23,1,32.879523,30.397748,1.0,9,9,2015,0.034656,...,B,0,168,0,900.0,0,0,B,70098.380568,0
9906,10189,6,1,39.894107,38.231623,1.0,15,17,2016,0.243205,...,B,5,1564,0,540.0,0,0,B,129675.060731,0
9914,11428,1,2,69.407574,32.552134,1.0,15,25,1977,0.007122,...,B,1,264,0,900.0,0,1,B,221718.598852,0
9917,1901,94,1,45.822669,21.663929,1.0,7,1,1977,0.282798,...,B,33,8667,2,900.0,0,6,B,229936.748542,0
9923,16273,30,2,63.905356,32.552134,1.0,6,25,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,189417.357268,0
9926,10680,1,1,41.657661,21.663929,1.0,2,22,1977,0.007122,...,B,1,264,0,900.0,0,1,B,120424.535875,0
9931,13355,27,2,64.261856,32.552134,1.0,10,1,1977,0.072158,...,B,2,629,1,900.0,0,0,A,223719.779293,0
9936,15173,30,2,62.341347,32.552134,1.0,19,21,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,174256.265798,0
9938,15868,9,2,64.412326,61.337938,1.0,13,1,1977,0.161532,...,B,25,5648,1,30.0,2,4,B,183118.396487,0
9942,9369,1,2,56.323990,32.552134,1.0,18,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,183882.806975,0
9949,3355,53,1,39.211416,36.159431,1.0,19,18,2019,0.049637,...,B,34,7759,0,229.0,1,3,B,180600.181118,0
9951,9237,25,1,33.516313,31.086243,1.0,13,11,2015,0.069753,...,B,53,13670,4,900.0,1,11,B,148066.435795,0
9954,583,27,3,84.250710,70.678594,1.0,15,1,2016,0.072158,...,B,2,629,1,900.0,0,0,A,236647.781363,0
9961,1579,23,1,27.331108,21.663929,1.0,10,12,1977,0.034656,...,B,0,168,0,900.0,0,0,B,60825.032060,0
9963,15035,1,2,66.547650,32.552134,1.0,13,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,184050.533213,0
9964,10463,27,3,49.574590,45.590573,1.0,18,25,2013,0.072158,...,B,2,629,1,900.0,0,0,A,145025.095667,0
9972,6097,6,3,82.147338,46.960480,1.0,17,17,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,222068.370598,0
9974,2159,30,1,33.227093,32.639166,1.0,4,4,2016,0.000078,...,B,22,6398,141,1046.0,3,23,B,65949.315881,0
9976,3621,22,2,58.853794,32.552134,1.0,10,17,1977,0.118537,...,B,30,6207,1,1183.0,1,0,B,175229.645872,0
9978,13725,1,2,67.510526,32.552134,1.0,10,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,185996.664227,0
9983,2705,6,2,64.311707,61.920700,1.0,12,17,2015,0.243205,...,B,5,1564,0,540.0,0,0,B,164356.212221,0
9985,16159,27,1,38.968338,21.663929,1.0,10,1,1977,0.211401,...,B,9,1892,0,900.0,0,1,B,95529.569405,0
9986,2996,1,2,64.994245,32.552134,1.0,9,22,1977,0.007122,...,B,1,264,0,900.0,0,1,B,200332.511658,0
9994,4158,23,2,64.864198,32.552134,1.0,17,17,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,171323.515653,0
9997,5123,27,1,47.939008,21.663929,1.0,12,16,2015,0.072158,...,B,2,629,1,900.0,0,0,A,159143.805370,0

Доля таких квартир равна четверти от всех

In [775]:
df[(df['KitchenSquare'] > 1) & (df['KitchenSquare'] < 5)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
261,35,7,2,43.948288,28.578213,4.0,6,5,1964,0.130618,...,B,39,10418,9,900.0,1,9,B,180923.169520,0
364,7196,8,2,45.263168,31.251545,4.0,9,9,1973,0.458174,...,A,26,4439,1,1130.0,1,5,B,204126.847689,0
992,757,131,2,44.581728,31.525382,4.0,4,4,1959,0.000000,...,B,23,3684,2,900.0,0,4,B,240073.043361,0
1029,13234,157,1,28.145334,17.650399,4.0,4,5,1932,0.000000,...,B,30,7538,87,4702.0,5,5,B,201311.771818,0
1073,1811,130,2,43.846681,30.799065,4.0,10,9,1968,0.218440,...,B,21,4472,6,1450.0,4,7,A,183126.364402,0
1343,11145,8,2,43.392053,31.550798,4.0,3,5,1967,0.458174,...,A,26,4439,1,1130.0,1,5,B,160868.809677,0
1444,8003,148,2,39.023820,24.473584,4.0,6,9,1966,0.313925,...,B,22,4625,11,3855.0,2,10,B,228808.370815,0
1476,1775,101,1,23.583220,18.442768,3.0,3,5,1968,0.225825,...,B,41,6558,7,1548.0,3,2,B,108232.647619,0
1577,7474,105,2,48.531405,28.047358,4.0,8,8,1965,0.040243,...,B,25,3478,11,2729.0,3,1,B,225413.295471,0
2195,10541,101,2,43.599159,33.841113,4.0,2,5,1963,0.225825,...,B,41,6558,7,1548.0,3,2,B,180026.274721,0
2274,11558,4,1,29.412873,17.685013,4.0,1,8,1963,0.327018,...,B,12,2270,23,2500.0,1,0,B,168150.110362,0
2275,1180,114,1,29.300553,16.880437,4.0,8,12,1965,0.327018,...,B,12,2270,23,2500.0,1,0,B,198317.920494,0
2314,5798,59,3,109.698926,46.960480,3.0,16,22,1977,0.019509,...,B,37,7687,11,176.0,5,5,B,524279.240155,0
2554,10919,190,2,47.489415,35.564479,4.0,5,5,1918,0.000000,...,B,30,7538,87,4702.0,5,5,B,537979.657509,0
2646,11030,114,1,28.566598,17.773867,4.0,7,12,1966,0.327018,...,B,12,2270,23,2500.0,1,0,B,181919.912351,0
3043,15939,114,1,33.989652,20.962955,4.0,5,12,1966,0.327018,...,B,12,2270,23,2500.0,1,0,B,187288.005408,0
3077,9054,108,2,37.883575,27.570677,4.0,9,8,1960,0.000000,...,B,25,5027,4,46.0,1,1,B,236829.169244,0
3084,3732,112,1,20.213128,13.800281,3.0,5,9,1974,0.069660,...,B,31,6119,4,900.0,1,2,B,113050.229914,0
3218,13911,113,2,46.705364,29.277357,4.0,2,5,1961,0.060753,...,B,15,2787,2,520.0,0,7,B,138396.514856,0
3332,3825,48,2,47.505382,30.667973,2.0,10,12,1981,0.041125,...,B,46,9515,5,900.0,1,10,B,211149.766549,0
3497,16536,0,1,31.114313,24.076127,4.0,1,9,1965,0.319809,...,B,25,4756,16,2857.0,5,8,B,156228.378464,0
3794,523,101,1,18.509177,15.170851,3.0,5,5,1970,0.225825,...,B,41,6558,7,1548.0,3,2,B,115845.861527,0
3975,15955,46,2,45.991364,27.708732,4.0,8,8,1963,0.188784,...,B,31,6137,4,900.0,0,1,B,210606.590731,0
4118,828,90,1,20.924926,10.651455,3.0,7,5,1968,0.265089,...,B,37,5288,0,1937.0,3,2,B,128808.087357,0
4170,11241,143,2,41.861575,28.866862,4.0,2,5,1964,0.049863,...,B,18,3746,9,75.0,3,1,B,205850.417092,0
4323,6589,30,1,62.110823,52.812128,4.0,31,44,2009,0.000078,...,B,22,6398,141,1046.0,3,23,B,117647.461002,0
4364,9905,41,1,22.691542,13.499648,3.0,7,9,1972,0.175055,...,B,36,10055,3,900.0,1,0,B,136682.956950,0
4400,10495,108,1,30.826070,18.854840,4.0,3,8,1959,0.000000,...,B,25,5027,4,46.0,1,1,B,181626.175103,0
4489,8388,1,2,46.079310,28.382137,4.0,2,5,1965,0.036270,...,B,6,1318,1,200.0,1,1,B,130215.343909,0
4650,10940,75,1,24.749737,16.531306,3.0,5,5,1975,0.307467,...,A,30,5048,9,325.0,2,5,B,86821.619523,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5240,12304,104,3,61.690768,43.802429,4.0,2,7,1936,0.000078,...,B,22,6398,141,1046.0,3,23,B,566435.153460,0
5489,3240,28,3,60.626709,43.693335,4.0,1,9,1970,0.118537,...,B,30,6207,1,1183.0,1,0,B,207209.520477,0
5491,6952,116,1,35.015987,18.955060,4.0,5,9,1965,0.341072,...,B,27,5664,48,2300.0,3,11,B,198412.424593,0
5560,16680,23,3,67.133598,46.960480,3.0,2,16,2015,0.034656,...,B,0,168,0,900.0,0,0,B,132755.210048,0
5667,4352,104,2,28.517666,29.235410,3.0,7,6,1931,0.000078,...,B,22,6398,141,1046.0,3,23,B,197245.267664,0
6155,7729,90,1,27.298757,15.250474,3.0,1,5,1967,0.265089,...,B,37,5288,0,1937.0,3,2,B,126918.470566,0
6214,15244,31,3,50.914858,39.397964,4.0,4,4,1960,0.151346,...,A,32,5889,10,830.0,4,1,B,321403.484832,0
6290,6696,166,3,56.565200,38.494058,3.0,3,9,1964,0.174739,...,B,17,3379,9,100.0,0,3,B,253259.449036,0
6342,8906,84,1,35.992431,23.677642,4.0,6,5,1960,0.006076,...,B,30,5285,0,645.0,6,6,B,158302.141137,0
6533,5027,101,1,26.930098,19.343318,3.0,3,5,1969,0.225825,...,B,41,6558,7,1548.0,3,2,B,129395.957499,0
6590,15822,90,1,27.098441,16.660669,3.0,3,5,1965,0.265089,...,B,37,5288,0,1937.0,3,2,B,124179.702841,0
6846,5313,175,4,78.204702,63.867593,4.0,6,5,1933,0.037316,...,B,32,6748,93,562.0,4,10,B,465934.434276,0
6896,7384,29,1,28.091273,16.066773,3.0,10,10,2003,0.069660,...,B,31,6119,4,900.0,1,2,B,140168.723955,0
6993,14642,90,1,22.682706,14.664334,3.0,5,5,1969,0.265089,...,B,37,5288,0,1937.0,3,2,B,118004.829969,0
7402,10682,31,1,32.101733,30.526645,4.0,4,4,1959,0.151346,...,A,32,5889,10,830.0,4,1,B,181495.792355,0
7603,4684,101,1,26.024441,16.230387,3.0,4,5,1968,0.225825,...,B,41,6558,7,1548.0,3,2,B,124121.219513,0
7694,10476,90,1,21.121279,15.202620,3.0,4,5,1964,0.265089,...,B,37,5288,0,1937.0,3,2,B,113846.123763,0
7897,10635,21,1,18.983962,11.419796,2.0,1,5,1967,0.194489,...,B,47,8004,3,125.0,3,5,B,112411.221700,0
7954,1943,23,1,34.917015,23.916309,4.0,3,9,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,123381.294367,0
8170,1606,31,2,42.372950,29.218973,4.0,6,9,1962,0.151346,...,A,32,5889,10,830.0,4,1,B,194529.785764,0
8417,637,84,2,47.658859,36.043685,4.0,6,5,1964,0.149666,...,B,22,4789,2,4087.0,4,1,B,142617.024949,0
8598,1098,101,1,23.015919,15.739110,3.0,3,5,1967,0.225825,...,B,41,6558,7,1548.0,3,2,B,132427.987621,0
8843,14714,44,1,25.903220,18.273364,3.0,2,5,1969,0.122190,...,B,25,4724,2,1308.0,1,3,B,132711.395602,0
9033,2915,29,1,23.891837,13.949307,3.0,5,9,1974,0.069660,...,B,31,6119,4,900.0,1,2,B,124258.914679,0
9064,4769,27,2,80.477255,38.604383,4.0,3,2,2004,0.011654,...,B,4,915,0,900.0,0,0,B,158122.321392,0
9227,15676,182,3,49.934561,35.980287,3.0,9,8,1938,0.246624,...,B,14,2940,45,900.0,3,6,B,429090.881284,0
9235,10102,113,2,43.153092,30.314113,4.0,5,9,1969,0.307467,...,A,30,5048,9,325.0,2,5,B,250474.315807,0
9412,13299,138,1,24.769705,12.765132,3.0,5,20,1973,0.195781,...,B,23,5212,6,900.0,3,2,B,125586.783086,0
9632,4100,8,2,42.528433,30.941263,4.0,3,9,1971,0.458174,...,A,26,4439,1,1130.0,1,5,B,202996.851329,0
9642,16202,105,1,22.072457,16.540036,2.0,4,9,1963,0.069660,...,B,31,6119,4,900.0,1,2,B,126778.794309,0

При этом количество квартир с площадью более 1 и менее 5 квадратов совсем мало. Скорее всего в значении 1 для площади кухни мы получим моду. Из соображений здравого смысла такого быть не может, но для предсказания на подобных данных мы не можем относится к подобным значениям как к выбросам. Поэтому пока оставим их в таком виде.

Теперь проанализируем значения KitchenSquare выходящие за верхнюю границу 20 квадратов

In [776]:
df[df['KitchenSquare'] > 20]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
227,16395,2,3,79.722243,44.731219,72.0,12,16,1987,0.130618,...,B,39,10418,9,900.0,1,9,B,370148.625285,0
551,1315,6,1,48.128114,45.023531,48.0,21,1,2013,0.243205,...,B,5,1564,0,540.0,0,0,B,146950.912410,0
622,12924,30,3,92.473796,53.649526,22.0,3,2,2018,0.000078,...,B,22,6398,141,1046.0,3,23,B,165521.195968,0
1064,14656,62,1,47.100719,46.447960,2014.0,4,1,2014,0.072158,...,B,2,629,1,900.0,0,0,A,108337.484207,0
1077,9690,27,1,40.081042,37.834964,37.0,18,19,2019,0.211401,...,B,9,1892,0,900.0,0,1,B,93218.650461,0
1369,2371,27,2,68.841073,64.234956,66.0,4,2,2014,0.017647,...,B,2,469,0,900.0,0,0,B,189244.249909,0
1455,12507,54,2,79.810535,79.578961,78.0,10,15,2014,0.006076,...,B,30,5285,0,645.0,6,6,B,438708.707579,0
1804,11459,79,1,98.727990,49.781722,22.0,18,24,2019,0.050756,...,B,24,5469,1,145.0,0,1,B,351021.797311,0
1860,4265,161,2,53.216778,32.644859,53.0,7,17,1994,0.000699,...,B,14,3369,24,4129.0,0,3,B,261125.669724,0
1867,3267,58,3,138.980817,138.004600,43.0,2,2,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,169528.896664,0
1982,5548,86,5,275.645284,233.949309,26.0,12,37,2011,0.161976,...,A,31,7010,5,4508.0,3,7,B,455264.882666,0
2656,14556,183,4,151.150660,98.187482,23.0,6,7,1912,0.037316,...,B,32,6748,93,562.0,4,10,B,284884.959104,0
2916,12390,72,3,97.490674,99.323558,96.0,22,25,2019,0.210473,...,B,11,2398,2,1994.0,3,0,B,445074.956552,0
2969,7441,62,3,114.734473,112.589083,112.0,3,3,2015,0.072158,...,B,2,629,1,900.0,0,0,A,315245.521059,0
3368,6674,54,1,168.086347,125.486563,30.0,18,28,2011,0.006076,...,B,30,5285,0,645.0,6,6,B,367353.574566,0
3379,16781,27,1,36.138409,36.710539,36.0,19,19,2017,0.072158,...,B,2,629,1,900.0,0,0,A,131742.536281,0
3431,7111,27,2,139.070296,89.787666,42.0,5,3,2016,0.014073,...,B,2,475,0,900.0,0,0,B,153946.777452,0
4079,6508,23,2,67.146049,33.959154,63.0,5,17,2019,0.034656,...,B,0,168,0,900.0,0,0,B,193130.585871,0
4110,299,27,2,66.787523,64.616662,60.0,14,20,2015,0.017647,...,B,2,469,0,900.0,0,0,B,179466.094235,0
4142,15466,88,1,42.357487,44.779714,41.0,10,19,2016,0.127376,...,B,43,8429,3,900.0,3,9,B,194525.103119,0
4588,448,48,1,41.186904,21.663929,41.0,2,1,1977,0.041125,...,B,46,9515,5,900.0,1,10,B,216882.265408,0
4651,12552,58,3,116.405693,113.109653,112.0,3,3,2016,0.437885,...,B,23,5735,3,1084.0,0,5,B,296165.936689,0
5087,15947,129,4,185.906396,84.830074,31.0,5,3,2015,0.020741,...,B,24,5613,5,1340.0,2,5,B,340273.238253,0
5149,13703,42,1,38.071692,19.723548,73.0,9,10,2006,0.158249,...,B,21,5731,0,900.0,1,0,B,160488.033165,0
5162,11739,27,2,61.070298,59.845092,58.0,8,17,2016,0.072158,...,B,2,629,1,900.0,0,0,A,212188.959537,0
5480,15781,10,1,35.813564,19.953992,35.0,6,14,1971,0.282798,...,B,33,8667,2,900.0,0,6,B,164306.314182,0
5494,300,31,2,106.427686,34.230415,32.0,4,40,2013,0.151346,...,A,32,5889,10,830.0,4,1,B,624549.354546,0
5653,8500,31,1,80.606246,25.299592,29.0,6,40,2014,0.151346,...,A,32,5889,10,830.0,4,1,B,460492.010947,0
5816,2271,27,1,43.292516,42.835643,40.0,12,11,2015,0.211401,...,B,9,1892,0,900.0,0,1,B,117296.173704,0
5849,11624,46,1,42.983283,24.224435,37.0,15,16,1983,0.188784,...,B,31,6137,4,900.0,0,1,B,198450.736353,0
5888,16593,52,2,64.859242,32.552134,62.0,15,17,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,185993.474671,0
5904,673,27,1,54.418214,51.498581,51.0,10,17,2017,0.072158,...,B,2,629,1,900.0,0,0,A,133273.635012,0
6036,12666,34,2,60.603363,32.552134,58.0,14,22,1977,0.069753,...,B,53,13670,4,900.0,1,11,B,261733.472106,0
6240,4966,96,3,78.445675,47.146757,75.0,9,12,1977,0.041116,...,B,53,14892,4,900.0,1,4,B,290354.484070,0
6988,8685,62,5,124.933289,81.122369,30.0,5,3,2017,0.072158,...,B,2,629,1,900.0,0,0,A,271919.866048,0
7088,6569,27,1,38.220258,18.716856,84.0,4,17,2018,0.011654,...,B,4,915,0,900.0,0,0,B,99079.960518,0
7201,3233,129,4,186.692602,87.487080,32.0,3,3,2011,0.020741,...,B,24,5613,5,1340.0,2,5,B,423443.464367,0
7249,3431,62,2,60.715426,40.720961,25.0,5,12,2012,0.386772,...,B,5,1135,0,900.0,0,0,A,172366.012197,0
7480,10546,62,1,46.013187,43.417043,43.0,4,17,2019,0.072158,...,B,2,629,1,900.0,0,0,A,113909.099428,0
8182,16511,52,3,135.731888,71.583248,21.0,26,25,2008,0.371149,...,B,34,7065,1,750.0,2,5,B,495110.650183,0
8232,7162,34,2,56.738764,57.510395,54.0,26,25,2016,0.069753,...,B,53,13670,4,900.0,1,11,B,244220.621495,0
8390,13559,79,1,96.838013,49.140960,22.0,19,24,2016,0.050756,...,B,24,5469,1,145.0,0,1,B,348962.861294,0
8584,14679,81,1,32.276663,19.278394,1970.0,6,1,1977,0.006076,...,B,30,5285,0,645.0,6,6,B,105539.556275,0
8921,12074,94,3,108.957285,51.063721,27.0,2,22,2008,0.282798,...,B,33,8667,2,900.0,0,6,B,562559.600217,0
9111,6708,48,1,42.069359,22.487739,39.0,1,10,2010,0.041125,...,B,46,9515,5,900.0,1,10,B,200021.835127,0
9889,12918,23,2,51.440463,53.134243,51.0,3,17,2017,0.005767,...,B,1,388,0,900.0,0,0,B,88150.012510,0
9895,2737,27,3,123.430072,125.806981,123.0,5,10,2015,0.017647,...,B,2,469,0,900.0,0,0,B,234194.837047,0
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,...,B,53,14892,4,900.0,1,4,B,528560.506016,0

Таких значений крайне мало и некоторые из них явно являются выбросами.

Если площадь кухни больше общей площади то явно это выбросы

In [777]:
df[df['KitchenSquare'] > df['Square']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
1064,14656,62,1,47.100719,46.447960,2014.0,4,1,2014,0.072158,...,B,2,629,1,900.0,0,0,A,108337.484207,0
5149,13703,42,1,38.071692,19.723548,73.0,9,10,2006,0.158249,...,B,21,5731,0,900.0,1,0,B,160488.033165,0
7088,6569,27,1,38.220258,18.716856,84.0,4,17,2018,0.011654,...,B,4,915,0,900.0,0,0,B,99079.960518,0
8584,14679,81,1,32.276663,19.278394,1970.0,6,1,1977,0.006076,...,B,30,5285,0,645.0,6,6,B,105539.556275,0

In [778]:
df.loc[(df['KitchenSquare'] > df['Square']) & (df['Rooms'] == 1) & (df['HouseYear'] == 2014), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2014),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['Square']) & (df['Rooms'] == 1) & (df['HouseYear'] == 2018), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2018),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['Square']) & (df['Rooms'] == 1) & (df['HouseYear'] == 2006), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2006),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['Square']) & (df['Rooms'] == 1) & (df['HouseYear'] == 1977), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1977),'KitchenSquare'].median()

In [779]:
df[df['KitchenSquare'] > df['Square']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, StudioApartment]
Index: []

[0 rows x 21 columns]

In [780]:
df[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])].sort_values(by=['Rooms','HouseYear'])

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
5480,15781,10,1,35.813564,19.953992,35.0,6,14,1971,0.282798,...,B,33,8667,2,900.0,0,6,B,164306.314182,0
4588,448,48,1,41.186904,21.663929,41.0,2,1,1977,0.041125,...,B,46,9515,5,900.0,1,10,B,216882.265408,0
5849,11624,46,1,42.983283,24.224435,37.0,15,16,1983,0.188784,...,B,31,6137,4,900.0,0,1,B,198450.736353,0
9111,6708,48,1,42.069359,22.487739,39.0,1,10,2010,0.041125,...,B,46,9515,5,900.0,1,10,B,200021.835127,0
551,1315,6,1,48.128114,45.023531,48.0,21,1,2013,0.243205,...,B,5,1564,0,540.0,0,0,B,146950.912410,0
5888,16593,52,2,64.859242,32.552134,62.0,15,17,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,185993.474671,0
6036,12666,34,2,60.603363,32.552134,58.0,14,22,1977,0.069753,...,B,53,13670,4,900.0,1,11,B,261733.472106,0
1860,4265,161,2,53.216778,32.644859,53.0,7,17,1994,0.000699,...,B,14,3369,24,4129.0,0,3,B,261125.669724,0
1369,2371,27,2,68.841073,64.234956,66.0,4,2,2014,0.017647,...,B,2,469,0,900.0,0,0,B,189244.249909,0
4079,6508,23,2,67.146049,33.959154,63.0,5,17,2019,0.034656,...,B,0,168,0,900.0,0,0,B,193130.585871,0
6240,4966,96,3,78.445675,47.146757,75.0,9,12,1977,0.041116,...,B,53,14892,4,900.0,1,4,B,290354.484070,0
227,16395,2,3,79.722243,44.731219,72.0,12,16,1987,0.130618,...,B,39,10418,9,900.0,1,9,B,370148.625285,0

In [781]:
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 1) & (df['HouseYear'] == 1971), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1971),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 1) & (df['HouseYear'] == 1977), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1977),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 1) & (df['HouseYear'] == 1983), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 1983),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 1) & (df['HouseYear'] == 2010), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2010),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 1) & (df['HouseYear'] == 2013), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2013),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 2) & (df['HouseYear'] == 1977), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1977),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 2) & (df['HouseYear'] == 1994), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 1994),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 2) & (df['HouseYear'] == 2014), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2014),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 2) & (df['HouseYear'] == 2019), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2019),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 3) & (df['HouseYear'] == 1977), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1977),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])
       & (df['Rooms'] == 3) & (df['HouseYear'] == 1987), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1987),'KitchenSquare'].median()

In [782]:
df[(df['KitchenSquare'] > df['LifeSquare']) & (df['KitchenSquare'] > df['Square'] - df['LifeSquare'])].sort_values(by=['Rooms','HouseYear'])

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, StudioApartment]
Index: []

[0 rows x 21 columns]

In [783]:
df[(df['KitchenSquare'] > 30) & (df['Rooms'] < 4)].sort_values(by='Rooms')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
1077,9690,27,1,40.081042,37.834964,37.0,18,19,2019,0.211401,...,B,9,1892,0,900.0,0,1,B,93218.650461,0
7480,10546,62,1,46.013187,43.417043,43.0,4,17,2019,0.072158,...,B,2,629,1,900.0,0,0,A,113909.099428,0
5904,673,27,1,54.418214,51.498581,51.0,10,17,2017,0.072158,...,B,2,629,1,900.0,0,0,A,133273.635012,0
5816,2271,27,1,43.292516,42.835643,40.0,12,11,2015,0.211401,...,B,9,1892,0,900.0,0,1,B,117296.173704,0
3379,16781,27,1,36.138409,36.710539,36.0,19,19,2017,0.072158,...,B,2,629,1,900.0,0,0,A,131742.536281,0
4142,15466,88,1,42.357487,44.779714,41.0,10,19,2016,0.127376,...,B,43,8429,3,900.0,3,9,B,194525.103119,0
3431,7111,27,2,139.070296,89.787666,42.0,5,3,2016,0.014073,...,B,2,475,0,900.0,0,0,B,153946.777452,0
4110,299,27,2,66.787523,64.616662,60.0,14,20,2015,0.017647,...,B,2,469,0,900.0,0,0,B,179466.094235,0
9889,12918,23,2,51.440463,53.134243,51.0,3,17,2017,0.005767,...,B,1,388,0,900.0,0,0,B,88150.012510,0
5162,11739,27,2,61.070298,59.845092,58.0,8,17,2016,0.072158,...,B,2,629,1,900.0,0,0,A,212188.959537,0
5494,300,31,2,106.427686,34.230415,32.0,4,40,2013,0.151346,...,A,32,5889,10,830.0,4,1,B,624549.354546,0
1455,12507,54,2,79.810535,79.578961,78.0,10,15,2014,0.006076,...,B,30,5285,0,645.0,6,6,B,438708.707579,0
8232,7162,34,2,56.738764,57.510395,54.0,26,25,2016,0.069753,...,B,53,13670,4,900.0,1,11,B,244220.621495,0
4651,12552,58,3,116.405693,113.109653,112.0,3,3,2016,0.437885,...,B,23,5735,3,1084.0,0,5,B,296165.936689,0
2916,12390,72,3,97.490674,99.323558,96.0,22,25,2019,0.210473,...,B,11,2398,2,1994.0,3,0,B,445074.956552,0
1867,3267,58,3,138.980817,138.004600,43.0,2,2,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,169528.896664,0
2969,7441,62,3,114.734473,112.589083,112.0,3,3,2015,0.072158,...,B,2,629,1,900.0,0,0,A,315245.521059,0
9895,2737,27,3,123.430072,125.806981,123.0,5,10,2015,0.017647,...,B,2,469,0,900.0,0,0,B,234194.837047,0

In [784]:
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 1) & (df['HouseYear'] == 2015), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2015),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 1) & (df['HouseYear'] == 2016), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2016),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 1) & (df['HouseYear'] == 2017), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2017),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 1) & (df['HouseYear'] == 2019), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 1) & (df['HouseYear'] == 2019),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 2) & (df['HouseYear'] == 2013), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2013),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 2) & (df['HouseYear'] == 2014), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2014),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 2) & (df['HouseYear'] == 2015), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2015),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 2) & (df['HouseYear'] == 2016), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2016),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 2) & (df['HouseYear'] == 2017), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 2) & (df['HouseYear'] == 2017),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 2015), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2015),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 2016), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2016),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 2017), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2017),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 2019), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 2019),'KitchenSquare'].median()
df.loc[(df['KitchenSquare'] > 30) & (df['Rooms'] == 3) & (df['HouseYear'] == 1977), 'KitchenSquare'] = \
df.loc[(df['Rooms'] == 3) & (df['HouseYear'] == 1977),'KitchenSquare'].median()

In [785]:
df[(df['KitchenSquare'] > 30) & (df['Rooms'] < 4)].sort_values(by='Rooms')

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, StudioApartment]
Index: []

[0 rows x 21 columns]

#### Square

Смотрим есть ли в датасете значения Square в которых меньше чем LifeSquare + KitchenSquare

In [786]:
df[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,175616.227217,0
28,8054,23,1,42.530043,43.967759,1.0,3,9,2014,0.034656,...,B,0,168,0,900.0,0,0,B,95338.198549,0
44,10521,38,3,104.211396,106.340403,0.0,20,0,2017,0.060753,...,B,15,2787,2,520.0,0,7,B,435462.048070,1
48,7596,23,1,47.080100,46.807989,12.0,3,9,1977,0.014073,...,B,2,475,0,900.0,0,0,B,96029.167877,0
52,2301,1,2,61.400054,65.224603,0.0,17,22,2016,0.007122,...,B,1,264,0,900.0,0,1,B,199215.452229,1
69,6925,27,2,64.929103,63.304605,10.0,15,17,2016,0.072158,...,B,2,629,1,900.0,0,0,A,228584.001072,0
123,8753,25,3,85.952306,89.803753,1.0,4,3,2017,0.069753,...,B,53,13670,4,900.0,1,11,B,309688.592681,0
129,6072,6,1,65.102017,64.622603,1.0,10,9,2015,0.243205,...,B,5,1564,0,540.0,0,0,B,175899.978284,0
136,6172,27,2,92.400007,92.069236,10.0,2,5,1977,0.075424,...,B,11,3097,0,900.0,0,0,B,116942.671045,0
145,14787,34,2,60.366626,57.709149,10.0,20,19,2017,0.069753,...,B,53,13670,4,900.0,1,11,B,241737.808497,0
147,3287,27,3,92.885544,91.642249,13.0,7,17,2015,0.072158,...,B,2,629,1,900.0,0,0,A,206780.548877,0
153,9870,62,1,51.831473,53.491301,1.0,5,1,2015,0.072158,...,B,2,629,1,900.0,0,0,A,131797.472284,0
170,4747,7,3,81.467909,76.646182,10.0,19,17,2010,0.035145,...,B,42,9292,3,2620.0,0,3,B,477665.582915,0
178,2416,57,1,29.298168,29.770784,5.0,7,5,1964,0.133215,...,B,49,11395,3,1406.0,3,4,A,148991.265200,0
184,3398,74,1,48.743665,51.011232,1.0,12,20,2017,0.075779,...,B,6,1437,3,900.0,0,2,B,165071.825722,0
212,1748,88,2,63.640679,67.628717,1.0,24,22,1977,0.127376,...,B,43,8429,3,900.0,3,9,B,412511.088764,0
217,5540,27,3,57.643613,59.425078,9.0,16,10,1977,0.072158,...,B,2,629,1,900.0,0,0,A,198351.892455,0
218,9511,63,1,51.456042,51.385262,1.0,12,10,2017,0.238617,...,B,26,3889,6,705.0,3,6,B,260824.216465,0
234,12633,27,3,81.867166,81.884548,0.0,12,19,1977,0.211401,...,B,9,1892,0,900.0,0,1,B,182228.520030,1
236,3916,1,1,43.084413,47.071617,1.0,9,7,2017,0.007122,...,B,1,264,0,900.0,0,1,B,169749.173815,0
237,3851,52,2,65.388475,66.591815,1.0,13,17,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,180706.641204,0
243,13320,66,2,72.736379,69.643495,9.0,15,19,2002,0.111627,...,B,50,12238,8,1970.0,2,3,B,507621.564282,0
271,7674,30,2,51.283020,51.575295,1.0,5,17,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,174735.177184,0
304,5176,1,1,40.427365,39.682348,1.0,2,17,2018,0.007122,...,B,1,264,0,900.0,0,1,B,144040.472335,0
315,14899,27,1,37.370830,39.184607,1.0,25,1,2015,0.072158,...,B,2,629,1,900.0,0,0,A,126997.374189,0
342,7815,6,1,74.609609,78.533293,1.0,16,1,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,216181.637056,0
343,716,113,3,125.287183,127.477137,19.0,26,24,2017,0.050756,...,B,24,5469,1,145.0,0,1,B,522197.035995,0
358,6006,62,3,121.844004,122.497641,1.0,3,3,1977,0.072158,...,B,2,629,1,900.0,0,0,A,193847.642016,0
369,61,1,1,54.307727,55.926217,1.0,4,1,2017,0.007122,...,B,1,264,0,900.0,0,1,B,170313.288861,0
378,15443,1,1,37.885188,40.313322,10.0,12,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,142654.169709,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9637,8959,27,1,44.602693,44.108220,1.0,2,2,2014,0.014058,...,B,1,290,0,900.0,0,0,B,86829.404676,0
9646,6996,23,2,53.054415,54.677693,1.0,3,12,2017,0.034656,...,B,0,168,0,900.0,0,0,B,113758.662147,0
9681,47,2,2,45.053898,47.329346,5.0,2,5,1967,0.000000,...,B,33,7425,1,900.0,2,5,B,196512.596034,0
9698,13616,27,1,37.340508,37.024631,10.0,8,17,2017,0.211401,...,B,9,1892,0,900.0,0,1,B,108540.772970,0
9707,12302,30,1,46.072913,48.307844,0.0,4,0,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,161403.094034,1
9719,8645,34,3,89.118209,85.724112,10.0,17,25,2018,0.069753,...,B,53,13670,4,900.0,1,11,B,326553.576819,0
9721,396,54,3,110.119100,110.333763,1.0,8,1,2015,0.006076,...,B,30,5285,0,645.0,6,6,B,491296.245173,0
9742,9941,46,3,64.642890,66.400030,6.0,6,17,1981,0.188784,...,B,31,6137,4,900.0,0,1,B,283398.090350,0
9753,9082,107,1,40.136259,38.714877,9.0,16,16,1973,0.050272,...,B,21,4231,14,1020.0,0,3,B,189438.397568,0
9772,6968,6,3,74.505045,75.735479,1.0,15,22,2014,0.243205,...,B,5,1564,0,540.0,0,0,B,210702.868554,0
9793,5766,1,3,80.006748,83.793062,0.0,17,17,1977,0.007122,...,B,1,264,0,900.0,0,1,B,235519.716480,1
9798,8051,6,2,65.779137,64.797240,1.0,16,17,2015,0.243205,...,B,5,1564,0,540.0,0,0,B,187072.563233,0
9799,7483,27,1,37.590772,41.074410,1.0,5,19,2017,0.211401,...,B,9,1892,0,900.0,0,1,B,95145.924046,0
9807,10088,30,1,37.191204,37.837798,1.0,17,17,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,147568.713397,0
9812,3619,74,1,35.371149,33.306415,10.0,7,17,2019,0.075779,...,B,6,1437,3,900.0,0,2,B,127264.210053,0
9826,5270,6,1,39.485203,39.525667,1.0,16,17,2014,0.243205,...,B,5,1564,0,540.0,0,0,B,124034.514085,0
9834,3588,6,3,84.650329,81.268497,15.0,6,17,2018,0.243205,...,B,5,1564,0,540.0,0,0,B,226810.692649,0
9860,15304,124,1,45.220099,44.240841,13.0,12,12,1974,0.122090,...,B,29,6566,7,1894.0,4,0,B,180351.773573,0
9864,8807,38,1,46.905050,49.715060,10.0,8,17,2019,0.060753,...,B,15,2787,2,520.0,0,7,B,256650.658085,0
9871,6121,48,1,41.783808,41.944790,1.0,17,1,2014,0.041125,...,B,46,9515,5,900.0,1,10,B,200879.624324,0
9874,10318,6,1,40.631541,38.750052,7.0,5,17,2013,0.243205,...,B,5,1564,0,540.0,0,0,B,131271.924425,0
9878,11441,62,2,71.985335,72.453232,0.0,5,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,158841.624543,1
9884,41,30,2,59.015896,59.439082,12.0,5,5,2016,0.000078,...,B,22,6398,141,1046.0,3,23,B,126281.142781,0
9889,12918,23,2,51.440463,53.134243,1.0,3,17,2017,0.005767,...,B,1,388,0,900.0,0,0,B,88150.012510,0
9895,2737,27,3,123.430072,125.806981,1.0,5,10,2015,0.017647,...,B,2,469,0,900.0,0,0,B,234194.837047,0
9897,4497,1,1,38.330353,38.010046,8.0,7,17,1991,0.025609,...,B,33,5261,0,240.0,3,1,B,97464.327338,0
9902,14001,73,1,44.098768,44.267551,1.0,7,24,2014,0.042032,...,B,37,6856,84,1940.0,2,5,B,381937.404161,0
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,...,B,53,14892,4,900.0,1,4,B,528560.506016,0
9918,14904,34,4,104.049130,99.788387,10.0,8,25,2018,0.069753,...,B,53,13670,4,900.0,1,11,B,411971.106869,0
9974,2159,30,1,33.227093,32.639166,1.0,4,4,2016,0.000078,...,B,22,6398,141,1046.0,3,23,B,65949.315881,0

Таких значений достаточно много. Можно заметить, что в многих подобных случаях LifeSquare почти равняется или больше Square, чего быть естественно не может. Поэтому сделаем предположение, что вброс был по параметру LifeSquare и его нужно уменьшить.

In [787]:
coef = df['LifeSquare'].median()/df['Square'].median()
coef

0.6195696684605433

In [788]:
df.loc[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0), 'LifeSquare'] = \
df.loc[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0), 'Square']*coef

In [789]:
df[(df['Square'] - df['LifeSquare'] - df['KitchenSquare'] < 0)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
3166,15127,150,1,17.046188,10.561301,8.0,7,12,1982,0.300323,...,B,52,10311,6,900.0,1,9,B,74222.110465,0
4550,16408,9,1,40.226907,24.923371,19.0,8,17,1993,0.161532,...,B,25,5648,1,30.0,2,4,B,137595.610782,0
5786,7857,27,2,43.956044,27.233831,19.0,15,17,2006,0.075424,...,B,11,3097,0,900.0,0,0,B,143688.076514,0
7249,3431,62,2,60.715426,37.617437,25.0,5,12,2012,0.386772,...,B,5,1135,0,900.0,0,0,A,172366.012197,0

Убедимся в том, что нет таких квартир, где LifeSquare > Square

In [790]:
df[df['LifeSquare'] > df['Square']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, StudioApartment]
Index: []

[0 rows x 21 columns]

#### HouseFloor

In [791]:
df[df['HouseFloor'] == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
7,11993,74,2,80.312926,32.552134,0.0,14,0,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,221244.156664,1
23,6641,54,3,118.907612,46.960480,0.0,2,0,1977,0.006076,...,B,30,5285,0,645.0,6,6,B,571069.052600,1
26,4378,27,3,106.958871,69.873307,0.0,17,0,2018,0.072158,...,B,2,629,1,900.0,0,0,A,337299.867936,1
39,9371,23,2,60.503248,32.552134,0.0,16,0,1977,0.034656,...,B,0,168,0,900.0,0,0,B,229778.057902,1
44,10521,38,3,104.211396,64.566220,0.0,20,0,2017,0.060753,...,B,15,2787,2,520.0,0,7,B,435462.048070,1
65,11398,62,1,41.194188,21.663929,0.0,6,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,114063.092041,1
70,10362,27,2,79.227049,32.552134,0.0,9,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,167023.973143,1
195,4645,54,2,76.312851,32.552134,0.0,14,0,1977,0.006076,...,B,30,5285,0,645.0,6,6,B,466730.805333,1
223,4622,27,2,62.153994,36.094352,0.0,5,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,194091.992560,1
252,8139,27,2,58.553809,32.552134,0.0,7,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,177511.314827,1
444,6224,59,3,106.349245,46.960480,0.0,7,0,1977,0.019509,...,B,37,7687,11,176.0,5,5,B,504820.057913,1
501,15923,27,1,26.553188,21.663929,0.0,25,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,114256.236153,1
556,8610,35,1,47.410775,21.663929,0.0,4,0,1977,0.089040,...,B,33,7976,5,900.0,0,11,B,218138.095955,1
562,6916,27,1,43.011789,22.158763,0.0,17,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,179806.820951,1
594,8093,45,2,62.933064,32.552134,0.0,18,0,1977,0.195781,...,B,23,5212,6,900.0,3,2,B,339455.271154,1
667,9684,88,3,86.431890,46.960480,0.0,11,0,1977,0.127376,...,B,43,8429,3,900.0,3,9,B,341533.892142,1
700,11548,27,2,41.610104,32.552134,0.0,7,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,120724.056008,1
730,12947,53,2,56.023342,32.552134,0.0,14,0,1977,0.049637,...,B,34,7759,0,229.0,1,3,B,247074.564832,1
805,15931,1,2,77.330279,32.552134,0.0,1,0,1977,0.007122,...,B,1,264,0,900.0,0,1,B,182657.618386,1
823,1498,45,3,83.515103,46.960480,0.0,11,0,1977,0.195781,...,B,23,5212,6,900.0,3,2,B,429445.711752,1
839,9925,62,1,42.805164,21.663929,0.0,14,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,128889.593406,1
847,11828,27,1,52.539365,21.663929,0.0,11,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,140577.204332,1
861,15131,27,2,60.299356,32.552134,0.0,5,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,192309.274140,1
889,3429,27,1,47.020680,21.663929,0.0,8,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,163649.474447,1
896,6036,95,1,46.248238,21.663929,0.0,5,0,1977,0.000699,...,B,14,3369,24,4129.0,0,3,B,516315.770611,1
900,8940,34,1,26.811587,21.663929,0.0,18,0,1977,0.069753,...,B,53,13670,4,900.0,1,11,B,175399.643453,1
924,11875,6,2,65.070052,32.552134,0.0,11,0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,179219.981625,1
929,1827,27,1,38.037790,21.663929,0.0,7,0,1977,0.011654,...,B,4,915,0,900.0,0,0,B,101365.588283,1
932,9383,24,2,88.407297,32.552134,0.0,2,0,1977,0.111627,...,B,50,12238,8,1970.0,2,3,B,427473.921933,1
942,4711,6,1,41.224118,21.663929,0.0,8,0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,125612.639104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8888,184,23,1,56.786709,21.663929,0.0,3,0,1977,0.014073,...,B,2,475,0,900.0,0,0,B,107003.351865,1
8893,11090,1,1,41.197082,40.808976,0.0,12,0,1977,0.007122,...,B,1,264,0,900.0,0,1,B,127436.921010,1
8930,11532,23,2,55.550541,34.417431,0.0,7,0,1977,0.034656,...,B,0,168,0,900.0,0,0,B,116068.875171,1
8954,6581,62,2,65.131558,32.552134,0.0,11,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,156791.155868,1
8979,13670,22,1,87.485627,21.663929,0.0,16,0,1977,0.118537,...,B,30,6207,1,1183.0,1,0,B,361744.269547,1
8996,15661,45,3,81.094922,46.960480,0.0,15,0,1977,0.195781,...,B,23,5212,6,900.0,3,2,B,442472.456032,1
9014,4405,74,2,71.207458,32.552134,0.0,5,0,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,244700.814865,1
9030,8329,62,3,86.443771,46.960480,0.0,3,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,197124.921010,1
9057,14564,34,4,97.524848,60.423438,1.0,20,0,2016,0.069753,...,B,53,13670,4,900.0,1,11,B,401035.038716,0
9087,7767,1,2,90.856881,32.552134,0.0,11,0,1977,0.007122,...,B,1,264,0,900.0,0,1,B,287460.543713,1
9092,13884,45,2,62.460577,32.552134,0.0,5,0,1977,0.195781,...,B,23,5212,6,900.0,3,2,B,349101.623151,1
9122,9150,6,1,43.067590,21.663929,0.0,18,0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,126401.276372,1
9199,8755,62,2,79.329878,32.552134,0.0,17,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,202549.009085,1
9219,1737,23,1,59.963701,21.663929,0.0,9,0,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,171461.857684,1
9268,13665,62,2,57.717659,32.552134,0.0,10,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,176072.619971,1
9312,12761,27,1,37.667044,15.894112,8.0,9,0,1977,0.017647,...,B,2,469,0,900.0,0,0,B,115037.087485,0
9359,842,74,1,52.133425,21.663929,0.0,18,0,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,189274.011249,1
9395,16371,62,3,88.961872,46.960480,0.0,10,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,214155.478531,1
9432,338,46,5,147.709302,80.458910,0.0,6,0,1977,0.150818,...,B,16,3433,4,2643.0,4,5,B,352168.955975,1
9458,3974,23,3,70.740638,46.960480,13.0,4,0,1977,0.005767,...,B,1,388,0,900.0,0,0,B,101223.446298,0
9534,15563,27,2,78.553375,32.552134,0.0,7,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,181955.274013,1
9573,805,27,3,80.701454,46.960480,0.0,12,0,1977,0.211401,...,B,9,1892,0,900.0,0,1,B,174758.681454,1
9593,2553,62,2,56.560809,32.552134,0.0,9,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,153997.912192,1
9606,12136,1,1,51.953707,21.663929,0.0,2,0,1977,0.007122,...,B,1,264,0,900.0,0,1,B,148682.719427,1
9628,14936,27,3,103.587261,46.960480,0.0,8,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,225901.938089,1
9707,12302,30,1,46.072913,28.545379,0.0,4,0,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,161403.094034,1
9769,9384,59,3,98.607328,46.960480,0.0,14,0,1977,0.019509,...,B,37,7687,11,176.0,5,5,B,492700.257473,1
9878,11441,62,2,71.985335,44.599930,0.0,5,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,158841.624543,1
9908,3171,62,1,35.873961,21.663929,0.0,25,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,134379.130962,1
9944,16160,27,2,60.396765,32.552134,0.0,10,0,1977,0.072158,...,B,2,629,1,900.0,0,0,A,211810.600728,1

Заменим эти значения на значения Floor + (Floor % 5)

In [792]:
df.loc[df['HouseFloor'] == 0,'HouseFloor'] = df['Floor'] + df['Floor']%5

In [793]:
df[df['HouseFloor'] == 0]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, StudioApartment]
Index: []

[0 rows x 21 columns]

Посмотрим есть ли в датасете значения где Floor > HouseFloor

In [794]:
df[df['Floor'] > df['HouseFloor']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
14,10953,27,1,53.769097,52.408027,1.0,5,4,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,140647.565937,0
16,2119,27,2,49.360648,31.993964,5.0,6,5,1983,5.181543e-02,...,B,5,1227,0,900.0,0,0,B,117000.381287,0
21,11935,27,2,64.711835,32.552134,1.0,15,1,1977,2.114012e-01,...,B,9,1892,0,900.0,0,1,B,127200.026511,0
35,6486,200,3,85.280389,58.447967,9.0,6,5,1960,0.000000e+00,...,B,33,7425,1,900.0,2,5,B,402871.916317,0
51,10103,94,1,35.280894,23.354176,6.0,11,9,1971,2.827977e-01,...,B,33,8667,2,900.0,0,6,B,148862.210174,0
67,8443,57,2,45.964890,29.141212,5.0,7,5,1963,1.332153e-01,...,B,49,11395,3,1406.0,3,4,A,180538.898922,0
68,1063,77,1,42.678844,23.918634,8.0,14,12,1983,6.998930e-05,...,B,46,10309,1,240.0,1,16,B,179784.473334,0
72,14675,74,1,52.457589,52.423345,0.0,18,17,1977,7.577876e-02,...,B,6,1437,3,900.0,0,2,B,160292.163702,1
76,14020,34,1,47.909327,42.782385,1.0,2,1,2016,6.975336e-02,...,B,53,13670,4,900.0,1,11,B,181167.642404,0
86,9613,148,3,127.481583,46.960480,1.0,16,1,2012,3.139246e-01,...,B,22,4625,11,3855.0,2,10,B,510700.444735,0
87,16674,94,2,47.145626,30.738284,5.0,11,9,1976,1.273759e-01,...,B,43,8429,3,900.0,3,9,B,210364.314719,0
95,4280,34,2,61.334968,35.326994,1.0,26,1,2014,6.975336e-02,...,B,53,13670,4,900.0,1,11,B,286564.441972,0
104,2930,9,2,62.347154,32.552134,1.0,6,1,1977,1.615317e-01,...,B,25,5648,1,30.0,2,4,B,184172.975639,0
115,12377,27,2,60.445855,32.552134,1.0,13,1,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,213798.185151,0
119,367,45,1,42.367289,40.012529,1.0,16,14,2015,1.957811e-01,...,B,23,5212,6,900.0,3,2,B,250466.980777,0
122,5267,49,1,43.444266,20.702409,8.0,18,17,2010,2.074133e-02,...,B,24,5613,5,1340.0,2,5,B,168601.974805,0
123,8753,25,3,85.952306,53.253442,1.0,4,3,2017,6.975336e-02,...,B,53,13670,4,900.0,1,11,B,309688.592681,0
129,6072,6,1,65.102017,40.335235,1.0,10,9,2015,2.432045e-01,...,B,5,1564,0,540.0,0,0,B,175899.978284,0
131,10726,27,3,89.692964,87.623814,1.0,13,1,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,265978.837780,0
141,3839,31,3,78.471987,52.706824,8.0,6,5,1957,1.513462e-01,...,A,32,5889,10,830.0,4,1,B,419692.978034,0
145,14787,34,2,60.366626,37.401330,10.0,20,19,2017,6.975336e-02,...,B,53,13670,4,900.0,1,11,B,241737.808497,0
152,14141,23,2,57.699619,32.552134,10.0,2,1,1977,3.465608e-02,...,B,0,168,0,900.0,0,0,B,114168.532703,0
153,9870,62,1,51.831473,32.113209,1.0,5,1,2015,7.215758e-02,...,B,2,629,1,900.0,0,0,A,131797.472284,0
155,14109,62,1,47.577280,43.123508,1.0,6,1,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,128813.570224,0
156,14258,44,2,44.511407,29.847462,5.0,6,5,1960,1.221905e-01,...,B,25,4724,2,1308.0,1,3,B,189407.276041,0
157,15848,23,3,70.214575,49.364085,9.0,3,1,2017,5.767451e-03,...,B,1,388,0,900.0,0,0,B,111389.481059,0
160,3522,6,1,66.419841,21.663929,1.0,2,1,1977,2.432045e-01,...,B,5,1564,0,540.0,0,0,B,193361.229815,0
161,4263,27,1,54.255191,51.135219,0.0,5,3,2017,7.215758e-02,...,B,2,629,1,900.0,0,0,A,147040.226120,1
167,7023,1,2,71.005575,32.552134,0.0,11,9,1977,7.122317e-03,...,B,1,264,0,900.0,0,1,B,245130.106637,1
170,4747,7,3,81.467909,50.475046,10.0,19,17,2010,3.514527e-02,...,B,42,9292,3,2620.0,0,3,B,477665.582915,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9821,3469,27,3,103.654338,46.960480,1.0,5,1,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,289731.184520,0
9822,12992,75,2,47.917740,29.839365,5.0,7,5,1968,3.074667e-01,...,A,30,5048,9,325.0,2,5,B,184252.980508,0
9828,13630,24,3,127.141143,56.801439,1.0,3,1,2017,1.116274e-01,...,B,50,12238,8,1970.0,2,3,B,611250.912034,0
9837,5482,157,2,48.185943,33.156377,7.0,9,8,1963,0.000000e+00,...,B,30,7538,87,4702.0,5,5,B,425837.404955,0
9847,759,29,1,36.298652,20.959605,6.0,7,5,1963,6.966034e-02,...,B,31,6119,4,900.0,1,2,B,80888.409559,0
9852,16641,111,4,117.201937,69.898092,14.0,4,2,2017,9.344256e-02,...,B,23,4635,5,3300.0,2,4,B,197593.112769,0
9853,12913,8,2,48.406418,30.717760,5.0,13,12,1968,4.581745e-01,...,A,26,4439,1,1130.0,1,5,B,212792.292586,0
9869,16299,107,2,57.284603,34.599765,7.0,6,5,1961,5.027201e-02,...,B,21,4231,14,1020.0,0,3,B,336305.978986,0
9870,309,27,1,37.551366,21.663929,1.0,11,1,1977,2.114012e-01,...,B,9,1892,0,900.0,0,1,B,112877.827651,0
9871,6121,48,1,41.783808,25.887980,1.0,17,1,2014,4.112463e-02,...,B,46,9515,5,900.0,1,10,B,200879.624324,0
9872,14136,12,1,43.711302,20.130061,8.0,18,17,1989,9.079910e-02,...,B,74,19083,2,900.0,5,15,B,171513.507717,0
9917,1901,94,1,45.822669,21.663929,1.0,7,1,1977,2.827977e-01,...,B,33,8667,2,900.0,0,6,B,229936.748542,0
9924,3327,145,1,41.093702,20.643619,8.0,18,17,1998,2.460315e-01,...,A,22,3151,4,2715.0,3,3,B,174921.829928,0
9931,13355,27,2,64.261856,32.552134,1.0,10,1,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,223719.779293,0
9938,15868,9,2,64.412326,61.337938,1.0,13,1,1977,1.615317e-01,...,B,25,5648,1,30.0,2,4,B,183118.396487,0
9942,9369,1,2,56.323990,32.552134,1.0,18,17,1977,7.122317e-03,...,B,1,264,0,900.0,0,1,B,183882.806975,0
9949,3355,53,1,39.211416,36.159431,1.0,19,18,2019,4.963726e-02,...,B,34,7759,0,229.0,1,3,B,180600.181118,0
9951,9237,25,1,33.516313,31.086243,1.0,13,11,2015,6.975336e-02,...,B,53,13670,4,900.0,1,11,B,148066.435795,0
9954,583,27,3,84.250710,70.678594,1.0,15,1,2016,7.215758e-02,...,B,2,629,1,900.0,0,0,A,236647.781363,0
9958,12878,46,1,39.143939,22.650690,8.0,14,12,1981,0.000000e+00,...,B,47,11319,0,1145.0,3,5,B,182459.513851,0
9959,10361,0,1,32.416925,19.257869,6.0,6,5,1963,3.198094e-01,...,B,25,4756,16,2857.0,5,8,B,125579.315184,0
9962,4660,158,2,63.131655,41.867913,8.0,9,8,1939,4.203159e-02,...,B,37,6856,84,1940.0,2,5,B,87268.098968,0
9971,16050,67,2,58.629682,36.330029,9.0,19,17,1989,1.004557e-01,...,B,43,7227,0,900.0,1,6,A,228845.682509,0
9973,12590,115,2,48.201451,33.396431,8.0,15,14,1972,1.800000e-09,...,B,16,3681,73,1815.0,2,5,B,197405.312185,0
9975,5071,27,2,60.055527,32.552134,12.0,16,15,1977,7.215758e-02,...,B,2,629,1,900.0,0,0,A,190325.071232,0
9984,2237,52,3,64.074977,47.633428,6.0,11,9,1983,3.711490e-01,...,B,34,7065,1,750.0,2,5,B,226434.880156,0
9985,16159,27,1,38.968338,21.663929,1.0,10,1,1977,2.114012e-01,...,B,9,1892,0,900.0,0,1,B,95529.569405,0
9989,4145,96,3,90.055233,47.860231,11.0,26,24,2005,4.111635e-02,...,B,53,14892,4,900.0,1,4,B,441108.911237,0
9991,11553,3,3,101.622794,51.628780,12.0,18,17,2000,2.650887e-01,...,B,37,5288,0,1937.0,3,2,B,212883.501504,0
9995,77,32,2,50.401785,30.476203,5.0,6,5,1968,1.356498e-01,...,B,46,7960,6,350.0,3,11,B,196684.316040,0

Заменим значения HouseFloor на значения Floor + (Floor % 5)

In [795]:
df.loc[df['Floor'] > df['HouseFloor'],'HouseFloor'] = df['Floor'] + df['Floor']%5

In [796]:
df[df['Floor'] > df['HouseFloor']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, StudioApartment]
Index: []

[0 rows x 21 columns]

In [797]:
df[df['HouseFloor'] >= 40].sort_values(by=['HouseYear'])

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
3330,3298,31,1,57.551691,21.551876,10.0,32,40,1977,0.151346,...,A,32,5889,10,830.0,4,1,B,393799.531732,0
6131,10806,5,1,51.944587,48.709601,1.0,6,99,1977,0.150818,...,B,16,3433,4,2643.0,4,5,B,296127.115515,0
8340,15270,31,2,81.042938,46.633001,16.0,15,40,1977,0.151346,...,A,32,5889,10,830.0,4,1,B,547586.080087,0
8357,8016,31,1,59.519896,24.050533,10.0,33,40,1977,0.151346,...,A,32,5889,10,830.0,4,1,B,389554.063540,0
8599,9300,74,2,71.747869,44.452804,9.0,5,99,1977,0.075779,...,B,6,1437,3,900.0,0,2,B,243329.912579,0
8854,78,30,2,65.773749,40.751420,1.0,8,117,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,207248.370520,0
4323,6589,30,1,62.110823,52.812128,4.0,31,44,2009,0.000078,...,B,22,6398,141,1046.0,3,23,B,117647.461002,0
7728,7453,24,3,126.621358,62.455481,12.0,22,48,2011,0.111627,...,B,50,12238,8,1970.0,2,3,B,179396.521035,0
8824,7496,30,1,117.370746,102.187199,6.0,14,40,2011,0.000078,...,B,22,6398,141,1046.0,3,23,B,521829.550445,0
3974,6502,20,1,126.389517,103.637322,14.0,22,47,2012,0.019509,...,B,37,7687,11,176.0,5,5,B,450706.552655,0
359,15722,31,2,82.435495,48.655394,16.0,23,40,2013,0.151346,...,A,32,5889,10,830.0,4,1,B,558262.139114,0
5494,300,31,2,106.427686,34.230415,10.0,4,40,2013,0.151346,...,A,32,5889,10,830.0,4,1,B,624549.354546,0
5653,8500,31,1,80.606246,25.299592,29.0,6,40,2014,0.151346,...,A,32,5889,10,830.0,4,1,B,460492.010947,0
540,5279,93,2,60.804544,30.923827,11.0,5,45,2016,0.050900,...,B,43,10621,1,30.0,2,3,B,213171.135199,0
2781,1674,76,2,74.344672,41.044132,5.0,42,48,2016,0.000000,...,B,7,1660,39,1786.0,1,5,B,411691.504766,0

In [798]:
df.loc[(df['HouseFloor'] > 40) & (df['HouseYear'] == 1977),'HouseFloor'] = df['Floor'] + df['Floor']%5

In [799]:
df[df['HouseFloor'] > 40].sort_values(by=['HouseYear'])

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
4323,6589,30,1,62.110823,52.812128,4.0,31,44,2009,0.000078,...,B,22,6398,141,1046.0,3,23,B,117647.461002,0
7728,7453,24,3,126.621358,62.455481,12.0,22,48,2011,0.111627,...,B,50,12238,8,1970.0,2,3,B,179396.521035,0
3974,6502,20,1,126.389517,103.637322,14.0,22,47,2012,0.019509,...,B,37,7687,11,176.0,5,5,B,450706.552655,0
540,5279,93,2,60.804544,30.923827,11.0,5,45,2016,0.050900,...,B,43,10621,1,30.0,2,3,B,213171.135199,0
2781,1674,76,2,74.344672,41.044132,5.0,42,48,2016,0.000000,...,B,7,1660,39,1786.0,1,5,B,411691.504766,0

Такие значения вполне приемлемы

#### HouseYear

Посмотрим есть ли в датасете дома построенные в HouseYear > 2020

In [802]:
df[df['HouseYear'] > 2020]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
1497,10814,109,1,37.265070,20.239714,9.0,9,12,20052011,0.136330,...,B,30,6141,10,262.0,3,6,B,254084.534396,0
4189,11607,147,2,44.791836,28.360393,5.0,4,9,4968,0.319809,...,B,25,4756,16,2857.0,5,8,B,243028.603096,0

In [803]:
df.loc[df['HouseYear'] > 2020,'HouseYear'] = 2019

Еще раз посмотрим описание датасета

In [809]:
df.describe()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price,StudioApartment
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,50.400800,1.892900,56.241541,33.783734,5.695650,8.526700,13.764600,1984.872200,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399,0.069700
std,43.587592,0.839583,19.059935,13.568688,3.958821,5.241148,5.822747,18.415971,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865,0.254653
min,0.000000,1.000000,16.117154,9.985700,0.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028,0.000000
25%,20.000000,1.000000,41.804025,22.201722,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942,0.000000
50%,36.000000,2.000000,52.539909,32.525279,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879,0.000000
75%,75.000000,2.000000,65.900625,41.858521,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171,0.000000
max,209.000000,19.000000,275.645284,233.949309,32.000000,42.000000,48.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570,1.000000

## Отбор и построение новых признаков

### Исключаем признак "id"

In [805]:
df = df[df.columns[1:]]

In [810]:
df.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
0,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,B,B,33,7976,5,900.0,0,11,B,184966.930730,0
1,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063,0
2,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524,1
3,58,2,53.352981,33.055889,9.0,8,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217,0
4,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644,0

Один бинарный признак StudioApartment мы уже построили выше. 
Категориальные признаки в датасете все кроме DistrictId по сути являются бинарными (A и B значения). Мы превратим их в бинарные позже, после того как посмотрим боксплоты и виолинплоты по ним.

## Сохраняем подготовленный датасет

In [811]:
PREPARED_DATASET_PATH = 'prepared_1.csv'
df.to_csv(PREPARED_DATASET_PATH, index=False, encoding='utf-8')

## Загружаем подготовленный датасет

In [812]:
df = pd.read_csv(PREPARED_DATASET_PATH)
df.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,StudioApartment
0,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,B,B,33,7976,5,900.0,0,11,B,184966.930730,0
1,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063,0
2,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524,1
3,58,2,53.352981,33.055889,9.0,8,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217,0
4,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644,0