### Импорт необходимых библиотек:

In [260]:
import numpy as np
import pandas as pd

### Загрузка данных:

In [261]:
TRAIN_PATH = 'train.csv'
TEST_PATH = 'test.csv'

In [262]:
df = pd.read_csv(TRAIN_PATH)
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [263]:
df.shape

(10000, 20)

### Приведение типов данных:

In [264]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

#### Количество комнат не может быть дробным:

In [265]:
df['Rooms'] = df['Rooms'].astype(int)

#### Номер этажа не может быть дробным:

In [266]:
df['Floor'] = df['Floor'].astype(int)

#### Количество этажей в доме не может быть дробным:

In [267]:
df['HouseFloor'] = df['HouseFloor'].astype(int)

In [268]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms              int32
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int32
HouseFloor         int32
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

### Обзор количественных переменных:

In [269]:
df_num_features = df.select_dtypes(include=['float64', 'int64','int32'])
df_num_features.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
0,14038,35,2,47.981561,29.442751,6.0,7,9,1969,0.089040,33,7976,5,NaN,0,11,184966.930730
1,15053,41,3,65.683640,40.049543,8.0,7,9,1978,0.000070,46,10309,1,240.0,1,16,300009.450063
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,34,7759,0,229.0,1,3,220925.908524
3,5809,58,2,53.352981,52.731512,9.0,8,17,1977,0.437885,23,5735,3,1084.0,0,5,175616.227217
4,10783,99,1,39.649192,23.776169,7.0,11,12,1976,0.012339,35,5776,1,2078.0,2,4,150226.531644

In [270]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

### Обзор номинативных переменных:

In [271]:
df_obj_features = df.select_dtypes(include='object')
df_obj_features.head()

  Ecology_2 Ecology_3 Shops_2
0         B         B       B
1         B         B       B
2         B         B       B
3         B         B       B
4         B         B       B

In [272]:
df['Ecology_2'].value_counts()

B    9903
A      97
Name: Ecology_2, dtype: int64

In [273]:
df['Ecology_3'].value_counts()

B    9725
A     275
Name: Ecology_3, dtype: int64

In [274]:
df['Shops_2'].value_counts()

B    9175
A     825
Name: Shops_2, dtype: int64

### Обработка пропусков:

In [275]:
len(df) - df.count()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

#### LifeSquare

In [286]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 1), 'LifeSquare'] = df.loc[df['Rooms'] == 1,'LifeSquare'].median()
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 2), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 3), 'LifeSquare'] = df.loc[df['Rooms'] == 3,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 4), 'LifeSquare'] = df.loc[df['Rooms'] == 4,'LifeSquare'].median() 
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 5), 'LifeSquare'] = df.loc[df['Rooms'] == 5,'LifeSquare'].median()

In [287]:
df[df['LifeSquare'].isnull()]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2269,7317,27,0,41.790881,NaN,0.0,13,0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0,49.483501,NaN,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,NaN,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112

In [288]:
df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 0), 'LifeSquare'] = df.loc[df['Rooms'] == 2,'LifeSquare'].median()

In [289]:
df[df['LifeSquare'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Healthcare_1

In [290]:
df.loc[df['Healthcare_1'].isnull(), 'Healthcare_1'] = df['Healthcare_1'].median()

In [291]:
df[df['Healthcare_1'].isnull()]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

### Обработка выбросов:

In [292]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,35.866626,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.758444,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,21.906744,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.552134,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,44.407075,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

#### Rooms:

In [293]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0,138.427694,136.215499,0.0,4,3,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0,212.932361,211.231125,0.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
2269,7317,27,0,41.790881,32.552134,0.0,13,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,98129.976788
3911,770,28,0,49.483501,32.552134,0.0,16,0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0,81.491446,32.552134,0.0,4,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0,2.377248,0.873147,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6149,3159,88,0,38.697117,19.345131,9.0,9,16,1982,0.127376,B,B,43,8429,3,900.0,3,9,B,158998.110646
8834,9443,27,0,87.762616,85.125471,0.0,5,15,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,219281.918007

In [296]:
df.loc[(df['Rooms'] == 0) & (df['Square'] < 80), 'Rooms'] = 2
df.loc[(df['Rooms'] == 0) & (df['Square'] > 79) & (df['Square'] < 150), 'Rooms'] = 3
df.loc[(df['Rooms'] == 0) & (df['Square'] > 149), 'Rooms'] = 4

In [297]:
df[df['Rooms'] < 1]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### Square:

In [300]:
df[(df['Square'] < 10) & (df['Rooms'] == 1)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1316,11526,27,1,4.633498,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1608,10202,6,1,2.596351,4.604943,1.0,3,25,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1,4.380726,40.805837,1.0,10,17,2013,0.211401,B,B,9,1892,0,900.0,0,1,B,97560.720383
3413,9487,5,1,5.129222,5.549458,1.0,1,1,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
6392,14786,1,1,1.136859,4.525736,1.0,3,1,1977,0.007122,B,B,1,264,0,900.0,0,1,B,181434.825589
8283,15744,34,1,1.988943,2.642219,1.0,21,4,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,458378.777006
9294,6782,45,1,2.954309,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9613,7657,38,1,4.502784,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

In [234]:
#df.loc[(df['LifeSquare'].isnull()) & (df['Rooms'] == 1), 'LifeSquare'] = df.loc[df['Rooms'] == 1,'LifeSquare'].median()

#### LifeSquare:

In [235]:
df[df['LifeSquare'] < 10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3,106.958871,0.641822,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
95,4280,34,2,61.334968,4.091945,1.0,26,1,2014,0.069753,B,B,53,13670,4,900.0,1,11,B,286564.441972
134,12613,6,2,65.496674,5.589324,1.0,5,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,180727.643541
158,16779,27,3,51.991064,4.896202,1.0,22,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,174687.566186
160,3522,6,1,66.419841,3.987101,1.0,2,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,193361.229815
270,15215,17,1,46.692974,5.941401,1.0,7,1,2015,0.000000,B,B,18,3374,5,620.0,1,2,B,212290.684086
279,8727,1,2,79.521221,4.634049,1.0,5,1,2017,0.007122,B,B,1,264,0,900.0,0,1,B,232726.628137
363,15751,9,1,44.171793,1.251846,1.0,11,18,2017,0.161532,B,B,25,5648,1,30.0,2,4,B,134910.715588
475,6333,27,2,64.049695,4.008230,1.0,5,5,2017,0.017647,B,B,2,469,0,900.0,0,0,B,189477.560210
477,8849,45,1,63.419553,2.286357,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,325600.765809
527,2141,56,1,53.733677,4.323046,1.0,24,1,2015,0.000000,B,B,23,5067,4,900.0,2,6,B,208773.977243
560,8149,6,2,71.904226,4.171094,1.0,9,25,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,184050.456761
655,34,6,3,78.380053,4.003157,1.0,23,25,2019,0.243205,B,B,5,1564,0,540.0,0,0,B,206647.245666
674,10631,88,1,42.571618,1.941521,1.0,6,1,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,130374.241595
682,2913,34,4,94.888593,2.637095,1.0,4,1,2018,0.069753,B,B,53,13670,4,900.0,1,11,B,346949.506507
683,15091,27,2,66.535842,1.638083,1.0,6,1,1977,0.017647,B,B,2,469,0,900.0,0,0,B,175067.233991
695,1867,30,1,54.626206,4.651397,1.0,4,3,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,87456.520038
707,4345,62,1,49.275155,1.377284,1.0,5,1,2020,0.072158,B,B,2,629,1,900.0,0,0,A,135353.885620
734,4319,62,1,51.815214,4.203073,1.0,6,1,1977,0.072158,B,B,2,629,1,900.0,0,0,A,137880.620962
751,11989,62,3,104.446306,1.451067,1.0,12,15,2015,0.072158,B,B,2,629,1,900.0,0,0,A,223692.672480
765,7060,27,1,38.651043,5.822657,1.0,7,17,1977,0.011654,B,B,4,915,0,900.0,0,0,B,103210.010325
850,2470,6,1,43.312025,1.404493,1.0,11,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,128588.741321
882,1250,53,2,56.290825,5.142822,1.0,2,19,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,294282.721375
1169,14866,6,1,38.818170,5.927865,1.0,18,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,131405.866884
1175,3527,9,1,72.035396,2.358992,1.0,5,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,191744.615408
1214,6366,6,1,47.804946,2.553024,1.0,6,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,133552.372112
1215,6189,53,2,58.896686,5.735331,1.0,18,19,2014,0.049637,B,B,34,7759,0,229.0,1,3,B,286784.105825
1316,11526,27,1,46.334984,1.969969,1.0,18,1,1977,0.011654,B,B,4,915,0,900.0,0,0,B,107604.269441
1410,1843,74,1,49.635712,3.411048,1.0,4,1,1977,0.309479,B,B,35,7715,4,990.0,0,6,B,146838.036852
1504,2967,1,1,62.494611,3.489694,0.0,1,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,193568.854208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8487,11829,34,4,98.047744,1.451846,1.0,16,1,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,366655.111294
8543,16090,6,3,77.847057,2.941437,1.0,12,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,221644.916098
8561,12503,6,2,74.273400,5.615401,1.0,12,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,188118.364308
8601,467,9,2,45.924840,2.907493,1.0,10,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,124016.667294
8615,6814,52,2,66.544692,2.179808,1.0,2,17,2018,0.371149,B,B,34,7065,1,750.0,2,5,B,183784.694445
8711,8601,6,3,80.968060,1.239622,1.0,6,17,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,217669.112875
8715,1936,74,1,53.835574,1.185864,0.0,7,7,2018,0.075779,B,B,6,1437,3,900.0,0,2,B,185976.351147
8855,4512,9,2,64.977910,5.768457,1.0,11,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,194036.364634
8882,14112,23,2,53.043172,4.855507,1.0,4,1,1977,0.034656,B,B,0,168,0,900.0,0,0,B,89801.732879
8886,2056,9,1,47.301790,5.125908,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,138880.254465
8908,10684,22,1,41.872590,2.347250,1.0,3,1,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,136609.809831
8971,6749,23,2,65.204976,2.467002,0.0,9,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,167560.543204
8973,14254,27,2,73.275697,2.861966,1.0,2,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,171980.001444
9177,13951,45,1,39.225914,2.372105,1.0,24,24,2017,0.195781,B,B,23,5212,6,900.0,3,2,B,271893.118572
9192,1754,6,1,61.978423,3.943299,1.0,1,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,177116.339701
9264,5458,9,2,62.920673,1.591420,1.0,7,1,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,180234.142008
9291,15165,74,2,83.259565,5.387263,1.0,12,1,2017,0.309479,B,B,35,7715,4,990.0,0,6,B,260852.230977
9294,6782,45,1,29.543086,5.257278,1.0,3,1,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,438005.182323
9299,8687,48,1,42.840915,2.608669,1.0,19,17,1977,0.041125,B,B,46,9515,5,900.0,1,10,B,236378.466217
9316,15449,6,2,62.548496,3.645893,1.0,16,25,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,191217.348124
9396,3745,30,1,42.457169,3.259832,1.0,10,25,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B,155348.833619
9576,7389,23,1,52.028804,4.295819,0.0,8,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,98638.755928
9602,5112,6,2,63.591740,0.795539,10.0,17,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,174741.998061
9613,7657,38,1,45.027837,4.618547,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083
9748,14053,27,2,56.564445,2.616535,1.0,7,12,2015,0.011654,B,B,4,915,0,900.0,0,0,B,141086.005616
9756,13583,27,2,58.943039,3.319486,1.0,11,17,2017,0.011654,B,B,4,915,0,900.0,0,0,B,142789.948977
9813,2040,62,1,122.438148,5.751401,1.0,2,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,224900.897679
9828,13630,24,3,127.141143,4.811405,1.0,3,1,2017,0.111627,B,B,50,12238,8,1970.0,2,3,B,611250.912034
9888,6053,6,1,41.314775,5.005477,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,159149.515475
9954,583,27,3,84.250710,4.187885,1.0,15,1,2016,0.072158,B,B,2,629,1,900.0,0,0,A,236647.781363

In [236]:
df.loc[df['LifeSquare'] < 10, 'LifeSquare'] = df.loc[df['LifeSquare'] < 10, 'LifeSquare'] * 10

In [237]:
df[df['LifeSquare'] < 10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3,106.958871,6.418221,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
4853,3224,27,2,23.772476,8.731467,0.0,1,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6609,13491,0,1,38.178277,3.706194,0.0,19,17,2016,0.006076,B,B,30,5285,0,645.0,6,6,B,105134.286994
9602,5112,6,2,63.591740,7.955395,10.0,17,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,174741.998061

In [238]:
df.loc[df['LifeSquare'] < 10, 'LifeSquare'] = df.loc[df['LifeSquare'] < 10, 'LifeSquare'] * 10

#### KitchenSquare:

In [239]:
df[df['KitchenSquare'] == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2,4765,53,2,44.947953,29.197612,0.0,8,12,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
7,11993,74,2,80.312926,70.312926,0.0,14,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,221244.156664
23,6641,54,3,118.907612,108.907612,0.0,2,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,571069.052600
26,4378,27,3,106.958871,64.182211,0.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
39,9371,23,2,60.503248,50.503248,0.0,16,0,1977,0.034656,B,B,0,168,0,900.0,0,0,B,229778.057902
42,9833,1,2,56.494318,54.723569,0.0,9,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,196078.907289
44,10521,38,3,104.211396,106.340403,0.0,20,0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
52,2301,1,2,61.400054,65.224603,0.0,17,22,2016,0.007122,B,B,1,264,0,900.0,0,1,B,199215.452229
65,11398,62,1,41.194188,31.194188,0.0,6,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,114063.092041
70,10362,27,2,79.227049,69.227049,0.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,167023.973143
71,2136,74,2,84.687732,81.905552,0.0,12,17,2017,0.075779,B,B,6,1437,3,900.0,0,2,B,243479.876105
72,14675,74,1,52.457589,52.423345,0.0,18,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,160292.163702
161,4263,27,1,54.255191,51.135219,0.0,5,3,2017,0.072158,B,B,2,629,1,900.0,0,0,A,147040.226120
167,7023,1,2,71.005575,61.005575,0.0,11,9,1977,0.007122,B,B,1,264,0,900.0,0,1,B,245130.106637
195,4645,54,2,76.312851,66.312851,0.0,14,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,466730.805333
223,4622,27,2,62.153994,36.094352,0.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194091.992560
231,2540,6,3,82.353023,72.353023,0.0,13,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216199.817761
234,12633,27,3,81.867166,81.884548,0.0,12,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,182228.520030
244,13137,23,1,43.790432,33.790432,0.0,10,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,121517.604121
246,790,23,1,41.074417,31.074417,0.0,9,17,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,117742.435249
252,8139,27,2,58.553809,48.553809,0.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,177511.314827
296,513,27,2,57.134181,47.134181,0.0,16,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,145814.838433
300,2395,1,2,64.699994,61.287766,0.0,4,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,164312.216193
320,11173,6,2,62.648779,52.648779,0.0,6,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,182625.548872
333,11210,27,2,68.453814,66.918934,0.0,15,17,1977,0.017647,B,B,2,469,0,900.0,0,0,B,199508.379820
339,11563,8,1,50.390862,41.642898,0.0,32,32,2008,0.092291,B,B,21,4346,2,165.0,1,2,B,97480.845791
341,13457,6,1,40.326128,30.326128,0.0,16,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,123044.213699
397,6781,58,1,53.161505,43.161505,0.0,9,9,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,113898.478111
400,2453,52,2,68.111212,64.181422,0.0,4,17,2019,0.371149,B,B,34,7065,1,750.0,2,5,B,176037.781296
444,6224,59,3,106.349245,96.349245,0.0,7,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,504820.057913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9534,15563,27,2,78.553375,68.553375,0.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,181955.274013
9535,4880,27,2,66.740267,56.740267,0.0,8,22,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,144361.253296
9562,2819,52,2,68.935850,58.935850,0.0,16,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,168600.632600
9573,805,27,3,80.701454,70.701454,0.0,12,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,174758.681454
9576,7389,23,1,52.028804,42.958189,0.0,8,9,1977,0.014073,B,B,2,475,0,900.0,0,0,B,98638.755928
9578,11382,27,2,54.861381,44.861381,0.0,2,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,171999.571369
9593,2553,62,2,56.560809,46.560809,0.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,153997.912192
9604,7979,6,1,47.671275,37.671275,0.0,20,25,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,143413.341742
9606,12136,1,1,51.953707,41.953707,0.0,2,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,148682.719427
9616,12557,6,2,66.501773,56.501773,0.0,14,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,184303.152266
9626,3742,1,1,53.258610,56.655126,0.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,161799.240623
9628,14936,27,3,103.587261,93.587261,0.0,8,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,225901.938089
9660,11320,27,1,41.299844,31.299844,0.0,7,17,1977,0.011654,B,B,4,915,0,900.0,0,0,B,112163.693968
9695,12400,23,3,80.789885,70.789885,0.0,2,3,1977,0.034656,B,B,0,168,0,900.0,0,0,B,195153.874862
9696,14403,6,1,39.772905,29.772905,0.0,13,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,127276.643909
9707,12302,30,1,46.072913,48.307844,0.0,4,0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9730,8644,58,3,80.957312,70.957312,0.0,6,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,194401.074453
9740,3241,6,1,42.706178,32.706178,0.0,7,17,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,123219.343537
9769,9384,59,3,98.607328,88.607328,0.0,14,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,492700.257473
9793,5766,1,3,80.006748,83.793062,0.0,17,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,235519.716480
9830,8556,58,1,42.488774,32.488774,0.0,15,17,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,133135.515468
9878,11441,62,2,71.985335,72.453232,0.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,158841.624543
9908,3171,62,1,35.873961,25.873961,0.0,25,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,134379.130962
9944,16160,27,2,60.396765,50.396765,0.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,211810.600728
9946,4470,62,3,89.915337,79.915337,0.0,13,15,1977,0.072158,B,B,2,629,1,900.0,0,0,A,191229.098911
9948,8438,1,2,66.736039,56.736039,0.0,16,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,199237.847364
9953,5365,1,2,61.049491,51.049491,0.0,11,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,190085.168584
9960,9307,1,2,57.376642,47.376642,0.0,8,25,2016,0.007122,B,B,1,264,0,900.0,0,1,B,104450.496477
9965,6612,27,2,59.460685,49.460685,0.0,15,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,135784.320930
9987,15623,23,2,55.620092,45.620092,0.0,2,4,1977,0.034656,B,B,0,168,0,900.0,0,0,B,115797.553006

In [240]:
df.loc[df['KitchenSquare'] == 0, 'KitchenSquare'] = df['KitchenSquare'].median()

In [241]:
df[df['LifeSquare'] > df['Square']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
28,8054,23,1,42.530043,43.967759,1.0,3,9,2014,0.034656,B,B,0,168,0,900.0,0,0,B,95338.198549
44,10521,38,3,104.211396,106.340403,6.0,20,0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
52,2301,1,2,61.400054,65.224603,6.0,17,22,2016,0.007122,B,B,1,264,0,900.0,0,1,B,199215.452229
123,8753,25,3,85.952306,89.803753,1.0,4,3,2017,0.069753,B,B,53,13670,4,900.0,1,11,B,309688.592681
153,9870,62,1,51.831473,53.491301,1.0,5,1,2015,0.072158,B,B,2,629,1,900.0,0,0,A,131797.472284
178,2416,57,1,29.298168,29.770784,5.0,7,5,1964,0.133215,B,B,49,11395,3,1406.0,3,4,A,148991.265200
184,3398,74,1,48.743665,51.011232,1.0,12,20,2017,0.075779,B,B,6,1437,3,900.0,0,2,B,165071.825722
212,1748,88,2,54.970614,67.628717,1.0,24,22,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,412511.088764
217,5540,27,3,57.643613,59.425078,9.0,16,10,1977,0.072158,B,B,2,629,1,900.0,0,0,A,198351.892455
234,12633,27,3,81.867166,81.884548,6.0,12,19,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,182228.520030
236,3916,1,1,43.084413,47.071617,1.0,9,7,2017,0.007122,B,B,1,264,0,900.0,0,1,B,169749.173815
237,3851,52,2,65.388475,66.591815,1.0,13,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,180706.641204
270,15215,17,1,46.692974,59.414012,1.0,7,1,2015,0.000000,B,B,18,3374,5,620.0,1,2,B,212290.684086
271,7674,30,2,51.283020,51.575295,1.0,5,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,174735.177184
315,14899,27,1,37.370830,39.184607,1.0,25,1,2015,0.072158,B,B,2,629,1,900.0,0,0,A,126997.374189
342,7815,6,1,74.609609,78.533293,1.0,16,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216181.637056
343,716,113,3,125.287183,127.477137,19.0,26,24,2017,0.050756,B,B,24,5469,1,145.0,0,1,B,522197.035995
358,6006,62,3,121.844004,122.497641,1.0,3,3,1977,0.072158,B,B,2,629,1,900.0,0,0,A,193847.642016
369,61,1,1,54.307727,55.926217,1.0,4,1,2017,0.007122,B,B,1,264,0,900.0,0,1,B,170313.288861
378,15443,1,1,37.885188,40.313322,10.0,12,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,142654.169709
379,8104,52,1,37.496336,38.964704,10.0,7,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,105567.296556
392,15246,1,2,64.067854,65.081193,1.0,12,24,1977,0.007122,B,B,1,264,0,900.0,0,1,B,219119.838433
401,2123,58,3,93.905616,94.958481,1.0,3,12,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,209500.276014
478,10391,62,1,37.498161,40.371530,1.0,21,25,1977,0.072158,B,B,2,629,1,900.0,0,0,A,131037.880968
495,10071,27,2,34.665783,36.079447,9.0,3,12,2016,0.072158,B,B,2,629,1,900.0,0,0,A,103182.855154
498,12796,6,1,59.816412,60.823136,1.0,24,1,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,175042.816715
506,9552,23,1,105.432181,106.178175,6.0,3,2,1977,0.014073,B,B,2,475,0,900.0,0,0,B,218718.046451
544,2467,23,3,63.837671,64.300575,1.0,4,4,1977,0.034656,B,B,0,168,0,900.0,0,0,B,131822.840338
554,5738,52,2,66.795666,67.051654,1.0,3,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,163644.441984
561,11692,113,2,70.566571,70.694221,12.0,28,30,2014,0.050756,B,B,24,5469,1,145.0,0,1,B,333862.631152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9492,5367,1,3,81.227389,81.655818,6.0,14,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,218595.265514
9582,3414,6,2,60.913076,63.262528,1.0,3,25,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,188798.096524
9584,8403,9,2,56.690554,56.917296,1.0,8,9,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,178622.857430
9589,16638,38,1,106.260300,109.246660,1.0,4,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,509162.416594
9594,7113,62,1,43.906426,44.082779,1.0,13,12,2017,0.072158,B,B,2,629,1,900.0,0,0,A,113398.504559
9595,7249,6,3,73.171947,74.858927,1.0,7,1,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,198935.416918
9597,833,27,1,44.260288,45.602761,10.0,3,7,2015,0.011654,B,B,4,915,0,900.0,0,0,B,127451.321192
9602,5112,6,2,63.591740,79.553947,10.0,17,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,174741.998061
9613,7657,38,1,45.027837,46.185468,1.0,28,1,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083
9626,3742,1,1,53.258610,56.655126,6.0,6,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,161799.240623
9630,10021,27,1,41.755282,41.857484,1.0,13,20,2014,0.211401,B,B,9,1892,0,900.0,0,1,B,94667.059626
9646,6996,23,2,53.054415,54.677693,1.0,3,12,2017,0.034656,B,B,0,168,0,900.0,0,0,B,113758.662147
9681,47,2,2,45.053898,47.329346,5.0,2,5,1967,0.000000,B,B,33,7425,1,900.0,2,5,B,196512.596034
9707,12302,30,1,46.072913,48.307844,6.0,4,0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9721,396,54,3,110.119100,110.333763,1.0,8,1,2015,0.006076,B,B,30,5285,0,645.0,6,6,B,491296.245173
9742,9941,46,3,64.642890,66.400030,6.0,6,17,1981,0.188784,B,B,31,6137,4,900.0,0,1,B,283398.090350
9772,6968,6,3,74.505045,75.735479,1.0,15,22,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,210702.868554
9793,5766,1,3,80.006748,83.793062,6.0,17,17,1977,0.007122,B,B,1,264,0,900.0,0,1,B,235519.716480
9799,7483,27,1,37.590772,41.074410,1.0,5,19,2017,0.211401,B,B,9,1892,0,900.0,0,1,B,95145.924046
9807,10088,30,1,37.191204,37.837798,1.0,17,17,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,147568.713397
9826,5270,6,1,39.485203,39.525667,1.0,16,17,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,124034.514085
9864,8807,38,1,46.905050,49.715060,10.0,8,17,2019,0.060753,B,B,15,2787,2,520.0,0,7,B,256650.658085
9871,6121,48,1,41.783808,41.944790,1.0,17,1,2014,0.041125,B,B,46,9515,5,900.0,1,10,B,200879.624324
9878,11441,62,2,71.985335,72.453232,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,158841.624543
9884,41,30,2,59.015896,59.439082,12.0,5,5,2016,0.000078,B,B,22,6398,141,1046.0,3,23,B,126281.142781
9888,6053,6,1,41.314775,50.054774,1.0,9,17,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,159149.515475
9889,12918,23,2,51.440463,53.134243,51.0,3,17,2017,0.005767,B,B,1,388,0,900.0,0,0,B,88150.012510
9895,2737,27,3,123.430072,125.806981,123.0,5,10,2015,0.017647,B,B,2,469,0,900.0,0,0,B,234194.837047
9902,14001,73,1,44.098768,44.267551,1.0,7,24,2014,0.042032,B,B,37,6856,84,1940.0,2,5,B,381937.404161
9910,16568,27,4,200.334539,201.627361,25.0,1,2,2013,0.041116,B,B,53,14892,4,900.0,1,4,B,528560.506016

In [242]:
df.loc[df['LifeSquare'] > df['Square'], 'LifeSquare'] = df['Square']-10

In [243]:
df[df['KitchenSquare'] > df['LifeSquare']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
227,16395,2,3,79.722243,44.731219,72.0,12,16,1987,0.130618,B,B,39,10418,9,900.0,1,9,B,370148.625285
551,1315,6,1,48.128114,45.023531,48.0,21,1,2013,0.243205,B,B,5,1564,0,540.0,0,0,B,146950.912410
1064,14656,62,1,47.100719,46.447960,2014.0,4,1,2014,0.072158,B,B,2,629,1,900.0,0,0,A,108337.484207
1369,2371,27,2,68.841073,64.234956,66.0,4,2,2014,0.017647,B,B,2,469,0,900.0,0,0,B,189244.249909
1860,4265,161,2,53.216778,32.644859,53.0,7,17,1994,0.000699,B,B,14,3369,24,4129.0,0,3,B,261125.669724
1972,15691,62,1,41.735073,12.423180,14.0,3,15,2010,0.072158,B,B,2,629,1,900.0,0,0,A,80331.107871
2916,12390,72,3,97.490674,87.490674,96.0,22,25,2019,0.210473,B,B,11,2398,2,1994.0,3,0,B,445074.956552
3166,15127,150,1,17.046188,7.046188,8.0,7,12,1982,0.300323,B,B,52,10311,6,900.0,1,9,B,74222.110465
3379,16781,27,1,36.138409,26.138409,36.0,19,19,2017,0.072158,B,B,2,629,1,900.0,0,0,A,131742.536281
4079,6508,23,2,67.146049,33.959154,63.0,5,17,2019,0.034656,B,B,0,168,0,900.0,0,0,B,193130.585871
4142,15466,88,1,42.357487,32.357487,41.0,10,19,2016,0.127376,B,B,43,8429,3,900.0,3,9,B,194525.103119
4588,448,48,1,41.186904,16.265021,41.0,2,1,1977,0.041125,B,B,46,9515,5,900.0,1,10,B,216882.265408
4739,12676,81,3,13.784865,3.784865,7.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
5149,13703,42,1,38.071692,19.723548,73.0,9,10,2006,0.158249,B,B,21,5731,0,900.0,1,0,B,160488.033165
5232,5826,23,1,55.282148,11.168019,20.0,4,3,2013,0.014073,B,B,2,475,0,900.0,0,0,B,157140.848998
5480,15781,10,1,35.813564,19.953992,35.0,6,14,1971,0.282798,B,B,33,8667,2,900.0,0,6,B,164306.314182
5617,15877,57,3,16.547242,6.547242,8.0,5,5,1962,0.133215,B,B,49,11395,3,1406.0,3,4,A,77835.185808
5653,8500,31,1,80.606246,25.299592,29.0,6,40,2014,0.151346,B,A,32,5889,10,830.0,4,1,B,460492.010947
5786,7857,27,2,43.956044,10.523868,19.0,15,17,2006,0.075424,B,B,11,3097,0,900.0,0,0,B,143688.076514
5849,11624,46,1,42.983283,24.224435,37.0,15,16,1983,0.188784,B,B,31,6137,4,900.0,0,1,B,198450.736353
5888,16593,52,2,64.859242,54.859242,62.0,15,17,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,185993.474671
6036,12666,34,2,60.603363,24.008321,58.0,14,22,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,261733.472106
6240,4966,96,3,78.445675,47.146757,75.0,9,12,1977,0.041116,B,B,53,14892,4,900.0,1,4,B,290354.484070
7088,6569,27,1,38.220258,18.716856,84.0,4,17,2018,0.011654,B,B,4,915,0,900.0,0,0,B,99079.960518
8232,7162,34,2,56.738764,46.738764,54.0,26,25,2016,0.069753,B,B,53,13670,4,900.0,1,11,B,244220.621495
8556,16575,27,1,32.712359,11.047605,13.0,8,25,2016,0.072158,B,B,2,629,1,900.0,0,0,A,94433.038958
8584,14679,81,1,32.276663,19.278394,1970.0,6,1,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,105539.556275
9111,6708,48,1,42.069359,22.487739,39.0,1,10,2010,0.041125,B,B,46,9515,5,900.0,1,10,B,200021.835127
9317,13288,161,1,50.808925,15.920343,20.0,8,9,1910,0.014423,B,B,19,3806,4,900.0,0,3,B,287954.720682
9889,12918,23,2,51.440463,41.440463,51.0,3,17,2017,0.005767,B,B,1,388,0,900.0,0,0,B,88150.012510
9895,2737,27,3,123.430072,113.430072,123.0,5,10,2015,0.017647,B,B,2,469,0,900.0,0,0,B,234194.837047

In [244]:
df.loc[df['KitchenSquare'] > df['LifeSquare'], 'KitchenSquare'] = df['KitchenSquare'].median()

In [245]:
df[df['KitchenSquare'] > df['LifeSquare']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4739,12676,81,3,13.784865,3.784865,6.0,4,5,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186

In [246]:
df.loc[df['Id'] == 12676, 'Square'] = df['Square']*10

In [247]:
df.loc[df['Id'] == 12676, 'LifeSquare'] = df['LifeSquare']*10

In [248]:
df[df['Rooms'] > 5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10,59.056975,36.223072,10.0,22,22,2002,0.090799,B,B,74,19083,2,900.0,5,15,B,317265.323792
1454,8491,1,19,42.006046,21.779288,7.0,17,17,2014,0.007122,B,B,1,264,0,900.0,0,1,B,78364.616704
2170,14003,99,6,59.414334,38.702244,6.0,7,9,1969,0.033494,B,B,66,10573,1,1322.0,3,8,B,229661.964416
8849,14865,9,10,60.871266,38.420681,10.0,3,2,1994,0.161532,B,B,25,5648,1,30.0,2,4,B,172329.270863

In [249]:
df.loc[df['Rooms'] > 5, 'Rooms'] = 2

In [250]:
df[(df['Square'] > 200) & (df['Rooms'] < 4)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,2,212.932361,211.231125,6.0,2,3,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
4262,28,9,2,604.705972,594.705972,1.0,17,18,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187717.242538
4690,2307,102,1,409.425181,399.425181,10.0,4,4,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,90470.430830
6977,11602,30,2,641.065193,638.163193,10.0,20,19,2019,0.000078,B,B,22,6398,141,1046.0,3,23,B,133529.681562

In [251]:
df.loc[(df['Square'] > 200) & (df['Rooms'] < 4),'LifeSquare'] = df['LifeSquare'].median()

In [252]:
df.loc[(df['Square'] > 200) & (df['Rooms'] < 4),'Square'] = df['Square'].median()

In [253]:
df[df['HouseFloor'] == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2,80.312926,70.312926,6.0,14,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,221244.156664
23,6641,54,3,118.907612,108.907612,6.0,2,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,571069.052600
26,4378,27,3,106.958871,64.182211,6.0,17,0,2018,0.072158,B,B,2,629,1,900.0,0,0,A,337299.867936
39,9371,23,2,60.503248,50.503248,6.0,16,0,1977,0.034656,B,B,0,168,0,900.0,0,0,B,229778.057902
44,10521,38,3,104.211396,94.211396,6.0,20,0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
65,11398,62,1,41.194188,31.194188,6.0,6,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,114063.092041
70,10362,27,2,79.227049,69.227049,6.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,167023.973143
195,4645,54,2,76.312851,66.312851,6.0,14,0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,466730.805333
223,4622,27,2,62.153994,36.094352,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,194091.992560
252,8139,27,2,58.553809,48.553809,6.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,177511.314827
444,6224,59,3,106.349245,96.349245,6.0,7,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,504820.057913
501,15923,27,1,26.553188,16.553188,6.0,25,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,114256.236153
556,8610,35,1,47.410775,37.410775,6.0,4,0,1977,0.089040,B,B,33,7976,5,900.0,0,11,B,218138.095955
562,6916,27,1,43.011789,22.158763,6.0,17,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,179806.820951
594,8093,45,2,62.933064,52.933064,6.0,18,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,339455.271154
667,9684,88,3,86.431890,76.431890,6.0,11,0,1977,0.127376,B,B,43,8429,3,900.0,3,9,B,341533.892142
700,11548,27,2,41.610104,31.610104,6.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,120724.056008
730,12947,53,2,56.023342,46.023342,6.0,14,0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,247074.564832
805,15931,1,2,77.330279,67.330279,6.0,1,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,182657.618386
823,1498,45,3,83.515103,73.515103,6.0,11,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,429445.711752
839,9925,62,1,42.805164,32.805164,6.0,14,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,128889.593406
847,11828,27,1,52.539365,42.539365,6.0,11,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,140577.204332
861,15131,27,2,60.299356,50.299356,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,192309.274140
889,3429,27,1,47.020680,37.020680,6.0,8,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,163649.474447
896,6036,95,1,46.248238,36.248238,6.0,5,0,1977,0.000699,B,B,14,3369,24,4129.0,0,3,B,516315.770611
900,8940,34,1,26.811587,16.811587,6.0,18,0,1977,0.069753,B,B,53,13670,4,900.0,1,11,B,175399.643453
924,11875,6,2,65.070052,55.070052,6.0,11,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,179219.981625
929,1827,27,1,38.037790,28.037790,6.0,7,0,1977,0.011654,B,B,4,915,0,900.0,0,0,B,101365.588283
932,9383,24,2,88.407297,78.407297,6.0,2,0,1977,0.111627,B,B,50,12238,8,1970.0,2,3,B,427473.921933
942,4711,6,1,41.224118,31.224118,6.0,8,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,125612.639104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8888,184,23,1,56.786709,46.786709,6.0,3,0,1977,0.014073,B,B,2,475,0,900.0,0,0,B,107003.351865
8893,11090,1,1,41.197082,40.808976,6.0,12,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,127436.921010
8930,11532,23,2,55.550541,45.550541,6.0,7,0,1977,0.034656,B,B,0,168,0,900.0,0,0,B,116068.875171
8954,6581,62,2,65.131558,55.131558,6.0,11,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,156791.155868
8979,13670,22,1,87.485627,77.485627,6.0,16,0,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,361744.269547
8996,15661,45,3,81.094922,71.094922,6.0,15,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,442472.456032
9014,4405,74,2,71.207458,61.207458,6.0,5,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,244700.814865
9030,8329,62,3,86.443771,76.443771,6.0,3,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,197124.921010
9057,14564,34,4,97.524848,97.046136,1.0,20,0,2016,0.069753,B,B,53,13670,4,900.0,1,11,B,401035.038716
9087,7767,1,2,90.856881,80.856881,6.0,11,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,287460.543713
9092,13884,45,2,62.460577,52.460577,6.0,5,0,1977,0.195781,B,B,23,5212,6,900.0,3,2,B,349101.623151
9122,9150,6,1,43.067590,33.067590,6.0,18,0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,126401.276372
9199,8755,62,2,79.329878,69.329878,6.0,17,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,202549.009085
9219,1737,23,1,59.963701,49.963701,6.0,9,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,171461.857684
9268,13665,62,2,57.717659,47.717659,6.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,176072.619971
9312,12761,27,1,37.667044,15.894112,8.0,9,0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,115037.087485
9359,842,74,1,52.133425,42.133425,6.0,18,0,1977,0.075779,B,B,6,1437,3,900.0,0,2,B,189274.011249
9395,16371,62,3,88.961872,78.961872,6.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,214155.478531
9432,338,46,5,147.709302,137.709302,6.0,6,0,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,352168.955975
9458,3974,23,3,70.740638,60.740638,13.0,4,0,1977,0.005767,B,B,1,388,0,900.0,0,0,B,101223.446298
9534,15563,27,2,78.553375,68.553375,6.0,7,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,181955.274013
9573,805,27,3,80.701454,70.701454,6.0,12,0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,174758.681454
9593,2553,62,2,56.560809,46.560809,6.0,9,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,153997.912192
9606,12136,1,1,51.953707,41.953707,6.0,2,0,1977,0.007122,B,B,1,264,0,900.0,0,1,B,148682.719427
9628,14936,27,3,103.587261,93.587261,6.0,8,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,225901.938089
9707,12302,30,1,46.072913,36.072913,6.0,4,0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9769,9384,59,3,98.607328,88.607328,6.0,14,0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,492700.257473
9878,11441,62,2,71.985335,61.985335,6.0,5,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,158841.624543
9908,3171,62,1,35.873961,25.873961,6.0,25,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,134379.130962
9944,16160,27,2,60.396765,50.396765,6.0,10,0,1977,0.072158,B,B,2,629,1,900.0,0,0,A,211810.600728

In [254]:
df.loc[df['HouseFloor'] == 0,'HouseFloor'] = df['Floor'] + df['Floor']%10

In [259]:
df[(df['HouseYear'] < 1900) & (df['HouseYear'] > 2019)]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []